<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Registro de marca
            </div>
            <hr class="mt-0">
            <div class="card-body">
                <h4 class="card-title">Ingrese la información de la marca</h4>
                <form ngNativeValidate [formGroup]="formulario" class="form-horizontal r-separator" (ngSubmit)="registrarMarca()" action="index.html">
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputRuc" class="col-md-3 text-right control-label col-form-label">RUC del productor</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <input type="text" class="form-control" (keyup)="mascara($event,'ruc')" #idProductor name="inputRuc" placeholder="Ingrese el ruc del productor">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" (click)="cargarGanaderos(idProductor.value)"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputRuc" class="col-md-3 text-right control-label col-form-label">Productor</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select class="form-control" formControlName="inputRuc">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <ng-container *ngFor="let productor of listaGanaderos">
                                    <option  value="{{productor.numero_identificacion}}">{{productor.numero_identificacion}} - {{productor.nombres}} {{productor.apellidos}}</option>
                                </ng-container>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputRuc.errors?.required && formulario.touched">
                                Seleccione un productor
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputCodigo" class="col-md-3 text-right control-label col-form-label">Código de marca</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputCodigo" name="inputCodigo" placeholder="Código del registro de marca">
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputCodigo.errors?.required && formulario.touched">
                                Ingrese el código del registro de marca.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="imagenMarca" class="col-md-3 text-right control-label col-form-label">Imagen de la marca:</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="file" class="file" data-browse-on-zone-click="true" name="imagenMarca" formControlName="imagenMarca" (change)="seleccionarArchivoImagen($event)" />
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</div>

