<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Registrar incidente
            </div>
            <hr class="mt-0">
            <form class="form-horizontal r-separator" ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarIncidente()" class="form-horizontal r-separator" action="index.html">
                <div class="card-body">
                    <h4 class="card-title">Información del incidente</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputProceso" class="col-md-3 text-right control-label col-form-label">Proceso</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control col-md-9" formControlName="inputProceso" name="inputProceso">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let proceso of listaProcesos" value="{{proceso.id_tipo_proceso}}">{{proceso.nombre}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputProceso.errors?.required && formulario.touched">
                                Seleccione un proceso
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputCriterio" class="col-md-3 text-right control-label col-form-label">Criterio</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control col-md-9" formControlName="inputCriterio" name="inputCriterio">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let criterio of listaCriterios" value="{{criterio.id_tipo_criterio_incidente}}">{{criterio.nombre}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputCriterio.errors?.required && formulario.touched">
                                Seleccione un criterio
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputUsuarioReportado" class="col-md-3 text-right control-label col-form-label">Número de identificación del usuario reportado</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <input type="text" class="form-control" (keyup)="mascara($event,'numerico')" #idUsuarioReportado name="inputUsuarioReportado" placeholder="Ingrese la identificación del usuario reportado">
                            <div class="col-md-6 input-group-append">
                                <button class="btn btn-success" type="button" (click)="buscarUsuarios(idUsuarioReportado.value)"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label  class="col-md-3 text-right control-label col-form-label">Usuario reportado</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label type="text" class="form-control">{{usuario.nombres}} {{usuario.apellidos}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputSitio" class="col-md-3 text-right control-label col-form-label">Código Catastral del Predio</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" #idSitio name="inputSitio" placeholder="Ingrese el código catastral del predio">
                            <div class="col-md-6 input-group-append">
                                <button class="btn btn-success" type="button" (click)="buscarSitios(idSitio.value)"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Nombre del Predio</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <label type="text" class="form-control">{{sitio.nombre}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputFechaIncidente" class="col-md-3 text-right control-label col-form-label">Fecha de incidente</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input formControlName="inputFechaIncidente" type="date" class="form-control" placeholder="Fecha de incidente">
                            <div class="invalid-feedback" *ngIf="formulario.controls['inputFechaIncidente'].status==='INVALID' && formulario.touched">
                                Ingrese la fecha del incidente.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputFechaReporte" class="col-md-3 text-right control-label col-form-label">Fecha de reporte</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input formControlName="inputFechaReporte" type="date" class="form-control" placeholder="Fecha de nacimiento">
                            <div class="invalid-feedback" *ngIf="formulario.controls['inputFechaReporte'].status==='INVALID' && formulario.touched">
                                Ingrese la fecha de reporte.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputDetalle" class="col-md-3 text-right control-label col-form-label">Detalle</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputDetalle" name="inputDetalle" placeholder="Ingrese el detalle del incidente">
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputDetalle.errors?.required && formulario.touched">
                                Ingrese el detalle del incidente
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

