<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Registrar área de explotación pecuaria bovina (ganadería)
            </div>
            <hr class="mt-0">
            <form class="form-horizontal r-separator" ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarExplotacionPecuaria()" class="form-horizontal r-separator" action="index.html">
                <div class="card-body">
                    <h4 class="card-title">Predio donde desea crear el área <b>(predios activos)</b></h4>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputSitio" class="col-md-3 text-right control-label col-form-label">Predio</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="inputSitio" name="inputSitio">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let sitio of listaSitios" value="{{sitio.idSitio}}">{{sitio.nombre}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputSitio.errors?.required && formulario.touched">
                                Seleccione un predio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Información del Área de Explotación Pecuaria</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputNombre" class="col-md-3 text-right control-label col-form-label">Nombre del área</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control" formControlName="inputNombre" (keyup)="mascara($event,'alfanumerico')" name="inputNombre" placeholder="Ingrese el nombre del área">
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputNombre.errors?.required && formulario.touched">
                                Ingrese el nombre del área
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputActividad" class="col-md-3 text-right control-label col-form-label">Actividad</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="inputActividad" name="inputActividad" #inputActividad (change)="seteaSuperficies(inputActividad.value)">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let actividad of listaTiposActividad" value={{actividad.id_tipo_actividad}}>{{actividad.nombre}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputActividad.errors?.required && formulario.touched">
                                Seleccione la actividad del área
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="this.produccionCarnica && this.superficiesVisible">
                        <label for="inputSuperficieCarne" class="col-md-3 text-right control-label col-form-label">Superficie producción cárnica (Ha)</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control" (keyup)="mascara($event,'decimal')" (change)="sumaSuperficie()" formControlName="inputSuperficieCarne" placeholder="Hectáreas de producción cárnica">
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputSuperficieCarne.errors?.required && formulario.touched">
                                Ingrese la superficie del área
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="this.produccionLechera && this.superficiesVisible">
                        <label for="inputSuperficieLeche" class="col-md-3 text-right control-label col-form-label">Superficie producción lechera (Ha)</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control" (keyup)="mascara($event,'decimal')" (change)="sumaSuperficie()" formControlName="inputSuperficieLeche" placeholder="Hectáreas de producción lechera">
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputSuperficieLeche.errors?.required && formulario.touched">
                                Ingrese la superficie del área
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="this.superficiesVisible">
                        <label for="inputSuperficieHa" class="col-md-3 text-right control-label col-form-label">Superficie total (Ha)</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" readonly class="form-control" formControlName="inputSuperficieHa"  (keyup)="mascara($event,'decimal')" name="inputSuperficieHa" placeholder="Superficie total del área de producción" value="{{this.superficieTotal}}">
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputSuperficieHa.errors?.required && formulario.touched">
                                Ingrese la superficie del área
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
