<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Filtrar númeración de certificados
            </div>
            <form ngNativeValidate [formGroup]="formulariBusqueda" class="form-horizontal r-separator" (ngSubmit)="buscar()">
                    <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Fase</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select formControlName="fase_vacunacion" class="form-control" (change)="cambioFaseVacunacion()">
                                <option [value]="null" selected disabled>Seleccione la fase de vacunación</option>
                                <option *ngFor="let fase of listaFasesVacunacion" [value]="fase.idFaseVacunacion" >{{ fase.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulariBusqueda.controls.fase_vacunacion.errors?.required && formulariBusqueda.touched">
                                Seleccione una fase de vacunación
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Oficinas</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select formControlName="oficina_vacunacion" class="form-control" (change)="cambioOficina()">
                                <option [value]="null" selected disabled>Seleccione una oficina de vacunación</option>
                                <option *ngFor="let persona of listaPersonalOficinas" [value]="persona.idOficina" >{{ persona.nombreOficina }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulariBusqueda.controls.oficina_vacunacion.errors?.required && formulariBusqueda.touched">
                                Seleccione una oficina de vacunación
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Estado</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select formControlName="estado_registro" class="form-control" (change)="cambioEstadoRegistro()">
                                <option [value]="null" selected disabled>Seleccione un estado</option>
                                <option *ngFor="let estado of listaEstadosRegistros" [value]="estado.idEstadoRegistro" >{{ estado.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulariBusqueda.controls.estado_registro.errors?.required && formulariBusqueda.touched">
                                Seleccione un estado
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group mb-0 text-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fas fa-search"></i>
                            </span>
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Números de certificados
                <span class="round rounded-circle text-white d-inline-block text-center bg-warning">{{ listaSecuenciasCertificados.length }}</span>
                <div class="btn-group ml-2" role="group" aria-label="Navegar" >
                    <button (click)="anterior()" type="button" class="btn btn-success" [disabled]="(formulariBusqueda.invalid)  ? true:false" *ngIf="inicio > 0"><i class="fa fa-fast-backward" ></i></button>
                    <!--button type="button" class="btn btn-success"><i class="fa fa-play"></i></button-->
                    <button (click)="siguiente()" type="button" class="btn btn-success" [disabled]="(formulariBusqueda.invalid || listaSecuenciasCertificados.length ===0 ) ? true:false" *ngIf="listaSecuenciasCertificados.length > 0"><i class="fa fa-fast-forward"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Número de certificado</th>
                                <th>Estado</th>
                                <!--th>Observación</th-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let numeroCertificado of listaSecuenciasCertificados">
                                <td>
                                    {{ numeroCertificado.secuencia}}
                                </td>
                                <td>{{ numeroCertificado.nombreEstadoSecuencia }}</td>
                                <!--td> {{ numeroCertificado.observacion }}</td-->
                                <td>
                                    <div class="btn-group" *ngIf="numeroCertificado.codigoEstadoSecuencia === 'CRD'">
                                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ti-settings"></i>
                                        </button>
                                        <div class="dropdown-menu rubberBand">
                                            <a class="dropdown-item cursor-pointer" (click)="cambiarEstado('anulado', numeroCertificado.idSecuencia, numeroCertificado.secuencia)">Anular</a>
                                            <a class="dropdown-item cursor-pointer" (click)="cambiarEstado('deteriorado', numeroCertificado.idSecuencia, numeroCertificado.secuencia)">Marcar dañado</a>
                                            <a class="dropdown-item cursor-pointer" (click)="cambiarEstado('perdido', numeroCertificado.idSecuencia, numeroCertificado.secuencia)">Marcar perdido</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item cursor-pointer" (click)="devolverNumeracion(numeroCertificado)">
                                                <i class="fas fa-reply"></i>
                                                Devolver 
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-visor-pdf>

</app-visor-pdf>