<hr class="mt-0">

<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Consultar catálogo de sitios
            </div>
            <form ngNativeValidate [formGroup]="formularioBusqueda" class="form-horizontal r-separator" (ngSubmit)="buscar()">
                <div class="card-body">
                    
                    <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Provincia</label>
                            <div class="col-md-6 border-left pb-2 pt-2">
                                <select formControlName="provincia" (change)="limpiarTabla()" class="form-control border-secondary">
                                    <option [value]="-1" selected enabled>--- Todas las provincias ---</option>
                                    <option *ngFor="let provincia of listaProvincias" value="{{provincia.id_provincia}}">{{provincia.nombre.toUpperCase()}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Tipo de Área</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                        <select formControlName="tipo_area" (change)="limpiarTabla()" class="form-control border-secondary">
                            <option [value]="null" selected disabled>Seleccione tipo de área</option>
                            <option *ngFor="let area of listaTiposAreas" [value]="area.codigo" >{{ area.nombre.toUpperCase()}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Estado</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <select formControlName="estado" (change)="limpiarTabla()" class="form-control border-secondary">
                                <option [value]="1" selected enabled>ACTIVO</option>
                                <option [value]="0" selected enabled>INACTIVO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Identificación propietario</label>
                        <div class="col-md-5 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary" autocomplete="on" (change)="limpiarTabla()" formControlName="dato" placeholder="Ingrese número de identificación del propietario">
                        </div>
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="fas fa-search"></i>
                                </span>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Tabla con el resultado de la búsqueda -->
<div class="row" *ngIf="this.tablaVisible">
    <div class="col">
        <div class="card border rounded">
            <div class="card-header bg-secondary text-white rounded-top font-weight-bold">
                <span class="font-weight-bold">
                    Sitios registrados
                </span>
                <!-- Cantidad mostrados -->
            <span class="round rounded-circle text-white d-inline-block text-center bg-warning">{{ listaAreas.length }}</span>
             </div>
             <div class="card-body">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th class="badge-light-info font-18">Datos generales del sitio</th>
                                <th class="badge-light-info font-18">Fechas</th>
                                <th class="badge-light-info font-18">Ubicación</th>
                                <th class="badge-light-info text-center font-18">Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let area of listaAreas">
                                <td>
                                    <p><span class="font-weight-bold"></span>{{ area.nombreTipoArea.toUpperCase() }} </p>
                                    <p><span class="font-weight-bold"> {{ area.nombre }} [{{ area.codigoSitio }}] </span></p>
                                    <p><span class="font-weight-bold"></span> [{{ area.numeroIdentificacion }}] {{ area.nombres }} </p>
                                </td>
                                <td>
                                    <p><span class="font-weight-bold">Creación: </span> {{ area.fechaCreacion }} </p>
                                    <p *ngIf="area.fechaVigencia"><span class="font-weight-bold">Inicio vigencia: </span> {{ area.fechaVigencia }} </p>
                                    <p *ngIf="area.fechaFin"><span class="font-weight-bold">Fin vigencia: </span> {{ area.fechaFin }} </p>
                                </td>
                                <td>
                                    <p><span class="font-weight-bold"></span> {{ area.nombreProvinciaSitio.toUpperCase() }} / {{ area.nombreCantonSitio.toUpperCase() }} / {{ area.nombreParroquiaSitio.toUpperCase() }}  </p>
                                    <p><span class="font-weight-bold">Dirección: </span> {{ area.callePrincipalSitio.toUpperCase() }} </p>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-danger" *ngIf="area.estado == 1" (click)="actualizarEstadoSitio(area.idArea,'Inactivar')"><i class="fa fa-times-circle"></i></button>
                                        <button type="button" class="btn btn-success" *ngIf="area.estado == 0" (click)="actualizarEstadoSitio(area.idArea,'Activar')"><i class="fa fa-check-square"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
</div>




<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info font-weight-bold text-white rounded-top">
                Registrar sitio
            </div>
            <hr class="mt-0">
            <form class="form-horizontal r-separator" ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarSitio()" class="form-horizontal r-separator" action="index.html">
                <!-- Propietario de los animales -->
                <div class="card-body">
                    <h4 class="card-title">Propietario</h4>
                    
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">C.C/C.I/RUC/Pasaporte</label>
                            <div class="col-md-3 border-left pb-2 pt-2 input-group">
                                <input type="text" formControlName="inputIdUsuario" (change)="borraDatosUsuario()" class="form-control border-secondary" #ciPropietario placeholder="Ingrese # de identificación">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success border-secondary" (click)="buscarUsuario(ciPropietario.value)"><i class="ti-search"></i></button>
                                    <button type="button" class="btn btn-info border-secondary" (click)="agregarCiudadano()"><i class="ti-plus"></i></button>
                                </div>
                            </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputNombres" class="col-md-3 text-right control-label col-form-label">Apellidos y nombres / Razón social</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control border-secondary" formControlName="inputNombres" name="inputNombres" placeholder="Ingrese Apellidos y Nombres" readonly>
                            </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="estadoUsuario == 1">
                        <label class="col-md-3 text-right control-label col-form-label">Contraseña Temporal</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-7 text-left control-label col-form-label contrasena-temporal">{{this.contrasenaTemporal}}</label>
                            </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="estadoUsuario == 1">
                        <label for="inputEmail" class="col-md-3 text-right control-label col-form-label">Correo Electrónico</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary" formControlName="inputEmail" name="inputEmail" placeholder="Ingrese un correo electrónico válido">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="estadoUsuario == 2">
                        <label for="inputEmail" class="col-md-3 text-right control-label col-form-label">Correo Electrónico</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary" formControlName="inputEmailLock" name="inputEmailLock" readonly>
                        </div>
                    </div>
                </div>
                <!-- Datos del sitio -->
                 <div class="card-body">
                    <hr class="mt-0">
                    <h4 class="card-title">Datos del sitio</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Tipo de Área</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select formControlName="tipo_area" (change)="panelVigencia()" class="form-control border-secondary">
                                <option [value]="null" selected disabled>Seleccione tipo de área</option>
                                <option *ngFor="let area of listaTiposAreas" [value]="area.codigo" >{{ area.nombre.toUpperCase()}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Nombre</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <input formControlName="nombre_predio" type="text" class="form-control text-uppercase border-secondary">
                        </div>
                    </div>
                    <!--<div class="form-group row align-items-center mb-0">
                        <label for="inputSuperficieHa" class="col-md-3 text-right control-label col-form-label">Superficie total (Ha)</label>
                        <div class="col-md-3 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary" formControlName="inputSuperficieHa" (keyup)="mascara($event,'decimal')" name="inputSuperficieHa">
                        </div>
                    </div>-->
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Coordenadas geográficas</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <div class="row">
                                <div class="col">
                                    <h6 class="mb-0 font-weight-medium"> Latitud: </h6>
                                    <input formControlName="latitud" type="text" class="form-control border-secondary">
                                </div>
                                <div class="col">
                                    <h6 class="mb-0 font-weight-medium"> Longitud: </h6>
                                    <input formControlName="longitud" type="text" class="form-control border-secondary">
                                </div>
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.latitud.errors?.pattern && formulario.touched">
                                El valor de la latitud es incorrecto
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.longitud.errors?.pattern && formulario.touched">
                                El valor de la longitud es incorrecto
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <hr class="mt-0">
                    <h4 class="card-title">Datos de ubicación</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputProvincia" class="col-md-3 text-right control-label col-form-label">Provincia</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control border-secondary" formControlName="inputProvincia" name="inputProvincia" #idProvincia (change)="cargarCantonesPorProvincia(idProvincia.value)">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let provincia of listaProvincias" value="{{provincia.id_provincia}}">{{provincia.nombre.toUpperCase()}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputCanton" class="col-md-3 text-right control-label col-form-label">Cantón</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control border-secondary" #idCanton (change)="cargarParroquiasPorCanton(idCanton.value)"  formControlName="inputCanton" name="inputCanton">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let canton of listaCantones" value="{{canton.id_canton}}">{{canton.nombre.toUpperCase()}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputCanton.errors?.required && formulario.touched">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputParroquia" class="col-md-3 text-right control-label col-form-label">Parroquia</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control border-secondary" formControlName="inputParroquia" name="inputParroquia">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let parroquia of listaParroquias" value="{{parroquia.id_parroquia}}">{{parroquia.nombre.toUpperCase()}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputParroquia.errors?.required && formulario.touched">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Calle principal</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <input formControlName="sitio_via" type="text" class="form-control text-uppercase border-secondary">
                            <div class="invalid-feedback d-block" *ngIf="formulario.errors?.requiereSitioVia && formulario.touched">
                                Ingrese calle principal
                            </div>
                        </div>
                    </div>    
                </div>
                <!-- Fechas de vigencia -->
                <div class="card-body" *ngIf="this.pvigencia">
                    <hr class="mt-0">
                    <h4 class="card-title">Vigencia</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Fecha inicio</label>
                        <div class="col-md-2 border-left pb-2 pt-2 input-group">
                            <input formControlName="fecha_inicio" type="date" class="form-control text-center border-secondary" placeholder="Fecha de Inicio">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Fecha fin</label>
                        <div class="col-md-2 border-left pb-2 pt-2 input-group">
                            <input formControlName="fecha_fin" type="date" class="form-control text-center border-secondary" placeholder="Fecha de Inicio">
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Componente para crear un nuevo usuario ciudadano -->
<app-crear-usuario-externo [correo]="false">
</app-crear-usuario-externo>
