<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top">
        Vehiculos
    </div>
    <div class="card-body">
        <div class="row badge-light-info p-3">
            <!--div class="toolbar"-->
            <div class="row w-100">
                <div class="col-sm border-left pb-2 pt-2 pull-right text-right">
                    <button (click)="agregarVehiculo()" class="btn btn-success waves-effect waves-light" type="button">
                        Vehículo
                        <span class="btn-label">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
            <!--/div-->
        </div>
        <div class="row p-3">
            <div class="col table-wrapper-scroll-y custom-scrollbar">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Propietario del vehículo</th>
                            <th>Datos del vehículo</th>
                            <th>Registrador</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehiculo of listaVehiculos">
                            <td>
                                <p><span class="font-weight-bold">CI/RUC: </span> {{ vehiculo.cedulaPropietario }} </p>
                                <p><span class="font-weight-bold">Nombres y apellidos: </span> {{ vehiculo.nombresPropietario }} </p>
                            <td>
                                <p><span class="font-weight-bold">Marca: </span> {{ vehiculo.marca }} </p>
                                <p><span class="font-weight-bold">Modelo: </span> {{ vehiculo.modelo }} </p>
                                <p><span class="font-weight-bold">Año: </span> {{ vehiculo.anio }} </p>
                                <p><span class="font-weight-bold">Cilindraje: </span> {{ vehiculo.cilindraje }} </p>
                                <p><span class="font-weight-bold">Clase: </span> {{ vehiculo.nombreClaseVehiculo }} </p>
                                <p><span class="font-weight-bold">Tipo: </span> {{ vehiculo.nombreTipoVehiculo }} </p>
                            </td>
                            <td>
                                <p><span class="font-weight-bold">Nombres: </span> {{ vehiculo.nombresUsuarioExterno }} {{ vehiculo.apellidosUsuarioExterno }} </p>
                                <p><span class="font-weight-bold">Razón social: </span> {{ vehiculo.razonSocialUsuarioExterno }} </p>
                            </td>
                            <td>
                                <span class="badge badge-light-info rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='R'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                                <span class="badge badge-info rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='H'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                                <span class="badge badge-warning rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='D'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                                <span class="badge badge-danger rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='ER'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-agregar-vehiculo>
</app-agregar-vehiculo>