<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- Panel que muestra la fase, operadora y las oficinas -->
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Oficinas de la operadora
            </div>
            <div class="card-body">
                <form [formGroup]="formularioFaseOperadora"  class="form-horizontal r-separator">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Fase de vacunación</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="fase_vacunacion" (change)="cambioFaseVacunacion()">
                                <option [value]="null" selected disabled>Fase de Vacunación</option>
                                <option *ngFor="let fase of listaFasesVacunaciones" [value]="fase.idFaseVacunacion">{{ fase.nombre }}</option>
                            </select>
                        </div>
                        <label class="col-md-3 text-right control-label col-form-label">Operadora de vacunación</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <h6 class="mb-0 font-weight-medium">{{ operadoraVacunacion?.razonSocial }}</h6>
                            <small class="text-muted">{{ operadoraVacunacion?.nombresRepresentanteLegalUsuarioExterno }} {{ operadoraVacunacion?.apellidosRepresentanteLegalUsuarioExterno}}</small>
                        </div>
                        <label class="col-md-3 text-right control-label col-form-label">Oficinas registradas</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="oficina_operadora" [(ngModel)]="oficinaSeleccionada" (change)="cambioOficina()">
                                <option [value]="null" selected disabled>Seleccione una oficina</option>
                                <option *ngFor="let oficina of listaOficinasOperadoras" [ngValue]="oficina" >{{ oficina.nombre }}</option>
                            </select>
                        </div>
                        <label class="col-md-3 text-right control-label col-form-label">Oficina</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <h6 class="mb-0 font-weight-medium">{{ oficinaSeleccionada?.nombre }}</h6>
                            <small class="text-muted">{{ oficinaSeleccionada?.nombreParroquia }}, {{ oficinaSeleccionada?.nombreCanton }}, {{ oficinaSeleccionada?.nombreProvincia }}</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Digitadores, brigadistas, zonas -->
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Digitadoras
             </div>
             <div class="card-body">
                <form ngNativeValidate [formGroup]="formularioDigitadora" (ngSubmit)="agregarDigitador()" class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Digitadores</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="digitadora" class="form-control">
                                    <option [value]="null" selected disabled>Seleccione una digitador</option>
                                    <option *ngFor="let digitadora of listaDigitadoresDeOperadora" [value]="digitadora.idPersonaOperadora">{{ digitadora.nombresPersonal }} {{ digitadora.apellidosPersonal}}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioDigitadora.controls.digitadora.errors?.required && formularioDigitadora.touched">
                                    Seleccione un digitador de la lista
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Agregar
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <hr class="mt-0">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Identificación</th>
                                <th>Nombres y Apellidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let digitador of listaDigitadoresDeOficina">
                                <td>{{ digitador.numeroIdentificacionPersona }}</td>
                                <td>{{ digitador.nombresPersona }} {{ digitador.apellidosPersona}}</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-outline-secondary font-18" (click)="eliminarDigitador(digitador.idPersonaOficina)"><i class="mdi mdi-delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Brigadistas
             </div>
             <div class="card-body">
                <form ngNativeValidate [formGroup]="formularioBrigadista" (ngSubmit)="agregarBrigadista()" class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Brigadista</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="brigadista" class="form-control">
                                    <option [value]="null" selected disabled>Seleccione una digitador</option>
                                    <option *ngFor="let brigadista of listaBrigadistasDeOperadora" [value]="brigadista.idPersonaOperadora">{{ brigadista.nombresPersonal }} {{ brigadista.apellidosPersonal}}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioBrigadista.controls.brigadista.errors?.required && formularioBrigadista.touched">
                                    Seleccione un brigadista de la lista
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Agregar
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <hr class="mt-0">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Identificación</th>
                                <th>Nombres y Apellidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let brigadista of listaBrigadistasDeOficina">
                                <td>{{ brigadista.numeroIdentificacionPersona }}</td>
                                <td>{{ brigadista.nombresPersona }} {{ brigadista.apellidosPersona}}</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-outline-secondary font-18" (click)="eliminarBrigadista(brigadista.idPersonaOficina)"><i class="mdi mdi-delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Coberturas
             </div>
             <div class="card-body">
                <form ngNativeValidate [formGroup]="formularioZonaCobertura" (ngSubmit)="agregarCoberturaAOficina()" class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Zona asignada a la operadora</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="zona_operadora" class="form-control" (change)="cambioZonaOperadora()">
                                    <option [value]="null" selected disabled>Seleccione una zona</option>
                                    <option *ngFor="let zonaOperadora of listaZonasOperadoras" [value]="zonaOperadora.idZona">{{ zonaOperadora.nombreZona }}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioZonaCobertura.controls.zona_operadora.errors?.required && formularioZonaCobertura.touched">
                                    Seleccione un zona de la lista
                                </div>
                            </div>
                            <label class="col-md-3 text-right control-label col-form-label">Cobertura</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="cobertura_operadora" class="form-control">
                                    <option [value]="null" selected disabled>Seleccione una cobertura</option>
                                    <option *ngFor="let cobertura of listaCoberturasOperadoras" [value]="cobertura.idCobertura">{{ cobertura.nombreParroquia }} - {{ cobertura.nombreCanton }} - {{ cobertura.nombreProvincia}}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioZonaCobertura.controls.cobertura_operadora.errors?.required && formularioZonaCobertura.touched">
                                    Seleccione una cobertura de la lista
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Agregar
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <hr class="mt-0">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Oficina</th>
                                <th>Cobertura</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cobertura of listaCoberturasOficinas">
                                <td>
                                    <h6 class="mb-0 font-weight-medium">{{ cobertura.nombreOficina}}</h6>
                                    <small class="text-muted"> {{ cobertura.descripcionOficina}} </small>
                                </td>
                                <td>
                                    <h6 class="mb-0 font-weight-medium">Parroquia: {{ cobertura.nombreParroquiaCobertura}}</h6>
                                    <h6 class="mb-0 font-weight-medium">Cantón: {{ cobertura.nombreCantonCobertura}}</h6>
                                    <h6 class="mb-0 font-weight-medium">Provincia: {{ cobertura.nombreProvinciaCobertura}}</h6> 
                                </td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-outline-secondary font-18" (click)="eliminarCoberturaOficina(cobertura.idCoberturaOficina)"><i class="mdi mdi-delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
</div>