<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class='row'>
    <div class='col'>
        <div class='card border border-info rounded'>
            <div class="card-header bg-info text-white rounded-top">
                Solicitar acreditación como Médico Veterinario para actividades de Producción Pecuaria
            </div>
            <div class='card-body'>
                <hr class="mt-0">
                <form class="form-horizontal r-separator">
                    <div class="card-body">
                        <h4 class="card-title">Información de la solicitud</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Cédula de identidad o pasaporte</label>
                            <div class="col-md-9 border-left pb-2 pt-2 input-group">
                                <input class="form-control" placeholder="">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Nombres completos</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>Xavier Ricardo Salazar Quintana</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Nacionalidad</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>Ecuatoriana</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Título registrado en SENESCYT</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>Maestría Profesional en Cambio Climático y Negociación Ambiental</option>
                                    <option>Ingeniero de Sistemas</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Nivel</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>4to nivel</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Institución de Educación Superior</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>Pontificia Universidad Católica del Ecuador (PUCE)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Número de registro</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>10495-1202961</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Formularios y documentación soporte para la acreditación como Médico Veterinario</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Tipo de registro</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input name="tipo_conductor" type="radio" id="radio_13" class="material-inputs radio-col-blue">
                                <label for="radio_13">Actividades de Producción Pecuaria (BOVINOS)</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Tipo de acreditación requerida</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input name="tipo_acreditacion" type="radio" id="radio_14" class="material-inputs radio-col-blue">
                                <label for="radio_14">Operación en Centros de Faenamiento</label>
                                <br/>
                                <input name="tipo_acreditacion1" type="radio" id="radio_15" class="material-inputs radio-col-blue">
                                <label for="radio_15">Predios libres de Brusela y Tuberculosis</label>
                                <br/>
                                <input name="tipo_acreditacion2" type="radio" id="radio_16" class="material-inputs radio-col-blue">
                                <label for="radio_16">Sensor autorizado por AGROCALIDAD (notificación de enfermedades vesiculares)</label>
                                <br/>
                                <input name="tipo_acreditacion3" type="radio" id="radio_17" class="material-inputs radio-col-blue">
                                <label for="radio_17">Operación en Ferias de Comercilización y Exhibición</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Formulario que adjunta</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>AGROCALIDAD-F03-Bovinos</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Tipo de documentación soporte</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control">
                                    <option> </option>
                                    <option>Certificado de curso obligatorio por parte de AGROCALIDAD</option>
                                    <option>Título o certificado de formación profesional</option>
                                    <option>Certificado de asistencia y aprobación (Seminarios)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <button type="button" class="btn btn-info waves-effect waves-light">Subir documentación soporte</button>
                        </div>
                        <br>
                        <div class="form-group mb-0">
                            <button type="button" class="btn btn-info waves-effect waves-light" onclick="alert">Enviar solicitud</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>