<div [ngClass]="{'ocultar':servicioAgregarTransportista.visibilidad}">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true" style="display: block; padding-left: 0px;">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-info">
                    <h4 class="modal-title text-white">Vehículo</h4>
                    <button type="button" class="close" (click)="cerrarPanel()" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form ngNativeValidate [formGroup]="formularioTrasnportista" (ngSubmit)="registrarTransportista()" class="form-horizontal r-separator">
                        <div class="form-group">
                            <label>CI transportista</label>
                            <div class="input-group mb-3">
                                <input class="form-control" formControlName="cedula" type="text" >
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="formularioTrasnportista.controls.cedula.errors?.required && formularioTrasnportista.touched">
                                Ingrese la cédula del transportista
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre del transportista</label>
                            <input class="form-control" type="text" formControlName="nombre_completo" placeholder="Nombres y apellidos">
                            <div class="invalid-feedback d-block" *ngIf="formularioTrasnportista.controls.nombre_completo.errors?.required && formularioTrasnportista.touched">
                                Ingrese los nombres y apellidos del transportista
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de licencia</label>
                            <input class="form-control" type="text" formControlName="tipo_licencia" placeholder="Tipo de licencia">
                            <div class="invalid-feedback d-block" *ngIf="formularioTrasnportista.controls.tipo_licencia.errors?.required && formularioTrasnportista.touched">
                                Ingrese el tipo de licencia del transportista
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Puntos de la licencia</label>
                            <input class="form-control" type="number" min="0" max="40" formControlName="puntos_licencia" placeholder="Puntos de la licencia">
                            <div class="invalid-feedback d-block" *ngIf="formularioTrasnportista.controls.puntos_licencia.errors?.required && formularioTrasnportista.touched">
                                Ingrese los puntos de la licencia
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de actividad</label>
                            <select class="form-control" formControlName="id_tipo_actividad_transporte">
                                <option [value]="null" selected disabled>Tipo de vehículo</option>
                                <option *ngFor="let tipo of listaTipoActividadTransporte" [value]="tipo.idTipoActividadTransporte" >{{ tipo.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formularioTrasnportista.controls.id_tipo_actividad_transporte.errors?.required && formularioTrasnportista.touched">
                                Seleccione el tipo de activdad
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" (click)="cerrarPanel()">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Agregar transportista</button>
                        </div>
                    </form>
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Fondo negro -->
    <div class="modal-backdrop fade show">
    </div>
</div>