<hr class="mt-0">
<div class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-light-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Datos del Ganadero
            </div>
            <div class='card-body'>
                <div class="card-body">
                    <form ngNativeValidate [formGroup]="formularioBusquedaGanadero" (ngSubmit)="buscarGanadero()" class="form-horizontal r-separator" action="index.html">
                        <h4 class="card-title">Ingrese la información de búsqueda del ganadero</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputIdentificacionGanadero" class="col-md-3 text-right control-label col-form-label">Número de identificación del ganadero</label>
                            <div class="col-md-9 border-left pb-2 pt-2 input-group">
                                <input type="text" class="form-control" (keyup)="mascara($event,'ruc')" formControlName="inputIdentificacionGanadero" name="inputIdentificacionGanadero" placeholder="Ingrese la identificación del ganadero">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit"><i class="ti-search"></i></button>
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formularioBusquedaGanadero.controls.inputIdentificacionGanadero.errors?.required && formularioBusquedaGanadero.touched">
                                    Ingrese el RUC del ganadero
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-body " *ngIf="this.resultadoGanaderoVisible">
                        <form ngNativeValidate [formGroup]="formularioBusquedaBovino" (ngSubmit)="buscarBovino()" class="" action="index.html">
                            <div class="form-group row align-items-center mb-0">
                                <label class="col-md-3 text-right control-label col-form-label">Número de identificación</label>
                                <div class="col-md-9 border-left pb-2 pt-2">
                                    <label class="col-md-3 text-left control-label col-form-label">{{ganadero.numeroIdentificacion}}</label>
                                </div>
                                <label class="col-md-3 text-right control-label col-form-label">Nombre Completo</label>
                                <div class="col-md-9 border-left pb-2 pt-2">
                                    <label class="col-md-3 text-left control-label col-form-label">{{ganadero.nombres}} {{ganadero.apellidos}}</label>
                                </div>
                                <label for="inputIdentificador" class="col-md-3 text-right control-label col-form-label">Identificador Oficial a Rearetear</label>
                                <div class="col-md-9 border-left pb-2 pt-2">
                                    <select class="form-control" formControlName="inputIdentificador" id="inputIdentificador" name="inputIdentificador">
                                        <option value=null selected disabled>Seleccione una opción</option>
                                        <option *ngFor="let identificador of listaIdentificadores" value="{{identificador.idIdentificadorBovino}}">{{identificador.codigoOficial}}</option>
                                    </select>
                                    <div class="invalid-feedback d-block" *ngIf="formularioBusquedaBovino.controls.inputIdentificador.errors?.required && formularioBusquedaBovino.touched">
                                        Seleccione el identificador que requiere aretear
                                    </div>
                                    <input class="form-control" id="filtroIdentificadores" type="text" (keyup)="filtrarIdentificadores($event)" placeholder="Buscar..">
                                </div>
                                <div class="card-body " *ngIf="this.resultadoGanaderoVisible">
                                    <div class="form-group mb-0 text-right ">
                                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Buscar Detalles Bovino</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row' *ngIf="this.formularioVisible">
    <div class='col'>
        <div class='card border border-info rounded'>
            <div class="card-header bg-info text-white rounded-top">
                Nueva solicitud
            </div>
            <div class='card-body'>
                <hr class="mt-0">
                <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarSolicitudReareteo()" class="form-horizontal r-separator" action="index.html">
                    <div class="card-body">
                        <h4 class="card-title">Datos de la solicitud</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputIdentificadorReareteo" class="col-md-3 text-right control-label col-form-label">Identificador a rearetear:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-3 text-left control-label col-form-label">{{bovino.codigoIdentificacion}}</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputRegistroBovino" class="col-md-3 text-right control-label col-form-label">Registro de Nacimiento Definitivo:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-3 text-left control-label col-form-label">{{bovino.registroNacimientoDefinitivo}}</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputCategoria" class="col-md-3 text-right control-label col-form-label">Categoría del bovino:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-3 text-left control-label col-form-label">{{bovino.categoria.nombre}}</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEdad" class="col-md-3 text-right control-label col-form-label">Raza del bovino:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-3 text-left control-label col-form-label">{{bovino.raza.nombreComun}} ({{bovino.pureza.nombre}})</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEdad" class="col-md-3 text-right control-label col-form-label">Fecha de nacimiento:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-3 text-left control-label col-form-label">{{bovino.fechaNacimiento}}</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEdad" class="col-md-3 text-right control-label col-form-label">Contador de aretes del bovino:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-3 text-left control-label col-form-label">{{bovino.contadorArete}}</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputObservaciones" class="col-md-3 text-right control-label col-form-label">Justificación</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputObservaciones" name="inputObservaciones" placeholder="Detalle el motivo de la solicitud">
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputObservaciones.errors?.required && formulario.touched">
                                    Ingrese el motivo por el cuál requiere el reareteo del bovino
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar Solicitud</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>