<hr class="mt-0">
<div class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-light-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Datos del Ganadero
            </div>
            <div class='card-body'>
                <div class="card-body">
                    <form ngNativeValidate [formGroup]="formularioBusqueda" (ngSubmit)="buscarGanadero()" class="form-horizontal r-separator" action="index.html">
                        <h4 class="card-title">Ingrese la información de búsqueda del ganadero</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputIdentificacionGanadero" class="col-md-3 text-right control-label col-form-label">Número de identificación del ganadero</label>
                            <div class="col-md-9 border-left pb-2 pt-2 input-group">
                                <input type="text" class="form-control" (keyup)="mascara($event,'ruc')" formControlName="inputIdentificacionGanadero" name="inputIdentificacionGanadero" placeholder="Ingrese la identificación del ganadero">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit"><i class="ti-search"></i></button>
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formularioBusqueda.controls.inputIdentificacionGanadero.errors?.required && formularioBusqueda.touched">
                                    Ingrese el RUC del ganadero
                                </div>
                            </div>
                        </div>
                        <!--div class="card-body ">
                            <div class="form-group mb-0 text-right ">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Buscar</button>
                            </div>
                        </div-->
                        <div class="card-body " *ngIf="this.formularioVisible">
                            <div class="form-group row align-items-center mb-0">
                                <label class="col-md-3 text-right control-label col-form-label">Número de identificación</label>
                                <div class="col-md-9 border-left pb-2 pt-2">
                                    <label class="col-md-3 text-left control-label col-form-label">{{ganadero.numeroIdentificacion}}</label>
                                </div>
                                <label class="col-md-3 text-right control-label col-form-label">Nombre Completo</label>
                                <div class="col-md-9 border-left pb-2 pt-2">
                                    <label class="col-md-3 text-left control-label col-form-label">{{ganadero.nombres}} {{ganadero.apellidos}}</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row container-fluid' style="width: 100%" *ngIf="this.formularioVisible">
    <div class="col">
        <div class="card border border-light-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Detalle de identificadores del Ganadero
            </div>
            <div class='card-body bg-light-info'>
                <table class="table table-hover">
                    <thead class="bg-info text-white">
                        <tr class="">
                            <th scope="col">Detalle</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=""> 
                            <th scope="row">Animales sin identificación (+) </th>
                            <td>{{reporteIdentificadores.animalesSinId}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Identificadores adicionales por vacas (+ 50%)</th>
                            <td>{{reporteIdentificadores.adicionalPorNacimientos}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Identificadores sin registrar (-)</th>
                            <td>{{reporteIdentificadores.inactivos}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Identificadores solicitados (-)</th>
                            <td>{{reporteIdentificadores.solicitados}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row"><b>Identificadores disponibles por solicitar (=)</b></th>
                            <td><b>{{reporteIdentificadores.disponibles}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-light-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Catastro sin identificar del Ganadero
            </div>
            <div class='card-body bg-light-info'>
                <table class="table table-hover">
                    <thead class="bg-info text-white">
                        <tr class="">
                            <th scope="col">Categoría</th>
                            <th scope="col">Sin identificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <th scope="row">Vacas</th>
                            <td>{{reporteIdentificadores.vacas}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Toros</th>
                            <td>{{reporteIdentificadores.toros}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Vaconas</th>
                            <td>{{reporteIdentificadores.vaconas}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Toretes</th>
                            <td>{{reporteIdentificadores.toretes}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Terneras</th>
                            <td>{{reporteIdentificadores.terneras}}</td>
                        </tr>
                        <tr class="">
                            <th scope="row">Terneros</th>
                            <td>{{reporteIdentificadores.terneros}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="">
                            <th><strong>TOTAL</strong></th>
                            <th>{{reporteIdentificadores.animalesSinId}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class='row' *ngIf="this.formularioVisible">
    <div class='col'>
        <div class='card border border-info rounded'>
            <div class="card-header bg-info text-white rounded-top">
                Nueva solicitud
            </div>
            <div class='card-body'>
                <hr class="mt-0">
                <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarSolicitudIdentificadores()" class="form-horizontal r-separator" action="index.html">
                    <div class="card-body">
                        <h4 class="card-title">Datos de la solicitud</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputCantidad" class="col-md-3 text-right control-label col-form-label">Cantidad solicitada:</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="number" class="form-control" formControlName="inputCantidad" name="inputCantidad" placeholder="Ingrese la cantidad de identificadores que desea solicitar" min="0">
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputCantidad.errors?.required && formulario.touched">
                                    Seleccione la cantidad de identificadores a solicitar
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar Solicitud</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>