.btn-block-custom { width: 200px; /* Ajusta el ancho según tus necesidades */ display: inline-block; }

.separar-botones {
    margin-top: 2rem; /* Ajusta según sea necesario */
}

.badge-amarillo {
    background-color: yellow;
    color: black;
    font-weight: bold;
    /*border: 2px solid black;*/
    border-radius: 50px;
    padding: 5px 7px;
    display: inline-block;
    /*width: 60px; /* Ajusta este valor según el ancho deseado */
    text-align: center;
}

.badge-blanco {
    background-color: rgb(244, 241, 241);
    color: black;
    font-weight: bold;
    /*border: 2px solid black;*/
    border-radius: 50px;
    padding: 5px 7px;
    display: inline-block;
    /*width: 60px; /* Ajusta este valor según el ancho deseado */
    text-align: center;
}

.badge-rojo {
    background-color: red;
    color: white;
    font-weight: bold;
    /*border: 2px solid black;*/
    border-radius: 50px;
    padding: 5px 7px;
    display: inline-block;
    /*width: 60px; /* Ajusta este valor según el ancho deseado */
    text-align: center;
}

.rounded-circle-amarillo {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rounded-circle-blanco {
    background-color: rgb(244, 241, 241);
    color: black;
    font-weight: bold;
    /*border: 0.1px solid black; /* Borde negro muy fino */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-circle-rojo {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-black {
    color: black;
}
