<div [ngClass]="{'ocultarPanelArea':servicioRegistroAreaModal.visibilidad}">
    <div>
        <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true" style="display: block; padding-left: 0px;">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-info">
                        <h4 class="modal-title text-white">Registrar área de explotación</h4>
                        <button type="button" class="close" (click)="cerrarPanel()" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form ngNativeValidate [formGroup]="formularioArea" (ngSubmit)="registrarArea()" class="form-horizontal r-separator">
                            <div class="form-group">
                                <label>CI/RUC</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" formControlName="ci_ruc"  type="text" >
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button" (click)="buscarSitios()" ><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Predios</label>
                                <select class="form-control" formControlName="sitio" (change)="cambioSitio()">
                                    <option [value]="null" selected disabled>Seleccione un predio</option>
                                    <option *ngFor="let sitio of listaSitios" [value]="sitio.idSitio">{{ sitio.nombre }} </option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.sitio.errors?.required && formularioArea.touched">
                                    Seleccione un predio
                                </div>
                            </div>
                            <div class="form-group" *ngIf="sitioSeleccionado">
                                <label>Predio seleccionado</label>
                                <div class="row">
                                    <div class="col"><h6 class="mb-0 font-weight-medium"> Nombre: </h6><small class="text-muted">{{ sitioSeleccionado?.nombre }}</small></div>
                                    <div class="col"><h6 class="mb-0 font-weight-medium"> Código predial: </h6><small class="text-muted">{{ sitioSeleccionado?.codigoPredial }}</small></div>
                                    <div class="col"><h6 class="mb-0 font-weight-medium"> Parroquia: </h6><small class="text-muted">{{ sitioSeleccionado?.nombreParroquia }}</small></div>
                                    <div class="col"><h6 class="mb-0 font-weight-medium"> Cantón: </h6><small class="text-muted">{{ sitioSeleccionado?.nombreCanton }}</small></div>
                                    <div class="col"><h6 class="mb-0 font-weight-medium"> Provincia: </h6><small class="text-muted">{{ sitioSeleccionado?.nombreProvincia }}</small></div>
                                    <div class="col"><h6 class="mb-0 font-weight-medium"> Hectáreas: </h6><small class="text-muted">{{ sitioSeleccionado?.superficieHa }}</small></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label >Nombre del área</label>
                                <input class="form-control" type="text" formControlName="nombre" placeholder="">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.nombre.errors?.required && formularioArea.touched">
                                    Ingrese el nombre del área
                                </div>
                            </div>
                            <div class="form-group">
                                <label >Superficie</label>
                                <input class="form-control" type="number" formControlName="superficie" placeholder="">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.superficie.errors?.required && formularioArea.touched">
                                    Ingrese la superficie
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tipo de actividad</label>
                                <select class="form-control" formControlName="tipo_actividad">
                                    <option [value]="null" selected disabled>Seleccione el tipo de actividad</option>
                                    <option *ngFor="let tipo of listaTiposActividades" [value]="tipo.id_tipo_actividad">{{ tipo.nombre }} </option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.tipo_actividad.errors?.required && formularioArea.touched">
                                    Seleccione el tipo de actividad
                                </div>
                            </div>
                            <!--div class="form-group">
                                <label>Parrroquia</label>
                                <select class="form-control" formControlName="parroquia">
                                    <option [value]="null" selected disabled>Seleccione una parroquia</option>
                                    <option *ngFor="let parroquia of listaParroquias" [value]="parroquia.id_parroquia">{{ parroquia.nombre }} </option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.parroquia.errors?.required && formularioArea.touched">
                                    Seleccione una parroquia
                                </div>
                            </div-->
                            <!--div class="form-group">
                                <label>Código predial</label>
                                <input class="form-control" type="text" formControlName="codigo_predial" placeholder="Ingrese el código predial si se dispone">
                            </div>
                            <div class="form-group">
                                <label>Calle principal</label>
                                <input class="form-control" type="text" formControlName="calle_principal" placeholder="Ingrese el nombre de la calle principal">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.calle_principal.errors?.required && formularioArea.touched">
                                    Ingrese el nombre de la calle principal
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Intersección</label>
                                <input class="form-control" type="text" formControlName="interseccion" placeholder="Ingrese la intersección">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.interseccion.errors?.required && formularioArea.touched">
                                    Ingrese la intersección
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Numeración</label>
                                <input class="form-control" type="text" formControlName="numeracion" placeholder="Ingrese la numeración">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.numeracion.errors?.required && formularioArea.touched">
                                    Ingrese la numeración
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Referencia</label>
                                <input class="form-control" type="text" formControlName="referencia" placeholder="Ingrese la referencia">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.referencia.errors?.required && formularioArea.touched">
                                    Ingrese la referencia
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input class="form-control" type="text" formControlName="telefono" placeholder="Ingrese el teléfono">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.telefono.errors?.required && formularioArea.touched">
                                    Ingrese el teléfono
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Latitud</label>
                                <input class="form-control" type="text" formControlName="latitud">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.latitud.errors?.required && formularioArea.touched">
                                    Ingrese la latitud
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Longitud</label>
                                <input class="form-control" type="text" formControlName="longitud">
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.longitud.errors?.required && formularioArea.touched">
                                    Ingrese la longitud
                                </div>
                            </div-->
                            <!--div class="form-group">
                                <label>Propiedad del predio</label>
                                <select class="form-control" formControlName="tipo_propiedad">
                                    <option [value]="null" selected disabled>Seleccione el tipo de propiedad</option>
                                    <option *ngFor="let tipo of listaTiposPropiedades" [value]="tipo.id_tipo_propiedad">{{ tipo.nombre }} </option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioArea.controls.tipo_propiedad.errors?.required && formularioArea.touched">
                                    Seleccione el tipo de propiedad
                                </div>
                            </div-->
    
    
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" (click)="cerrarPanel()">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Registrar área</button>
                            </div>
                        </form>
                    </div>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- Fondo negro -->
        <div class="modal-backdrop fade show">
        </div>
    </div>