<!-- Sección para buscar animales sin arete oficial -->
<div class="row" *ngIf="!formularioVisible">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Buscar animales sin arete oficial
            </div>
            <form ngNativeValidate [formGroup]="formularioBusqueda" class="form-horizontal r-separator">
                <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Mis sitios
                            activos</label>
                        <div class="col-md-8 border-left pb-2 pt-2">
                            <select formControlName="inputSitio" class="form-control border-secondary font-weight-bold"
                                #idSitio (change)="cambioSitio(idSitio.value)">
                                <option [value]="null" selected disabled>--- Seleccione una opción ---</option>
                                <option *ngFor="let area of listaAreas" [value]="area.idSitio">{{
                                    area.codigoSitio.toUpperCase()}} | {{ area.nombreProvinciaSitio.toUpperCase()}} - {{
                                    area.nombreCantonSitio.toUpperCase()}} | {{ area.nombre.toUpperCase() }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Tipo
                            catastro</label>
                        <div class="col-md-4 border-left pb-2 pt-2 input-group">
                            <select class="form-control border-secondary font-weight-bold"
                                formControlName="inputTipoCatastro" (change)="cambioTipoCatastro()">
                                <option *ngFor="let tipo of listaTiposCatastro" [value]="tipo.codigo">{{ tipo.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Categoría
                            etaria</label>
                        <div class="col-md-4 border-left pb-2 pt-2 input-group font-weight-bold">
                            <select class="form-control border-secondary font-weight-bold"
                                formControlName="inputCategoria" (change)="cambioCategoria()">
                                <option [value]="null" selected disabled>--- Seleccione una opción ---</option>
                                <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
                                    {{ categoria.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">ID</label>
                        <div class="col-md-4 border-left pb-2 pt-2 input-group">
                            <input type="text" class="form-control border-secondary" autocomplete="on"
                                formControlName="inputIdOficial" maxlength="11">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info border-secondary font-weight-bold"
                                    (click)="buscarAnimales(true,true)">
                                    <i class="fas fa-search"></i> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Panel para mostrar datos del sitio seleccionado -->
<div class="row" *ngIf="!formularioVisible">
    <div class="col">
        <form ngNativeValidate [formGroup]="formularioDatosSitio" class="form-horizontal r-separator">
            <!-- Botón para ocultar/mostrar -->
            <div class="d-flex" style="gap: 50px;">
                <button *ngIf="isVisibleBotonDetalles" class="btn btn-info mb-3 font-weight-bold"
                    (click)="toggleVisibility()">
                    <i class="fas {{ isVisible ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                    {{ isVisible ? 'Ocultar' : 'Mostrar' }} detalles del sitio
                </button>
                <button *ngIf="listaAretesAprobados.length > 0" class="btn mb-3 font-weight-bold"
                    (click)="exportarListadoAretesPDF()" title="Descargar listado de aretes oficiales no asignados"
                    style="background-color: #FFFF00; color: black; border-color: #FFFF00;">
                    <i class="fas fa-file-pdf" style="color: black;"></i>
                    Listado de aretes oficiales
                </button>
            </div>
            <!-- Datos del sitio -->
            <div class="row" *ngIf="isVisible">
                <div class="col">
                    <div class="card border rounded">
                        <div class="card-body">
                            <table class="table mt-3 table-borderless v-middle custom-table">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="pl-0 text-left">PROPIETARIO:</td>
                                        <td class="pl-0 text-left font-weight-medium">
                                            <p>
                                                <span class="pl-0 text-left font-weight-medium">
                                                    [{{
                                                    sitioSeleccionado?.numeroIdentificacion
                                                    }}]
                                                </span>
                                                <span>&nbsp;&nbsp;</span>
                                                <span class="pl-0 text-left font-weight-medium">
                                                    {{
                                                    sitioSeleccionado?.nombres.toUpperCase()
                                                    }}
                                                </span>
                                            </p>
                                        </td>
                                        <td class="pl-0 text-left">PROVINCIA:</td>
                                        <td class="pl-0 text-left font-weight-medium">{{
                                            sitioSeleccionado?.nombreProvinciaSitio.toUpperCase()
                                            }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="pl-0 text-left">CÓDIGO-SITIO:</td>
                                        <td class="pl-0 text-left font-weight-medium">

                                            <p><span class="badge rounded-pill font-weight-bold letra badge-info">
                                                    {{ sitioSeleccionado?.codigoSitio }}
                                                </span></p>
                                        </td>
                                        <td class="pl-0 text-left">CANTÓN:</td>
                                        <td class="pl-0 text-left font-weight-medium">{{
                                            sitioSeleccionado?.nombreCantonSitio.toUpperCase()
                                            }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="pl-0 text-left">TIPO ÁREA:</td>
                                        <td class="pl-0 text-left font-weight-medium">{{
                                            sitioSeleccionado?.nombreTipoArea.toUpperCase() }}
                                        </td>
                                        <td class="pl-0 text-left">PARROQUIA:</td>
                                        <td class="pl-0 text-left font-weight-medium">{{
                                            sitioSeleccionado?.nombreParroquiaSitio.toUpperCase()
                                            }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="pl-0 text-left">NOMBRE-SITIO:</td>
                                        <td class="pl-0 text-left font-weight-medium">{{
                                            sitioSeleccionado?.nombre.toUpperCase() }}</td>
                                        <td class="pl-0 text-left">DIRECCIÓN:</td>
                                        <td class="pl-0 text-left font-weight-medium">{{
                                            sitioSeleccionado?.callePrincipalSitio.toUpperCase()
                                            }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="pl-0 text-left">COORDENADAS:</td>
                                        <td class="pl-0 text-left font-weight-medium">
                                            LAT [{{ sitioSeleccionado?.latitudSitio }}] - LONG
                                            [{{
                                            sitioSeleccionado?.longitudSitio }}]
                                        </td>
                                        <td class="pl-0 text-left">MAPA:</td>
                                        <td class="pl-0 text-left font-weight-medium">
                                            <button class="styled-button bg-info"
                                                (click)="abrirGoogleMaps(sitioSeleccionado?.latitudSitio,sitioSeleccionado?.longitudSitio)">
                                                <i class="fas fa-map-marker-alt"></i>&nbsp;Ver
                                                en
                                                Google Maps
                                            </button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="mt-0" />
<!-- Tabla con el resultado de la búsqueda -->
<div class="row" *ngIf="listaBovinos.length > 0 && !formularioVisible">
    <div class="col">
        <div class="card border-info rounded">
            <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center"
                *ngIf="listaBovinos.length > 0">
                <div>
                    <span class="font-weight-bold">
                        Listado de animales sin arete oficial
                    </span>
                    <span class="round rounded-circle text-white font-weight-bold d-inline-block text-center bg-info">
                        {{ listaBovinos.length }}
                    </span>
                    <div class="btn-group ml-2" role="group" aria-label="Navegar">
                        <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="inicio > 0">
                            <i class="fa fa-fast-backward"></i>
                        </button>
                        <button (click)="siguiente()" type="button" class="btn btn-success"
                            *ngIf="listaBovinos.length > 99">
                            <i class="fa fa-fast-forward"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <span class="font-weight-bold">
                        Aretes oficiales disponibles
                    </span>
                    <span class="round rounded-circle-amarillo d-inline-block text-center ml-2"
                        [ngStyle]="{'font-size': calcularFontSize(listaAretesAprobados.length)}">
                        {{ listaAretesAprobados.length }}
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div #scrollContainer class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th class="badge-light-info font-16 text-center">ID</th>
                                <th class="badge-light-info font-16">Ubicación</th>
                                <th class="badge-light-info font-16 text-center">Descripción</th>
                                <th *ngIf="listaAretesAprobados.length > 0"
                                    class="badge-light-info font-16 text-center">Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bovino of listaBovinos">
                                <td class="text-center">
                                    <span class="badge badge-secondary rounded-pill">
                                        {{ bovino.idBovino}}
                                    </span>
                                </td>
                                <td>
                                    <p><span class="badge rounded-pill font-weight-bold letra badge-info"
                                            style="font-size:small;">
                                            {{ bovino.codigoSitioActual }}
                                        </span></p>
                                    <p><span class="font-weight-bold" style="font-size:small;">{{
                                            bovino.nombreAreaActual.toUpperCase() }}</span></p>
                                    <p class="font-weight-bold" style="font-size:x-small;">
                                        [{{ bovino.numeroIdentificacionUsuarioActual }}] - {{
                                        bovino.nombresUsuarioActual
                                        }}
                                    </p>
                                    <p style="font-size:smaller;">
                                        {{ bovino.nombreProvinciaActual }} /
                                        {{ bovino.nombreCantonActual }} /
                                        {{ bovino.nombreParroquiaActual }}
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p style="margin-bottom: 0.25rem;"><img
                                            style="vertical-align: middle; margin: 0 8px;" class="mr-3"
                                            src="assets/images/icon/vaca.svg" [hidden]="bovino.codigoSexo === 'macho'"
                                            width="40" alt="Generic placeholder image" />
                                        <img style="vertical-align: middle; margin: 0 8px;" class="mr-3"
                                            src="assets/images/icon/toro.svg" [hidden]="bovino.codigoSexo === 'hembra'"
                                            width="40" alt="Generic placeholder image" />
                                    </p>
                                    <p style="margin-bottom: 0.25rem;"><span class="font-weight-bold"
                                            style="font-size:small;">
                                            {{ bovino?.nombreCategoria ? bovino.nombreCategoria :
                                            bovino.nombreComunTaxonomia }}
                                        </span></p>
                                    <p style="margin-bottom: 0.25rem;"><span class="badge rounded-pill font-weight-bold"
                                            [ngClass]="{'badge-gris':bovino.estadoVacunacion=='vacunado', 'badge-light-danger':bovino.estadoVacunacion=='nacimiento'}">
                                            {{ bovino.estadoVacunacion.toLowerCase() }}
                                        </span></p>
                                    <p style="margin-bottom: 0.25rem;"><span class="font-weight-bold"
                                            style="font-size:small;">
                                            {{ bovino.nombreComunRaza }} ({{ bovino.nombrePureza.toLowerCase() }})
                                        </span></p>
                                    <p style="margin-bottom: 0.25rem; font-size:small;"><span
                                            class="font-weight-bold">Nacimiento:</span>
                                        {{ bovino?.fechaNacimientoFormateada ? bovino.fechaNacimientoFormateada : 'No
                                        registrada' }}
                                    </p>
                                </td>
                                <td *ngIf="listaAretesAprobados.length > 0" class="text-center">
                                    <button type="button" class="btn waves-effect waves-light"
                                        style="background-color: #FFFF00; color: black; border: none; border-radius: 25px; padding: 10px 20px; font-size: 16px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease;"
                                        [title]="generarTitulo(bovino)"
                                        (click)="asignarDatosFormularioAnimal(bovino?.idBovino)"
                                        onmouseover="this.style.backgroundColor='#FFEA00'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                        onmouseout="this.style.backgroundColor='#FFFF00'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                        <i class="fas fa-tag"
                                            style="color: black; font-size: 20px; margin-right: 8px;"></i> Asignar arete
                                        oficial
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Formulario para modificar datos del animal -->
<div class='row' *ngIf="formularioVisible">
    <div class='col'>
        <div class='card border rounded border-info'>
            <!--Sitio de nacimiento del animal-->
            <div class='card-body border rounded shadow-sm p-2' style="background-color: #f8f9fa;">
                <h4 class="card-title text-white text-center py-2 bg-info" style="font-size: 14px;">
                    SITIO DE NACIMIENTO / REGISTRO
                </h4>
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Código-Sitio:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        [{{ animalSeleccionado?.codigoSitioNacimiento }}] {{
                                        animalSeleccionado?.nombreSitioNacimiento.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Ubicación:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        {{ animalSeleccionado?.nombreProvinciaNacimiento.toUpperCase() }} / {{
                                        animalSeleccionado?.nombreCantonNacimiento.toUpperCase() }} / {{
                                        animalSeleccionado?.nombreParroquiaNacimiento.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Propietario:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        [{{ animalSeleccionado?.identificacionPropietarioSitioNacimiento }}] {{
                                        animalSeleccionado?.nombresPropietarioSitioNacimiento.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Dirección:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        {{ animalSeleccionado?.callePrincipalSitioNacimiento.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Coordenadas:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        LAT [{{ animalSeleccionado?.latitudSitioNacimiento }}] - LONG [{{
                                        animalSeleccionado?.longitudSitioNacimiento }}]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Mapa:
                                </label>
                                <div class="col">
                                    <button class="styled-button"
                                        (click)="abrirGoogleMaps(animalSeleccionado?.latitudSitioNacimiento,animalSeleccionado?.longitudSitioNacimiento)">
                                        <i class="fas fa-map-marker-alt"></i>&nbsp;Ver en Google Maps
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sitio actual del animal-->
            <div class='card-body border rounded shadow-sm p-2' style="background-color: #f8f9fa;">
                <h4 class="card-title text-white text-center py-2 bg-secondary" style="font-size: 14px;">
                    SITIO ACTUAL
                </h4>
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Código-Sitio:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        [{{ animalSeleccionado?.codigoSitioActual }}] {{
                                        animalSeleccionado?.nombreSitioActual.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Ubicación:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        {{ animalSeleccionado?.nombreProvinciaActual.toUpperCase() }} / {{
                                        animalSeleccionado?.nombreCantonActual.toUpperCase() }} / {{
                                        animalSeleccionado?.nombreParroquiaActual.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Propietario:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        [{{ animalSeleccionado?.numeroIdentificacionUsuarioActual }}] {{
                                        animalSeleccionado?.nombresUsuarioActual.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Dirección:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        {{ animalSeleccionado?.callePrincipalSitioActual.toUpperCase() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Coordenadas:
                                </label>
                                <div class="col">
                                    <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                        style="font-size: 12px; color: gray; font-weight: bold;">
                                        LAT [{{ animalSeleccionado?.latitudSitioActual }}] - LONG [{{
                                        animalSeleccionado?.longitudSitioActual }}]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row align-items-center">
                                <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                    style="font-size: 14px;">
                                    Mapa:
                                </label>
                                <div class="col">
                                    <button class="styled-button bg-secondary"
                                        (click)="abrirGoogleMaps(animalSeleccionado?.latitudSitioActual,animalSeleccionado?.longitudSitioActual)">
                                        <i class="fas fa-map-marker-alt"></i>&nbsp;Ver en Google Maps
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Información del animal-->
            <form ngNativeValidate [formGroup]="formulario" class="form-horizontal r-separator" (keydown.enter)="$event.preventDefault()">
                <div class='card-body border rounded shadow-sm p-2' style="background-color: #f8f9fa;">
                    <h4 class="card-title text-white text-center py-2 bg-info" style="font-size: 14px;">
                        REGISTRO REPRODUCTIVO
                    </h4>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Tipo de servicio:<span class="text-danger font-weight-bold"> *</span>
                                    </label>
                                    <div class="col d-flex">
                                        <select formControlName="inputTipoServicio" (change)="cambioTipoServicio()"
                                            class="border px-2 py-1 rounded ml-2 bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="tipoServicio.id_tipo_servicio"
                                                *ngFor="let tipoServicio of tiposServicios">{{
                                                tipoServicio.nombre }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div *ngIf="tipoServicioSeleccionado == 1 || tipoServicioSeleccionado == 2"
                                    class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Código de pajuela:
                                    </label>
                                    <div class="col">
                                        <input type="text" class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;"
                                            formControlName="inputCodigoPajuelaPadre" maxlength="50"
                                            placeholder="ingrese código de la pajuela del padre">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div *ngIf="tipoServicioSeleccionado == 1 || tipoServicioSeleccionado == 2 || tipoServicioSeleccionado == 3"
                                    class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Arete de la madre:
                                    </label>
                                    <div class="col d-flex">
                                        <select formControlName="inputIdBovinoMadre"
                                            class="border px-3 py-1 rounded ml-2 bg-white m-0"
                                            style="font-size: 14px; height: 35px; width: 60%; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="madre.idBovino" *ngFor="let madre of listaMadres">
                                                {{ madre.codigoIdentificacion }}
                                                {{ madre?.nombreCategoria || 'Búfalo Hembra' }}
                                                {{ madre.nombreComunRaza }}
                                                {{ madre.nombrePureza }}
                                            </option>
                                        </select>
                                        <input type="text" formControlName="inputBuscarMadre"
                                            class="border px-1 py-1 rounded ml-1 text-center font-weight-bold"
                                            style="font-size: 14px; height: 35px; width: 30%; border: 1px solid black !important;"
                                            maxlength="11" placeholder="Buscar..." (keydown.enter)="buscarMadres()">
                                        <button class="btn btn-info ml-1" (click)="buscarMadres()"
                                            style="height: 35px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div *ngIf="tipoServicioSeleccionado == 3" class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Arete del padre:
                                    </label>
                                    <div class="col d-flex">
                                        <select formControlName="inputIdBovinoPadre"
                                            class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; width: 50%; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="padre.idBovino" *ngFor="let padre of listaPadres">
                                                {{ padre.codigoIdentificacion }}
                                                {{ padre?.nombreCategoria || 'Búfalo Macho' }}
                                                {{ padre.nombreComunRaza }}
                                                {{ padre.nombrePureza }}
                                            </option>
                                        </select>
                                        <input type="text" formControlName="inputBuscarPadre"
                                            class="border px-1 py-1 rounded ml-1 text-center font-weight-bold"
                                            style="font-size: 14px; height: 35px; width: 40%; border: 1px solid black !important;"
                                            maxlength="11" placeholder="Buscar..." (keydown.enter)="buscarPadres()">
                                        <button class="btn btn-info ml-1" (click)="buscarPadres()"
                                            style="height: 35px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div *ngIf="tipoServicioSeleccionado == 2" class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Arete madre donadora:
                                    </label>
                                    <div class="col d-flex">
                                        <select formControlName="inputIdBovinoMadreDonadora"
                                            class="border px-3 py-1 rounded ml-2 bg-white m-0"
                                            style="font-size: 14px; height: 35px; width: 60%; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="madre.idBovino" *ngFor="let madre of listaMadresDonadoras">
                                                {{ madre.codigoIdentificacion }}
                                                {{ madre?.nombreCategoria || 'Búfalo Hembra' }}
                                                {{ madre.nombreComunRaza }}
                                                {{ madre.nombrePureza }}
                                            </option>
                                        </select>
                                        <input type="text" formControlName="inputBuscarMadreDonadora"
                                            class="border px-1 py-1 rounded ml-1 text-center font-weight-bold"
                                            style="font-size: 14px; height: 35px; width: 30%; border: 1px solid black !important;"
                                            maxlength="11" placeholder="Buscar..." (keydown.enter)="buscarMadresDonadoras()">
                                        <button class="btn btn-info ml-1" (click)="buscarMadresDonadoras()"
                                            style="height: 35px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-body border rounded shadow-sm p-2' style="background-color: #f8f9fa;">
                    <h4 class="card-title text-white text-center py-2 bg-secondary" style="font-size: 14px;">
                        PEDIGRÍ E IDENTIFICACIÓN
                    </h4>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Fecha nacimiento:<span class="text-danger font-weight-bold"> *</span>
                                    </label>
                                    <div class="col">
                                        <div class="d-flex">
                                            <input formControlName="inputFechaNacimiento" type="date"
                                                class="border px-2 py-1 rounded bg-white m-0" (change)="resetFechaSugerida()"
                                                style="font-size: 14px; height: 35px; width: 50%; border: 1px solid black !important;">
                                            <div *ngIf="this.animalSeleccionado?.idCategoria" class="custom-control custom-checkbox d-flex align-items-center ml-2" style="width: 50%;">
                                                <input type="checkbox" formControlName="checkFechaSugerida" (change)="cambiarFechaNacimientoSugerida()"
                                                class="material-inputs border-secondary" id="mismoProductor" id="usarFechaSugerida">
                                                <label class="custom-control-label" for="usarFechaSugerida" style="font-size: 14px;">Usar fecha sugerida</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div *ngIf="this.animalSeleccionado?.idCategoria"
                                    class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Raza predominante:<span class="text-danger font-weight-bold"> *</span>
                                    </label>
                                    <div class="col">
                                        <select formControlName="inputRaza"
                                            class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="raza.id_raza" *ngFor="let raza of razas">{{
                                                raza.nombre_comun }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Categoría etaria:
                                    </label>
                                    <div class="col">
                                        <p class="form-control-static border px-2 py-1 rounded bg-white m-0"
                                            style="font-size: 14px; border: 1px solid black !important; font-weight: bold;">
                                            {{ animalSeleccionado?.nombreCategoria }}
                                            [ {{ animalSeleccionado?.nombreComunTaxonomia.toLowerCase() }} - {{
                                            animalSeleccionado?.codigoSexo.toLowerCase() }} ]
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div *ngIf="this.animalSeleccionado?.idCategoria"
                                    class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Pureza:<span class="text-danger font-weight-bold"> *</span>
                                    </label>
                                    <div class="col">
                                        <select formControlName="inputPureza"
                                            class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="pureza.id_pureza" *ngFor="let pureza of purezas">{{
                                                pureza.nombre }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Procedencia:
                                    </label>
                                    <div class="col">
                                        <select formControlName="inputProcedencia" (change)="cambioProcedencia()"
                                            class="form-control border-secondary font-weight-bold"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;">
                                            <option *ngFor="let procedencia of listaProcedencia"
                                                [value]="procedencia.idProcedencia">{{ procedencia.nombre }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div *ngIf="procedenciaVisible" class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        País de procedencia:
                                    </label>
                                    <div class="col d-flex">
                                        <select formControlName="inputPaisProcedencia"
                                            class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="pais.id_pais" *ngFor="let pais of listaPaises">{{
                                                pais.nombre }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Nro. Certificado Registro / Otra identificación:
                                    </label>
                                    <div class="col">
                                        <input type="text" class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; border: 1px solid black !important;"
                                            formControlName="inputNumeroRegistroNacimiento" maxlength="50"
                                            placeholder="ingrese nro. de certificado de registro, nombre, otros">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row align-items-center">
                                    <label class="control-label col-md-3 text-right px-2 font-weight-bold"
                                        style="font-size: 14px;">
                                        Arete oficial:<span class="text-danger font-weight-bold"> *</span>
                                    </label>
                                    <div class="col d-flex">
                                        <select formControlName="inputArete"
                                            class="border px-2 py-1 rounded bg-white m-0 w-100"
                                            style="font-size: 14px; height: 35px; width: 50%; border: 1px solid black !important;">
                                            <option [value]="null" selected disabled>--- Seleccione una opción ---
                                            </option>
                                            <option [value]="arete.idAretesBovinos"
                                                *ngFor="let arete of listaAretesAprobados | slice:0:100">{{
                                                arete.codigoOficial }}
                                            </option>
                                        </select>
                                        <input type="text" formControlName="inputBuscarArete"
                                            class="border px-1 py-1 rounded ml-1 text-center font-weight-bold"
                                            style="font-size: 14px; height: 35px; width: 40%; border: 1px solid black !important;"
                                            maxlength="11" placeholder="Buscar..." (keydown.enter)="buscarAretesOficiales(true, true)">
                                        <button class="btn btn-secondary ml-1"
                                            (click)="buscarAretesOficiales(true, true)" style="height: 35px;"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <div class="col-md-9 pb-2 pt-2">
                        <p class="text-muted mb-3 font-weight-bold" style="font-size: 0.9rem; padding-left: 4%;">
                            <em>Los campos marcados con <span class="text-danger font-weight-bold">*</span> son
                                obligatorios.</em>
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-info btn-lg font-weight-bold font-16 text-uppercase mx-2"
                            style="width: 48%;" type="button"
                            (click)="actualizarAnimal(animalSeleccionado.idBovino)">Asignar</button>
                        <button class="btn btn-danger btn-lg font-weight-bold font-16 text-uppercase mx-2"
                            style="width: 48%;" type="button" (click)="botonCancelar()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>