<hr class="mt-0">
<!-- Sección para buscar czpm-m para fiscalización-->
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top font-weight-bold">
        Buscar Certificados Zoosanitarios de Producción y Movilidad - Movilización [CZPM-M]
    </div>
    <form ngNativeValidate [formGroup]="formularioBusqueda" class="form-horizontal r-separator">
        <div class="card-body">
            <div class="form-group row align-items-center mb-0">
                <label class="col-md-4 text-right control-label col-form-label font-weight-bold">Nro. de
                    CZPM-M: </label>
                <div class="col-md-5 border-left pb-2 pt-2">
                    <input id="inputNumeroDocumento" type="text" formControlName="inputNumeroDocumento" (input)="limpiarLista()"
                        class="form-control text-center font-weight-bold">
                </div>
                <div class="col-md-3 border-left pb-2 pt-2">
                    <button type="submit" class="btn btn-info me-3 px-4" (click)="buscarCertificado()"
                        style="font-weight: bold;">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Tabla con el resultado de la búsqueda -->
<div class="row" *ngIf="listaCertificadosMovilizacion.length > 0">
    <div class="col">
        <div class="card border border-secondary rounded">
            <div class="card-header bg-secondary text-white">
                <span class="font-weight-bold">
                    Listado de Certificados Zoosanitarios de Producción y Movilidad - Movilización
                </span>
                <span class="round rounded-circle text-white font-weight-bold d-inline-block text-center bg-info">
                    {{listaCertificadosMovilizacion.length }}
                </span>
            </div>
            <div class="card-body">
                <div class="row p-3">
                    <div #scrollContainer class="col table-wrapper-scroll-y custom-scrollbar">
                        <table class="table table-bordered table-hover v-middle">
                            <thead>
                                <tr>
                                    <th class="badge-light-info text-left font-16">Documento</th>
                                    <th class="badge-light-info text-left font-16">Validez</th>
                                    <th class="badge-light-info text-left font-16">Origen</th>
                                    <th class="badge-light-info text-left font-16">Destino</th>
                                    <th class="badge-light-info text-left font-16" style="width: 150px;">Productos</th>
                                    <th class="badge-light-info text-center font-16">Operación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let certificado of listaCertificadosMovilizacion">
                                    <td>
                                        <p><span class="font-weight-bold">{{ certificado.codigo }} </span>
                                        </p>
                                        <p style="font-size:x-small;" *ngIf="!certificado.placaVehiculo"><span
                                                class="font-weight-bold">
                                                MOVILIZA A PIE
                                            </span></p>
                                        <p style="font-size:smaller;" *ngIf="certificado.placaVehiculo"><span
                                                class="font-weight-bold">
                                                Transporte:
                                            </span></p>
                                        <p class="font-weight-bold" style="font-size:x-small;"
                                            *ngIf="certificado.placaVehiculo">
                                            [{{ certificado.placaVehiculo }}] - {{ certificado.marcaVehiculo }}
                                            {{ certificado.modeloVehiculo }} </p>
                                        <p style="font-size:smaller;" *ngIf="certificado.placaVehiculo"><span
                                                class="font-weight-bold">
                                                Transportista:
                                            </span></p>
                                        <p class="font-weight-bold" style="font-size:x-small;"
                                            *ngIf="certificado.placaVehiculo">
                                            [{{certificado.cedulaTransportista }}] - {{
                                            certificado.nombreCompletoTransportista }} </p>
                                    </td>
                                    <td>
                                        <p style="font-size:smaller;"><span class="font-weight-bold">Estado: </span>
                                            <span class="badge rounded-pill"
                                                [ngClass]="{'badge-warning text-white': certificado.codigoEstadoDocumento==='ET', 'badge-light-info':certificado.codigoEstadoDocumento==='G', 'badge-danger':certificado.codigoEstadoDocumento==='A', 'badge-info':certificado.codigoEstadoDocumento==='C', 'badge-success':certificado.codigoEstadoDocumento==='ER'}">
                                                {{ certificado.nombreEstadoDocumento.toLowerCase() }}
                                            </span>
                                        </p>

                                        <p style="font-size:smaller;"><span class="font-weight-bold">Emitido: </span> {{
                                            certificado.fechaEmisionFormateada
                                            }} [{{ certificado.usuarioGenera }}] </p>
                                        <p style="font-size:smaller;"><span class="font-weight-bold">Moviliza:
                                            </span> {{
                                            certificado.fechaHoraMovilizacionFormateada }} </p>
                                        <p style="font-size:smaller;"><span class="font-weight-bold">Válido hasta:
                                            </span> {{
                                            certificado.fechaHoraFinMovilizacionFormateada }} </p>
                                        <p style="font-size:smaller;" *ngIf="certificado.fechaHoraAutoriza"><span
                                                class="font-weight-bold">Autorización: </span> {{
                                            certificado.fechaHoraAutorizaFormateada }} [{{ certificado.usuarioAutoriza
                                            }}] </p>
                                        <p style="font-size:smaller;" *ngIf="certificado.fechaHoraConfirmacion"><span
                                                class="font-weight-bold">Confirmación: </span> {{
                                            certificado.fechaHoraConfirmacionFormateada }} [{{
                                            certificado.usuarioConfirma }}]
                                        </p>
                                        <p style="font-size:smaller;" *ngIf="certificado.fechaHoraAnula"><span
                                                class="font-weight-bold">Anulación:
                                            </span> {{ certificado.fechaHoraAnulaFormateada }} [{{
                                            certificado.usuarioAnula }}]
                                        </p>

                                    </td>
                                    <td>
                                        <p><span class="badge rounded-pill font-weight-bold badge-info">
                                                {{ certificado.codigoSitioOrigen }}
                                            </span></p>
                                        <p>
                                            <span class="font-weight-bold" style="font-size:x-small;">
                                                {{ certificado.nombreTiposAreasOrigen.toUpperCase() }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="font-weight-bold" style="font-size:smaller;">
                                                {{ certificado.nombreAreaOrigen.toUpperCase() }}
                                            </span>
                                        </p>
                                        <p class="font-weight-bold" style="font-size:x-small;">
                                            [{{ certificado.numeroIdentificacion }}] - {{ certificado.nombresProductor
                                            }}
                                        </p>
                                        <p style="font-size:smaller;"><span class="font-weight-bold">Ubicación:</span>
                                            {{ certificado.nombreProvinciaOrigen }} /
                                            {{ certificado.nombreCantonOrigen }} /
                                            {{ certificado.nombreParroquiaOrigen }}
                                        </p>
                                    </td>
                                    <td>
                                        <p><span class="badge rounded-pill font-weight-bold badge-secondary">
                                                {{ certificado.codigoSitioDestino }}
                                            </span></p>
                                        <p>
                                            <span class="font-weight-bold" style="font-size:x-small;">
                                                {{ certificado.nombreTiposAreasDestino.toUpperCase() }}
                                            </span>
                                        </p>
                                        <p class="font-weight-bold" style="font-size:smaller;">
                                            {{ certificado.nombreAreaDestino.toUpperCase() }}
                                        </p>
                                        <p class="font-weight-bold" style="font-size:x-small;">
                                            [{{ certificado.numeroIdentificacionPropietarioSitioDestino }}] -
                                            {{ certificado.nombresPropietarioSitioDestino }}
                                        </p>
                                        <p style="font-size:smaller;"><span class="font-weight-bold">Ubicación:</span>
                                            {{ certificado.nombreProvinciaDestino }} /
                                            {{ certificado.nombreCantonDestino }} /
                                            {{ certificado.nombreParroquiaDestino }}
                                        </p>
                                    </td>
                                    <td>
                                        <h5 style="font-size:medium;" class="mb-0 font-weight-bold">
                                            <li
                                                *ngFor="let categoria of obtenerCategoriasYValoresPorIdCertificado(certificado.idCertificadoMovilizacion)">
                                                {{ categoria[0] }}: {{ categoria[1] }}
                                            </li>
                                        </h5>
                                    </td>
                                    <td class="text-center">
                                        <p *ngIf="mostrarBotonAutorizar(certificado)">
                                            <button type="button" class="btn waves-effect waves-light"
                                                style="background-color: #2ECC71; color: white; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                                [title]="generarTitulo(certificado,'Autorizar')"
                                                (click)="actualizarEstado(certificado,'Autorizar')"
                                                onmouseover="this.style.backgroundColor='#27AE60'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                                onmouseout="this.style.backgroundColor='#2ECC71'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                                <i class="fa fa-unlock-alt"
                                                    style="color: white; font-size: 18px; margin-right: 8px;"></i>
                                                Autorizar
                                            </button>
                                        </p>
                                        <p *ngIf="mostrarBotonConfirmar(certificado)">
                                            <button type="button" class="btn waves-effect waves-light"
                                                style="background-color: #398bf7; color: white; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                                [title]="generarTitulo(certificado,'Confirmar')"
                                                (click)="actualizarEstado(certificado,'Confirmar')"
                                                onmouseover="this.style.backgroundColor='#2a7be4'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                                onmouseout="this.style.backgroundColor='#398bf7'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                                <i class="fa fa-check-circle"
                                                    style="color: white; font-size: 18px; margin-right: 8px;"></i>
                                                Confirmar
                                            </button>
                                        </p>
                                        <p *ngIf="certificado.codigoEstadoDocumento!=='A'">
                                            <button type="button" class="btn waves-effect waves-light"
                                                style="background-color: #ffc107; color: #212529; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                                [title]="generarTitulo(certificado,'Descargar')"
                                                (click)="generarPDF(certificado)"
                                                onmouseover="this.style.backgroundColor='#e0a800'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                                onmouseout="this.style.backgroundColor='#ffc107'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                                <i class="fas fa-download"
                                                    style="color: #212529; font-size: 18px; margin-right: 8px;"></i>
                                                Descargar
                                            </button>
                                        </p>
                                        <p *ngIf="mostrarBotonAnular(certificado)">
                                            <button type="button" class="btn waves-effect waves-light"
                                                style="background-color: #FF0000; color: white; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                                [title]="generarTitulo(certificado,'Anular')"
                                                (click)="actualizarEstado(certificado,'Anular')"
                                                onmouseover="this.style.backgroundColor='#CC0000'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                                onmouseout="this.style.backgroundColor='#FF0000'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                                <i class="fa fa-times-circle"
                                                    style="color: white; font-size: 18px; margin-right: 8px;"></i>
                                                Anular
                                            </button>
                                        </p>
                                        <p *ngIf="idUsuarioEstablecimiento !== certificado.idProductor && idUsuarioEstablecimiento !== certificado.idPropietarioSitioDestino">
                                            <span class="badge rounded-pill badge-info" style="font-size: smaller;">
                                                documento no admitido
                                            </span>
                                        </p>
                                        <p *ngIf="(idUsuarioEstablecimiento === certificado.idProductor || idUsuarioEstablecimiento === certificado.idPropietarioSitioDestino) && certificado.codigoEstadoDocumento === 'A'">
                                            <span class="badge rounded-pill badge-danger" style="font-size: smaller;">
                                                documento anulado
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>