<!-- Formulario para búsqueda de solicitudes -->
<div *ngIf="!formularioVisible && !revisarVisible" id="formularioBusqueda" class='row container-fluid'
    style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Búsqueda de solicitudes de aretes oficiales
            </div>
            <form ngNativeValidate [formGroup]="formularioBusqueda" class="form-horizontal r-separator"
                (ngSubmit)="buscarSolicitudes()">
                <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">ID</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary font-weight-bold" autocomplete="on"
                                (change)="limpiarListaSolicitudes()" formControlName="InputId" placeholder="Ingrese ID"
                                maxlength="10">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label
                            class="col-md-3 text-right control-label col-form-label font-weight-bold">Proveedor</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <select class="form-control border-secondary font-weight-bold"
                                formControlName="inputProveedor" name="inputProveedor"
                                (change)="limpiarListaSolicitudes()">
                                <option [value]="-1" selected enabled>--- Todos ---</option>
                                <option *ngFor="let proveedor of listaProveedoresOrdenados"
                                    value="{{proveedor.idProveedoresAretes}}">
                                    {{proveedor.numeroIdentificacionUsuario}} -
                                    {{proveedor.nombresUsuario.toUpperCase()}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Estado</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <select class="form-control border-secondary font-weight-bold" formControlName="InputEstado"
                                name="InputEstado" (change)="limpiarListaSolicitudes()">
                                <option [value]="-1" selected enabled>--- Todos ---</option>
                                <option *ngFor="let estado of listaEstadoSolicitudes"
                                    value="{{estado.id_estados_solicitudes}}">
                                    {{estado.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Rango de
                            consulta</label>
                        <div class="col-md-6 border-left pb-2 pt-2 input-group">
                            <input formControlName="fecha_inicio" type="date" (change)="limpiarListaSolicitudes()"
                                class="form-control text-center border-secondary font-weight-bold"
                                placeholder="Fecha de Inicio">
                            <label
                                class="col-md-3 text-center font-weight-bold control-label col-form-label">&gt;&lt;</label>
                            <input formControlName="fecha_fin" type="date" (change)="limpiarListaSolicitudes()"
                                [max]="fechaMaxima | date: 'yyyy-MM-dd'"
                                class="form-control text-center border-secondary font-weight-bold"
                                placeholder="Fecha de Fin">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-4"> <!-- Ajuste de margen -->
                        <div class="col-md-6"></div>
                        <div class="col-md-3 text-right">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-info me-3 px-4" style="font-weight: bold;">
                                    <i class="fas fa-search"></i> Buscar
                                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success px-4" (click)="accionNuevoBoton()"
                                    style="font-weight: bold;">
                                    <i class="fa fa-plus"></i> Nuevo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Tabla con el resultado de la búsqueda -->
<div class='row container-fluid' style="width: 100%"
    *ngIf="listaSolicitudes.length > 0 && !formularioVisible && !revisarVisible">
    <div class="col">
        <div class="card border-info rounded">
            <div class="card-header bg-secondary text-white" *ngIf="listaSolicitudes.length > 0">
                <span class="font-weight-bold">
                    Listado de solicitudes de aretes oficiales
                </span>
                <span class="round rounded-circle text-white font-weight-bold d-inline-block text-center bg-info">{{
                    listaSolicitudes.length }}</span>
                <div class="btn-group ml-2" role="group" aria-label="Navegar">
                    <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="inicio > 0"><i
                            class="fa fa-fast-backward"></i></button>
                    <!--button type="button" class="btn btn-success"><i class="fa fa-play"></i></button-->
                    <button (click)="siguiente()" type="button" class="btn btn-success"
                        *ngIf="listaSolicitudes.length > 99"><i class="fa fa-fast-forward"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th class="badge-light-info font-16 text-center">ID</th>
                                <th class="badge-light-info font-16 text-center">Fecha registro</th>
                                <th class="badge-light-info font-16">Proveedor</th>
                                <th class="badge-light-info font-16">Contacto proveedor</th>
                                <th class="badge-light-info font-16 text-center">Cantidad</th>
                                <th class="badge-light-info font-16 text-center">Estado</th>
                                <th class="badge-light-info font-16 text-center">Observaciones</th>
                                <th class="badge-light-info font-16 text-center">Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of listaSolicitudes">
                                <td class="text-center">
                                    <p><span class="font-weight-bold">{{ solicitud.idSolicitudesAretes }}</span></p>
                                </td>
                                <td class="text-center">
                                    <p class="font-weight-bold" style="font-size:small;">
                                        {{ solicitud.fechaCreacionFormateada }}
                                    </p>
                                </td>
                                <td>
                                    <p class="font-weight-bold" style="font-size:small;">
                                        [{{ solicitud.numeroIdentificacionProveedor }}] - {{
                                        solicitud.nombresProveedor.toUpperCase()
                                        }}
                                    </p>
                                </td>
                                <td>
                                    <p style="margin-bottom: 0.25rem; font-size:small;"><span
                                            class="font-weight-bold">Celular / WhatsApp:</span>
                                        09{{ solicitud.telefonoProveedor }}
                                    </p>
                                    <p style="margin-bottom: 0.25rem; font-size:small;"><span
                                            class="font-weight-bold">E-mail:</span>
                                        {{ solicitud.emailProveedor.toLowerCase() }}
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p><span class="round rounded-circle font-weight-bold d-inline-block text-center"
                                            [ngClass]="{
                                    'rounded-circle-amarillo': solicitud.idTiposAretes == 1, 
                                    'rounded-circle-rojo': solicitud.idTiposAretes == 2}"
                                            [ngStyle]="{'font-size': calcularFontSize(solicitud.cantidadAretes)}">
                                            {{solicitud.cantidadAretes}}</span></p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <span class="badge rounded-pill font-weight-bold" [ngClass]="{
                                                'badge-secondary': solicitud.idEstadosSolicitudes == 1, 
                                                'badge-entregado': solicitud.idEstadosSolicitudes == 2,
                                                'badge-danger': solicitud.idEstadosSolicitudes == 3,
                                                'badge-primary': solicitud.idEstadosSolicitudes == 4 }">
                                            {{ solicitud.nombreEstadoSolicitud.toLowerCase() }}
                                        </span>
                                    </p>
                                    <p>
                                        <span class="badge rounded-pill font-weight-bold" [ngClass]="{
                                            'badge-warning': solicitud.idEstadosSolicitudes == 1, 
                                            'badge-entregado': solicitud.idEstadosSolicitudes == 2,
                                            'badge-danger': solicitud.idEstadosSolicitudes == 3,
                                            'badge-primary': solicitud.idEstadosSolicitudes == 4 }">
                                            {{ solicitud.nombrePasoSolicitud.toLowerCase() }}
                                        </span>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <span class="badge rounded-pill font-weight-bold">
                                        {{ solicitud.observaciones.toLowerCase() }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <button type="button" class="btn waves-effect waves-light"
                                            style="background-color: #398bf7; color: white; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                            [title]="generarTitulo(solicitud)"
                                            (click)="asignarDatosRevision(solicitud.idSolicitudesAretes)"
                                            onmouseover="this.style.backgroundColor='#2a7be4'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                            onmouseout="this.style.backgroundColor='#398bf7'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                            <i class="fa fa-eye"
                                                style="color: white; font-size: 18px; margin-right: 8px;"></i>
                                            Revisar
                                        </button>
                                    </p>
                                    <p
                                        *ngIf="solicitud.idPasosSolicitudesAretes == 1 && solicitud.idEstadosSolicitudes == 1">
                                        <button type="button" class="btn waves-effect waves-light"
                                            style="background-color: #FF0000; color: white; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                            [title]="generarTitulo(solicitud,'Anular')"
                                            (click)="tramitarSolicitud('anular',solicitud.idSolicitudesAretes)"
                                            onmouseover="this.style.backgroundColor='#CC0000'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                            onmouseout="this.style.backgroundColor='#FF0000'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                            <i class="fa fa-times-circle"
                                                style="color: white; font-size: 18px; margin-right: 8px;"></i>
                                            Anular
                                        </button>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sección con los datos del proveedor -->
<div *ngIf="revisarVisible" class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Datos del proveedor
            </div>
            <div class="card-body">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Número de
                        identificación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-4 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.numeroIdentificacionProveedor }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Apellidos y nombres
                        /
                        Razón social</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.nombresProveedor.toLocaleUpperCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Correo
                        electrónico</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.emailProveedor.toLocaleLowerCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Celular /
                        WhatsApp</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">09{{
                            solicitudSeleccionada?.telefonoProveedor }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sección con los datos del solicitante -->
<hr class="mt-0">
<div *ngIf="formularioVisible" class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Datos del solicitante
            </div>
            <div class="card-body">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Número de
                        identificación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label
                            class="col-md-4 text-left control-label col-form-label">{{solicitante?.numeroIdentificacion}}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Apellidos y nombres
                        /
                        Razón social</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{solicitante?.nombres}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Formulario para generar la solicitud de aretes oficiales -->
<div *ngIf="formularioVisible" class='row container-fluid' style="width: 100%">
    <div class='col'>
        <div class='card border border-info rounded'>
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Registro de solicitud de aretes oficiales
            </div>
            <div class='card-body'>
                <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarSolicitudAretes()"
                    class="form-horizontal r-separator" action="index.html">
                    <h4 class="card-title my-4 font-weight-bold">
                        Información del proveedor
                    </h4>
                    <hr class="mt-0">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Razón
                            social<span class="text-danger font-weight-bold"> *</span></label>
                        <div class="col-md-7 border-left pb-2 pt-2">
                            <select class="form-control border-secondary" formControlName="inputProveedor" #idProveedor
                                name="inputProveedor" (change)="cambiarProveedor(idProveedor.value)">
                                <option value=null selected disabled>--- Seleccione una opción ---</option>
                                <option *ngFor="let proveedor of listaProveedores"
                                    value="{{proveedor.idProveedoresAretes}}">
                                    {{proveedor.numeroIdentificacionUsuario}} -
                                    {{proveedor.nombresUsuario.toUpperCase()}}</option>
                            </select>
                        </div>
                        <label *ngIf="this.emailProveedor"
                            class="col-md-3 text-right control-label col-form-label font-weight-bold">Correo
                            electrónico</label>
                        <div *ngIf="this.emailProveedor" class="col-md-9 border-left pb-2 pt-2">
                            <label
                                class="col-md-8 text-left control-label col-form-label">{{this.emailProveedor}}</label>
                        </div>
                        <label *ngIf="this.celularProveedor"
                            class="col-md-3 text-right control-label col-form-label font-weight-bold">Celular /
                            WhatsApp</label>
                        <div *ngIf="this.celularProveedor" class="col-md-9 border-left pb-2 pt-2">
                            <label
                                class="col-md-8 text-left control-label col-form-label">{{this.celularProveedor}}</label>
                        </div>
                    </div>
                    <h4 class="card-title my-4 font-weight-bold">
                        Contacto del solictante
                    </h4>
                    <hr class="mt-0">
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputTelefono"
                            class="col-md-3 text-right control-label col-form-label font-weight-bold">Celular /
                            WhatsApp<span class="text-danger font-weight-bold"> *</span></label>
                        <div class="col-md-4 border-left pb-2 pt-2">
                            <input id="telefono" type="text" class="form-control border-secondary"
                                formControlName="inputTelefono" name="inputTelefono"
                                placeholder="Ingrese su número de celular o WhatsApp" mask="0000-0000" prefix="09-">
                        </div>
                    </div>
                    <h4 class="card-title my-4 font-weight-bold">
                        Aretes oficiales requeridos
                    </h4>
                    <hr class="mt-0">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Tipo<span
                                class="text-danger font-weight-bold"> *</span></label>
                        <div class="col-md-4 border-left pb-2 pt-2">
                            <select class="form-control border-secondary" formControlName="inputTipoArete" #idTipoArete
                                name="inputTipoArete" (change)="cambiarTipoArete(idTipoArete.value)">
                                <option value=null selected disabled>--- Seleccione una opción ---</option>
                                <option *ngFor="let tipoArete of listaTiposAretes"
                                    value="{{tipoArete.id_tipos_aretes}}">
                                    {{tipoArete.nombre.toLowerCase()}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputCantidad"
                            class="col-md-3 text-right control-label col-form-label font-weight-bold">Cantidad<span
                                class="text-danger font-weight-bold"> *</span></label>
                        <div class="col-md-4 border-left pb-2 pt-2">
                            <input type="number" class="form-control border-secondary" formControlName="inputCantidad"
                                name="inputCantidad" placeholder="Ingrese la cantidad de aretes que desea solicitar"
                                min="0">
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="form-group row align-items-center mb-0">
                        <div class="col-md-9 pb-2 pt-2">
                            <p class="text-muted mb-3 font-weight-bold" style="font-size: 0.9rem; padding-left: 4%;">
                                <em>Los campos marcados con <span class="text-danger font-weight-bold">*</span> son
                                    obligatorios.</em>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group text-center mt-3">
                            <div class="col-xs-12">
                                <button
                                    class="btn btn-info btn-lg font-weight-bold font-16 text-uppercase mx-2 btn-block-custom"
                                    style="width: 48%;" type="submit">Guardar</button>
                                <button
                                    class="btn btn-danger btn-lg font-weight-bold font-16 text-uppercase mx-2 btn-block-custom"
                                    style="width: 48%;" type="button" (click)="botonCancelar()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sección con los datos de la solicitud -->
<div *ngIf="revisarVisible" class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Datos de la solicitud
            </div>
            <div class="card-body">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">ID</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-4 text-left control-label col-form-label font-weight-bold">{{
                            solicitudSeleccionada?.idSolicitudesAretes }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Fecha
                        registro</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.fechaCreacionFormateada }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Estado
                        actual</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="text-center control-label col-form-label badge rounded-pill font-weight-bold"
                            [ngClass]="{
                            'badge-secondary': solicitudSeleccionada?.idEstadosSolicitudes == 1, 
                            'badge-entregado': solicitudSeleccionada?.idEstadosSolicitudes == 2,
                            'badge-danger': solicitudSeleccionada?.idEstadosSolicitudes == 3,
                            'badge-primary': solicitudSeleccionada?.idEstadosSolicitudes == 4
                        }">{{ solicitudSeleccionada?.nombreEstadoSolicitud.toLocaleLowerCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Fase actual</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="text-center badge rounded-pill font-weight-bold" [ngClass]="{
                            'badge-warning': solicitudSeleccionada?.idEstadosSolicitudes == 1, 
                            'badge-entregado': solicitudSeleccionada?.idEstadosSolicitudes == 2,
                            'badge-danger': solicitudSeleccionada?.idEstadosSolicitudes == 3,
                            'badge-primary': solicitudSeleccionada?.idEstadosSolicitudes == 4 }">
                            {{ solicitudSeleccionada?.nombrePasoSolicitud.toLocaleLowerCase() }}
                        </label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold ">Cantidad de
                        aretes requerida</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="round rounded-circle font-weight-bold d-inline-block text-center" [ngClass]="{
                                    'rounded-circle-amarillo': solicitudSeleccionada?.idTiposAretes == 1, 
                                    'rounded-circle-rojo': solicitudSeleccionada?.idTiposAretes == 2 }"
                            [ngStyle]="{'font-size': calcularFontSize(solicitudSeleccionada?.cantidadAretes)}">
                            {{solicitudSeleccionada?.cantidadAretes}}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold ">Tipo de
                        arete</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="badge rounded-pill font-weight-bold" [ngClass]="{ 
                            'badge-amarillo': solicitudSeleccionada?.idTiposAretes == 1, 
                            'badge-rojo': solicitudSeleccionada?.idTiposAretes == 2 }">
                            {{solicitudSeleccionada?.nombreTipoArete.toLowerCase()}}</label>
                    </div>
                    <label
                        *ngIf="solicitudSeleccionada?.rangoCodigoOficial !== '' && solicitudSeleccionada?.idPasosSolicitudesAretes > 3"
                        class="col-md-3 text-right control-label col-form-label font-weight-bold">Rango</label>
                    <div *ngIf="solicitudSeleccionada?.rangoCodigoOficial !== '' && solicitudSeleccionada?.idPasosSolicitudesAretes > 3"
                        class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">
                            {{ solicitudSeleccionada?.rangoCodigoOficial }}
                        </label>
                    </div>
                    <label
                        class="col-md-3 text-right control-label col-form-label font-weight-bold">Observaciones</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.observaciones.toLocaleLowerCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Télefono de
                        contacto</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">09{{
                            solicitudSeleccionada?.telefonoSolicitante }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Últ.
                        Modificación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">
                            {{ solicitudSeleccionada?.fechaUltimaModificacionFormateada }} / {{
                            solicitudSeleccionada?.usuarioModificador }}</label>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="form-group mb-0 text-center ">
                        <button class="btn btn-danger btn-lg font-weight-bold font-16 text-uppercase mx-2 w-100"
                            type="button" (click)="botonSalir()">
                            Salir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Listado de aretes oficiales aprobados-->
    <div class="row" *ngIf="listaAretesAprobados.length > 0">
        <div class="col">
            <div class="card border border-info rounded">
                <div class="card-header bg-info text-white rounded-top font-weight-bold">Aretes aprobados</div>
                <div class="card-body">
                    <div class="p-3 d-flex justify-content-center">
                        <button class="btn btn-info text-uppercase btn-block-custom" title="Descargar listado"
                            style="width: 50px;" (click)="exportarListadoAretes(this.idSolicitud)">
                            <i class="fas fa-download"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr *ngFor="let arete of listaAretesAprobados" class="d-flex">
                                        <td>{{ arete.codigoOficial }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>