<!-- Formulario para búsqueda de solicitudes -->
<div *ngIf="!formularioVisible" id="formularioBusqueda" class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Búsqueda de solicitudes de aretes oficiales
            </div>
            <form ngNativeValidate [formGroup]="formularioBusqueda" class="form-horizontal r-separator"
                (ngSubmit)="buscarSolicitudes()">
                <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">ID</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary font-weight-bold" autocomplete="on"
                                (change)="limpiarListaSolicitudes()" formControlName="inputId" placeholder="Ingrese ID"
                                maxlength="10">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Número
                            identificación</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary font-weight-bold" autocomplete="on"
                                (change)="limpiarListaSolicitudes()" formControlName="inputIdentificacion"
                                placeholder="Ingrese número de identificación del solicitante" maxlength="13">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Estado</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <select class="form-control border-secondary font-weight-bold" formControlName="inputEstado"
                                name="inputEstado" (change)="limpiarListaSolicitudes()">
                                <option [value]="-1" selected enabled>--- Todos ---</option>
                                <option *ngFor="let estado of listaEstadoSolicitudes"
                                    value="{{estado.id_estados_solicitudes}}">
                                    {{estado.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Fase</label>
                        <div class="col-md-6 border-left pb-2 pt-2">
                            <select class="form-control border-secondary font-weight-bold" formControlName="inputFase"
                                name="inputFase" (change)="limpiarListaSolicitudes()">
                                <option [value]="-1" selected enabled>--- Todas ---</option>
                                <option *ngFor="let fase of listaFasesSolicitudes"
                                    value="{{fase.id_pasos_solicitudes_aretes}}">
                                    [{{ fase.orden}}] {{fase.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Rango de
                            consulta</label>
                        <div class="col-md-6 border-left pb-2 pt-2 input-group">
                            <input formControlName="fecha_inicio" type="date" (change)="limpiarListaSolicitudes()"
                                class="form-control text-center border-secondary font-weight-bold"
                                placeholder="Fecha de Inicio">
                            <label
                                class="col-md-3 text-center font-weight-bold control-label col-form-label">&gt;&lt;</label>
                            <input formControlName="fecha_fin" type="date" (change)="limpiarListaSolicitudes()"
                                [max]="fechaMaxima | date: 'yyyy-MM-dd'"
                                class="form-control text-center border-secondary font-weight-bold"
                                placeholder="Fecha de Fin">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-4"> <!-- Ajuste de margen -->
                        <div class="col-md-6"></div>
                        <div class="col-md-3 text-right">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-info me-3 px-4" style="font-weight: bold;">
                                    <i class="fas fa-search"></i> Buscar
                                </button>
                                <button *ngIf="listaSolicitudes.length > 0" class="report-btn px-4"
                                    (click)="exportarSolicitudesAretes()" style="font-weight: bold;">
                                    <i class="fas fa-file-alt"></i> Reporte
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Tabla con el resultado de la búsqueda -->
<div class='row container-fluid' style="width: 100%" *ngIf="listaSolicitudes.length > 0 && !formularioVisible">
    <div class="col">
        <div class="card border-info rounded">
            <div class="card-header bg-secondary text-white" *ngIf="listaSolicitudes.length > 0">
                <span class="font-weight-bold">
                    Listado de solicitudes de aretes oficiales
                </span>
                <span class="round rounded-circle text-white font-weight-bold d-inline-block text-center bg-info">{{
                    listaSolicitudes.length }}</span>
                <div class="btn-group ml-2" role="group" aria-label="Navegar">
                    <button (click)="anterior()" type="button" class="btn btn-success" *ngIf="inicio > 0"><i
                            class="fa fa-fast-backward"></i></button>
                    <button (click)="siguiente()" type="button" class="btn btn-success"
                        *ngIf="listaSolicitudes.length > 99"><i class="fa fa-fast-forward"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th class="badge-light-info font-16 text-center">ID</th>
                                <th class="badge-light-info font-16 text-center">Fecha registro</th>
                                <th class="badge-light-info font-16">Solicitante</th>
                                <th class="badge-light-info font-16">Contacto solicitante</th>
                                <th class="badge-light-info font-16 text-center">Cantidad</th>
                                <th class="badge-light-info font-16 text-center">Estado</th>
                                <th class="badge-light-info font-16 text-center">Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of listaSolicitudes">
                                <td class="text-center">
                                    <p><span class="font-weight-bold">{{ solicitud.idSolicitudesAretes }}</span></p>
                                </td>
                                <td class="text-center">
                                    <p class="font-weight-bold" style="font-size:small;">
                                        {{ solicitud.fechaCreacionFormateada }}
                                    </p>
                                </td>
                                <td>
                                    <p><span class="badge rounded-pill font-weight-bold"
                                            [ngClass]="{'badge-info':solicitud.idTiposSolicitantes==1, 'badge-secondary':solicitud.idTiposSolicitantes==2}">
                                            {{ solicitud.nombreTipoSolicitante.toLowerCase() }}
                                        </span>
                                    </p>
                                    <p class="font-weight-bold" style="font-size:small;">
                                        [{{ solicitud.numeroIdentificacionSolicitante }}] {{
                                        solicitud.nombresSolicitante.toUpperCase() }}
                                    </p>
                                </td>
                                <td>
                                    <p style="margin-bottom: 0.25rem; font-size:small;"><span
                                            class="font-weight-bold">Celular / WhatsApp:</span>
                                        09{{ solicitud.telefonoSolicitante }}
                                    </p>
                                    <p style="margin-bottom: 0.25rem; font-size:small;"><span
                                            class="font-weight-bold">E-mail:</span>
                                        {{ solicitud.emailSolicitante.toLowerCase() }}
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p><span class="round rounded-circle font-weight-bold d-inline-block text-center"
                                            [ngClass]="{
                                    'rounded-circle-amarillo': solicitud.idTiposAretes == 1, 
                                    'rounded-circle-rojo': solicitud.idTiposAretes == 2}"
                                            [ngStyle]="{'font-size': calcularFontSize(solicitud.cantidadAretes)}">
                                            {{solicitud.cantidadAretes}}</span></p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <span class="badge rounded-pill font-weight-bold" [ngClass]="{
                                                'badge-secondary': solicitud.idEstadosSolicitudes == 1, 
                                                'badge-entregado': solicitud.idEstadosSolicitudes == 2,
                                                'badge-danger': solicitud.idEstadosSolicitudes == 3,
                                                'badge-primary': solicitud.idEstadosSolicitudes == 4 }">
                                            {{ solicitud.nombreEstadoSolicitud.toLowerCase() }}
                                        </span>
                                    </p>
                                    <p>
                                        <span class="badge rounded-pill font-weight-bold" [ngClass]="{
                                            'badge-warning': solicitud.idEstadosSolicitudes == 1, 
                                            'badge-entregado': solicitud.idEstadosSolicitudes == 2,
                                            'badge-danger': solicitud.idEstadosSolicitudes == 3,
                                            'badge-primary': solicitud.idEstadosSolicitudes == 4 }">
                                            {{ solicitud.nombrePasoSolicitud.toLowerCase() }}
                                        </span>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <button type="button" class="btn waves-effect waves-light"
                                            style="background-color: #398bf7; color: white; border: none; border-radius: 25px; padding: 10px 20px; font-size: 14px; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); transition: all 0.3s ease; width: 180px;"
                                            [title]="generarTitulo(solicitud)"
                                            (click)="asignarDatosRevision(solicitud.idSolicitudesAretes)"
                                            onmouseover="this.style.backgroundColor='#2a7be4'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.3)';"
                                            onmouseout="this.style.backgroundColor='#398bf7'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.2)';">
                                            <i class="fa fa-tasks"
                                                style="color: white; font-size: 18px; margin-right: 8px;"></i>
                                            Tramitar
                                        </button>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sección con los datos del proveedor -->
<div *ngIf="formularioVisible" class='row container-fluid' style="width: 100%; display: none;">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Datos del proveedor
            </div>
            <div class="card-body">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Número de
                        identificación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-4 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.numeroIdentificacionProveedor }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Apellidos y nombres
                        /
                        Razón social</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.nombresProveedor.toLocaleUpperCase() }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sección con los datos del solicitante -->
<div *ngIf="formularioVisible" class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Datos del solicitante
            </div>
            <div class="card-body">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Número de
                        identificación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-4 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.numeroIdentificacionSolicitante }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Apellidos y nombres
                        /
                        Razón social</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.nombresSolicitante.toLocaleUpperCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Correo
                        electrónico</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.emailSolicitante.toLocaleLowerCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Celular /
                        WhatsApp</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">09{{
                            solicitudSeleccionada?.telefonoSolicitante }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sección con los datos de la solicitud -->
<div *ngIf="formularioVisible" class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Datos de la solicitud
            </div>
            <div class="card-body">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">ID</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-4 text-left control-label col-form-label font-weight-bold">{{
                            solicitudSeleccionada?.idSolicitudesAretes }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Fecha
                        registro</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.fechaCreacionFormateada }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Estado
                        actual</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="text-center control-label col-form-label badge rounded-pill font-weight-bold"
                            [ngClass]="{
                            'badge-secondary': solicitudSeleccionada?.idEstadosSolicitudes == 1, 
                            'badge-entregado': solicitudSeleccionada?.idEstadosSolicitudes == 2,
                            'badge-danger': solicitudSeleccionada?.idEstadosSolicitudes == 3,
                            'badge-primary': solicitudSeleccionada?.idEstadosSolicitudes == 4
                        }">{{ solicitudSeleccionada?.nombreEstadoSolicitud.toLocaleLowerCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Fase actual</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="text-center badge rounded-pill font-weight-bold" [ngClass]="{
                            'badge-warning': solicitudSeleccionada?.idEstadosSolicitudes == 1, 
                            'badge-entregado': solicitudSeleccionada?.idEstadosSolicitudes == 2,
                            'badge-danger': solicitudSeleccionada?.idEstadosSolicitudes == 3,
                            'badge-primary': solicitudSeleccionada?.idEstadosSolicitudes == 4 }">
                            {{ solicitudSeleccionada?.nombrePasoSolicitud.toLocaleLowerCase() }}
                        </label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Tipo de
                        solicitante</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="text-center control-label col-form-label badge rounded-pill font-weight-bold"
                            [ngClass]="{'badge-info':solicitudSeleccionada?.idTiposSolicitantes==1, 'badge-secondary':solicitudSeleccionada?.idTiposSolicitantes==2}">
                            {{ solicitudSeleccionada?.nombreTipoSolicitante.toLocaleLowerCase() }}</label>
                    </div>
                    <label
                        class="col-md-3 text-right control-label col-form-label font-weight-bold">Observaciones</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">{{
                            solicitudSeleccionada?.observaciones.toLocaleLowerCase() }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Últ.
                        Modificación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">
                            {{ solicitudSeleccionada?.fechaUltimaModificacionFormateada }} / {{
                            solicitudSeleccionada?.usuarioModificador }}</label>
                    </div>
                    <label
                        *ngIf="solicitudSeleccionada?.idTiposSolicitantes == 1 && this.idPasosSolicitudes < 3 && solicitudSeleccionada?.idEstadosSolicitudes == 1"
                        class="col-md-3 text-right control-label col-form-label font-weight-bold ">Cantidad máxima
                        posible</label>
                    <div *ngIf="solicitudSeleccionada?.idTiposSolicitantes == 1 && this.idPasosSolicitudes < 3 && solicitudSeleccionada?.idEstadosSolicitudes == 1"
                        class="col-md-9 border-left pb-2 pt-2">
                        <label class="round rounded-circle font-weight-bold text-white d-inline-block text-center"
                            [ngClass]="{
                                'bg-warning': solicitudSeleccionada?.cantidadAretes > validacionAretes.disponibles,
                                'bg-info': solicitudSeleccionada?.cantidadAretes <= validacionAretes.disponibles }"
                            [ngStyle]="{'font-size': calcularFontSize(this.validacionAretesCatastro)}">
                            {{ this.validacionAretesCatastro }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold ">Cantidad de
                        aretes requerida</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="round rounded-circle font-weight-bold d-inline-block text-center" [ngClass]="{
                                    'rounded-circle-amarillo': solicitudSeleccionada?.idTiposAretes == 1, 
                                    'rounded-circle-rojo': solicitudSeleccionada?.idTiposAretes == 2 }"
                            [ngStyle]="{'font-size': calcularFontSize(solicitudSeleccionada?.cantidadAretes)}">
                            {{ solicitudSeleccionada?.cantidadAretes }}</label>
                    </div>
                    <label class="col-md-3 text-right control-label col-form-label font-weight-bold ">Tipo de
                        arete</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="badge rounded-pill font-weight-bold" [ngClass]="{ 
                            'badge-amarillo': solicitudSeleccionada?.idTiposAretes == 1, 
                            'badge-rojo': solicitudSeleccionada?.idTiposAretes == 2 }">
                            {{solicitudSeleccionada?.nombreTipoArete.toLowerCase()}}</label>
                    </div>
                    <label *ngIf="solicitudSeleccionada?.rangoCodigoOficial !== ''"
                        class="col-md-3 text-right control-label col-form-label font-weight-bold">Rango</label>
                    <div *ngIf="solicitudSeleccionada?.rangoCodigoOficial !== ''"
                        class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-8 text-left control-label col-form-label">
                            {{ solicitudSeleccionada?.rangoCodigoOficial }}
                        </label>
                    </div>
                    <label *ngIf="solicitudSeleccionada?.idPasosSolicitudesAretes == 3"
                        class="col-12 col-md-3 text-right control-label col-form-label text-black font-weight-bold"><em>¡Importante!</em></label>
                    <div *ngIf="solicitudSeleccionada?.idPasosSolicitudesAretes == 3"
                        class="col-12 col-md-9 border-left pb-2 pt-2">
                        <label class="badge rounded-pill font-weight-bold text-start text-wrap"
                            style="font-size: 14px; line-height: 1.5; text-align: left;">
                            <strong><em>Para que los aretes estén disponibles en el perfil del solicitante, es
                                    necesario finalizar la Fase 4 (Confirmar entrega de los aretes al
                                    solicitante).</em></strong>
                        </label>
                    </div>
                </div>
                <div class="card-body" *ngIf="this.estadoSolicitud > 1">
                    <div class="form-group mb-0 text-center ">
                        <button class="btn btn-danger btn-lg font-weight-bold font-16 text-uppercase mx-2 w-100"
                            type="button" (click)="botonSalir()">
                            Salir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Listado de aretes oficiales aprobados-->
    <div class="row" *ngIf="listaAretesAprobados.length > 0">
        <div class="col">
            <div class="card border border-info rounded">
                <div class="card-header bg-info text-white rounded-top font-weight-bold">Aretes aprobados</div>
                <div class="card-body">
                    <div class="p-3 d-flex justify-content-center">
                        <button class="btn btn-info text-uppercase btn-block-custom" title="Descargar listado"
                            style="width: 50px;" (click)="exportarListadoAretes(this.idSolicitud)">
                            <i class="fas fa-download"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr *ngFor="let arete of listaAretesAprobados" class="d-flex">
                                        <td>{{ arete.codigoOficial }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Formulario para generar la solicitud de aretes oficiales -->
<div *ngIf="formularioVisible && this.estadoSolicitud == 1" class='row container-fluid' style="width: 100%">
    <div class='col'>
        <div class='card border border-info rounded'>
            <div class="card-header bg-info text-white rounded-top font-weight-bold">
                Tramitar solicitud de aretes oficiales
            </div>
            <div class='card-body'>
                <form ngNativeValidate [formGroup]="formulario" class="form-horizontal r-separator" action="index.html">
                    <div *ngIf="(this.tipoSolicitante == '1' && this.cantidadAretes <= this.validacionAretesCatastro) || this.tipoSolicitante == '2' || this.idPasosSolicitudes > 2"
                        class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label font-weight-bold">Fase</label>
                        <div class="col-md-8 border-left pb-2 pt-2">
                            <select class="form-control border-secondary" formControlName="inputFase" name="inputFase"
                                (change)="limpiarListaSolicitudes()">
                                <option *ngFor="let fase of listaFaseSiguiente"
                                    value="{{fase.id_pasos_solicitudes_aretes}}">
                                    [{{fase.orden}}] {{fase.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="(this.tipoSolicitante == '1' && this.cantidadAretes <= this.validacionAretesCatastro) || this.tipoSolicitante == '2' || this.idPasosSolicitudes > 2"
                        class="form-group row align-items-center mb-0">
                        <label for="inputCantidad"
                            class="col-md-3 text-right control-label col-form-label font-weight-bold">Observaciones</label>
                        <div class="col-md-8 border-left pb-2 pt-2">
                            <input type="text" class="form-control border-secondary text-lowercase"
                                formControlName="inputObservaciones" name="inputObservaciones" maxlength="150"
                                placeholder="Ingrese observaciones (máximo 150 caracteres)">
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button
                                *ngIf="(this.tipoSolicitante == '1' && this.cantidadAretes <= this.validacionAretesCatastro) || this.tipoSolicitante == '2' || this.idPasosSolicitudes > 2"
                                class="btn btn-info btn-lg font-weight-bold font-16 text-uppercase mx-2 btn-block-custom"
                                type="button" (click)="tramitarSolicitud('tramitar', this.idSolicitud)">
                                {{ this.idPasosSolicitudes === 3 ? 'Finalizar' : 'Tramitar' }}
                            </button>
                            <button
                                class="btn btn-danger btn-lg font-weight-bold font-16 text-uppercase mx-2 btn-block-custom"
                                type="button" (click)="botonCancelar()">Salir</button>
                            <button *ngIf="this.idPasosSolicitudes < 3"
                                class="btn btn-warning btn-lg font-weight-bold font-16 text-white text-uppercase mx-2 btn-block-custom"
                                type="button"
                                (click)="rechazarSolicitud('rechazar', this.idSolicitud)">Rechazar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>