<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Bandeja de Solicitudes de Baja de Identificador
            </div>
            <hr class="mt-0">
            <div class="card-body contenedor-tabla-overflow">
                <h4 class="card-title">Solicitudes activas en bandeja</h4>
                <div class="form-group row align-items-center mb-0">
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-sm-1"></th>
                                <th scope="col" class="col-sm-1"># Solicitud</th>
                                <th scope="col" class="col-sm-2">Solicitante</th>
                                <th scope="col" class="col-sm-2">Responsable</th>
                                <th scope="col" class="col-sm-1">Paso Actual</th>
                                <th scope="col" class="col-sm-1">Estado</th>
                                <th scope="col" class="col-sm-1">Identificador a dar de baja</th>
                                <th scope="col" class="col-sm-1">Días en espera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of listaSolicitudes" class="d-flex">
                                <td><input type="radio" *ngIf="solicitud.id_estados_solicitudes == 1" class="form-control-lg" id='inputIdSolicitud' (change)='seleccionaSolicitud(solicitud.id_solicitudes_baja_identificador, solicitud.id_identificadores_bovinos, solicitud.codigo_oficial, solicitud.observaciones)' name="inputIdSolicitud"></td>
                                <td class="col-sm-1">{{solicitud.id_solicitudes_baja_identificador}}</td>
                                <td class="col-sm-2">{{solicitud.solicitante}}</td>
                                <td class="col-sm-2">{{solicitud.responsable}}</td>
                                <td class="col-sm-1">{{solicitud.paso}}</td>
                                <td class="col-sm-1">{{solicitud.estado}}</td>
                                <td class="col-sm-1">{{solicitud.codigo_oficial}}</td>
                                <ng-template [ngIf]="solicitud.id_estados_solicitudes == 1" [ngIfElse]="noDiasPasados"><td class="col-sm-1"> {{solicitud.dias_espera}} </td></ng-template>
                                <ng-template #noDiasPasados><td class="col-sm-1"> - </td></ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class='card' *ngIf="this.tramiteVisible">
            <div class="card-header bg-info text-white rounded-top">
                Trámite de solicitud
            </div>
            <hr class="mt-0">
            <form ngNativeValidate [formGroup]="formulario" class="form-horizontal r-separator" action="index.html">
            <div class="card-body">
                <h4 class="card-title">Tramitar solicitud</h4>
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Código de la solicitud</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label" >{{this.idSolicitud}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputIdentificadorReareteo" class="col-md-3 text-right control-label col-form-label">Identificador a dar de baja:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label" formControlName="inputIdentificadorReareteo" id="inputIdentificadorReareteo" name="inputIdentificadorReareteo">{{this.codigoOficial}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputObservacionesIniciales" class="col-md-3 text-right control-label col-form-label">Observaciones paso anterior:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{this.observacionesAnteriores}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputObservaciones" class="col-md-3 text-right control-label col-form-label">Observaciones</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputObservaciones" name="inputObservaciones" placeholder="Observaciones">
                        <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputObservaciones.errors?.required && formulario.touched">
                            Ingrese un comentario como observación
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="form-group mb-0 text-center ">
                        <button name="btnRechazar" id="btnRechazar" (click)='tramitarSolicitud("rechazar")' class="btn btn-warning btn-lg  text-uppercase waves-effect waves-light" type="submit">Rechazar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button name="btnTramitar" id="btnTramitar" (click)='tramitarSolicitud("tramitar")' class="btn btn-success btn-lg  text-uppercase waves-effect waves-light" type="submit">Tramitar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



