<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top">
        Buscar
    </div>
    <form ngNativeValidate [formGroup]="formularioBusqueda" (ngSubmit)="buscarTransportista()" class="form-horizontal r-separator">
        <div class="card-body">
            <div class="form-group row align-items-center mb-0">
                <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Propietario CI</label>
                <div class="col-md-9 border-left pb-2 pt-2">
                    <input type="text" formControlName="ci_transportista" class="form-control" placeholder="CI transportista">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group mb-0 text-right">
                <button type="submit" class="btn btn-info waves-effect waves-light">Buscar</button>
            </div>
        </div>
    </form>
</div>
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top">
        Vehiculos
    </div>
    <div class="card-body">
        <div class="row badge-light-info p-3">
            <!--div class="toolbar"-->
            <div class="row w-100">
                <div class="col-sm border-left pb-2 pt-2 pull-right text-right">
                    <button (click)="agregarTransportista()" class="btn btn-success waves-effect waves-light" type="button">
                        Transportista
                        <span class="btn-label">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
            <!--/div-->
        </div>
        <div class="row p-3">
            <div class="col table-wrapper-scroll-y custom-scrollbar">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Datos del transportista</th>
                            <th>Datos de la licencia</th>
                            <th>Tipo de actividad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transportista of listaTransportista">
                            <td>
                                <p><span class="font-weight-bold">Cédula: </span> {{ transportista.cedula }} </p>
                                <p><span class="font-weight-bold">Nombres: </span> {{ transportista.nombreCompleto }} </p>
                            </td>
                            <td>
                                <p><span class="font-weight-bold">Tipo: </span> {{ transportista.tipoLicencia }}</p>
                                <p><span class="font-weight-bold">Puntos: </span> {{ transportista.puntosLicencia }} </p>
                            </td>
                            <td>
                               {{ transportista.nombreTipoActividadTransporte }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-agregar-transportista></app-agregar-transportista>