<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top">
        Usuarios Externos
    </div>
    <div class="card-body">
        <div class="row badge-light-info p-3">
            <!--div class="toolbar"-->
            <div class="row">
                <div class="col">
                    <button class="btn btn-success waves-effect waves-light" type="button" (click)="agregarUsuario()">
                        <span class="btn-label">
                          <i class="fas fa-plus"></i>
                          Agregar Usuario Externo
                        </span>
                      </button>
                </div>
            </div>
        </div>
    </div>
    <form ngNativeValidate [formGroup]="formularioBusqueda" (ngSubmit)="buscarUsuariosExternos()" class="form-horizontal r-separator">
        <div class="card-body">
            <div class="form-group row align-items-center mb-0">
                <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">CI/RUC</label>
                <div class="col-md-9 border-left pb-2 pt-2">
                    <input type="text" formControlName="ci" class="form-control" placeholder="CI/RUC" maxlength="13">
                    <div class="invalid-feedback d-block" *ngIf="formularioBusqueda.controls.ci.errors?.required && formularioBusqueda.touched">
                        Ingrese un número de cédula o RUC
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group mb-0 text-right">
                <button type="submit" class="btn btn-info waves-effect waves-light">Buscar</button>
            </div>
        </div>
    </form>
</div>

<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top">
        Usuarios registrados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col table-wrapper-scroll-y custom-scrollbar">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Datos</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuariosExternos">
                            <td>
                                {{ usuario.numeroIdentificacion }}
                            </td>
                            <td>
                                <p><span class="font-weight-bold">Tipo identificación: </span> {{ usuario.nombreTipoIdentificacion }} </p>
                                <p><span class="font-weight-bold">Razón social: </span> {{ usuario.razonSocial }} </p>
                                <p><span class="font-weight-bold">Nombres y apellidos: </span> {{ usuario.nombres }} {{ usuario.apellidos }} </p>
                                <p><span class="font-weight-bold">Correo electrónico: </span> {{ usuario.email }} </p>
                            </td>
                            <td>
                                <span class="badge badge-danger rounded-pill" *ngIf="usuario.estado==1">{{ usuario.nombreEstado }}</span>
                                <span class="badge badge-info rounded-pill" *ngIf="usuario.estado==2">{{ usuario.nombreEstado }}</span>
                                <span class="badge badge-primary rounded-pill" *ngIf="usuario.estado>2">{{ usuario.nombreEstado }}</span>
                            </td>
                            <!--td>
                                <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-edit font-18 "></i> </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
                                            <a class="dropdown-item cursor-pointer" *ngIf="bovino.codigoEstadoRegistro==='E_VERF'" (click)="verificarBovino(bovino.idBovino)"><i class="fas fa-check"></i> Verificado</a> 
                                            <a class="dropdown-item cursor-pointer" *ngIf="bovino.codigoEstadoRegistro==='R-CONF'" (click)="confirmarBovino(bovino.idBovino)"><i class="fas fa-check"></i> Confirmar</a> 
                                            <a class="dropdown-item cursor-pointer" (click)="deshabilitarBovino(bovino.idBovino)"><i class="fas fa-check"></i> Deshabilitar</a> 
                                        </div>
                                    </div>
                                    
                                </div>
                            </td-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Componente para crear un nuevo usuario ciudadano -->
<app-crear-usuario-externo>
</app-crear-usuario-externo>