<div class="preloader ">
    <div class="lds-ripple ">
        <div class="lds-pos "></div>
        <div class="lds-pos "></div>
    </div>
</div>
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/{{this.randomBackground}}) no-repeat center center; background-size: cover;">
    <div class="auth-box">

        <div class="row p-1 m-b-5">
            
            <div class="col m-1 bg-blue-light">
                <div >
                    
                        <img alt="thumbnail " width="390 " class="rounded-circlem" height="180" src="assets/images/background/logo_in.jpg">
                        
                    
                </div>
            </div>
        </div>
        <div class="row p-1 m-b-5">
        </div>
        <div class="row p-1 m-b-5">
        </div>
        <div class="row p-1 m-b-5">
        </div>
        <div class="row p-1 m-b-5">
        </div>
        <div class="row p-1 m-b-5">
        </div>
        <div class="row p-1 m-b-5">
        </div>

        <div class="row p-1 m-b-5">
            <div class="col m-1 bg-blue-light">
                <div class="logo text-center">
                    <button class="btn btn-block waves-effect waves-light btn-light m-1" routerLink="/login-interno">
                        <img alt="thumbnail" class="rounded-circle" width="120" src="assets/images/icon/ingeniero2.svg">
                        <h5 class="font-weight-medium mb-3">Usuario interno </h5>
                    </button>
                </div>
            </div>
            <div class="col m-1 bg-blue-light">
                <div class=" logo text-center ">
                    <button class="btn btn-block waves-effect waves-light btn-light m-1" routerLink="/login-externo">
                        <img alt="thumbnail " class="rounded-circle " width="120 " src="assets/images/icon/ganadero2.svg">
                        <h5 class="font-weight-medium mb-3 ">Usuario externo</h5>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <!--<div class="intro-header">
    </div>-->
    <div class="intro-footer">
    </div>
    <!--Lanzar Pop Up-->
    <div class="modal-overlay" *ngIf="isModalOpen && popupData">
        <div class="modal-content">
        <h2>{{ popupData.titulo || 'Agrocalidad Informa' }}</h2>
            <div class="image-container">
                <ng-container *ngIf="popupData.url; else withoutLink">
                    <a [href]="popupData.url" target="_blank" class="image-link">
                        <img [src]="getImageUrl(popupData.imagen)" 
                            [alt]="popupData.titulo || 'Información Agrocalidad'" 
                            class="modal-image">
                    </a>
                </ng-container>
                <ng-template #withoutLink>
                    <img [src]="getImageUrl(popupData.imagen)" 
                        [alt]="popupData.titulo || 'Información Agrocalidad'" 
                        class="modal-image">
                </ng-template>
            </div>
            <button class="close-button" (click)="closeModal()">CONTINUAR</button>
        </div>
    </div>
</div>
