<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Delegaciones
            </div>
            <hr class="mt-0">
            <div class="card-body">
                <h4 class="card-title">Listado de delegaciones</h4>
                <div class="form-group row align-items-center mb-0 contenedor-tabla-overflow">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Filtrar</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" name="filtro" #filtroEstado (change)="filtrarDelegacionesEstado(filtroEstado.value)">
                                <option value=null selected disabled>Seleccione una estado de delegación</option>
                                <option value=0 >Todos</option>
                                <option value=1 >Aceptadas</option>
                                <option value=2 >Anuladas</option>
                            </select>
    
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Filtrar por identificación delegado</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input class="form-control" type="text" (keyup)="filtrarDelegacionesDelegado($event)" placeholder="Buscar..">
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr class>
                                <th scope="col" >Usuario Delegado</th>
                                <th scope="col" >Identificación Delegado</th>
                                <th scope="col" >Fecha Inicio</th>
                                <th scope="col" >Fecha Fin</th>
                                <th scope="col" >Estado</th>
                                <th scope="col" >Observaciones</th>
                                <th scope="col" >Anular</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let delegacion of listaDelegaciones" >
                                <td >{{delegacion.nombre_delegado}}</td>
                                <td >{{delegacion.identificacion_delegado}}</td>
                                <td >{{delegacion.fecha_inicio.substring(0,16)}}</td>
                                <td >{{delegacion.fecha_fin.substring(0,16)}}</td>
                                <td >{{delegacion.nombre_estado}}</td>
                                <td >
                                    <p class="text-muted mb-1 font-14">{{delegacion.observaciones}}</p>
                                </td>
                                <td ><button *ngIf="delegacion.estado == 1 && !delegacion.caducada" type="button" class="btn btn-info" (click)='anularDelegacion(delegacion.id_delegaciones_usuarios_internos)'><i class="fas fa-ban"></i></button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

