<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class='row'>
    <div class='col'>
        <div class='card border rounded border-info'>
            <div class="card-header bg-info">
                <h4 class="mb-0 text-white">Registrar de baja de bovino</h4>
            </div>
            <div class='card-body'>
                <h4 class="card-title">Datos de identificación del bovino</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Identificación oficial:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.codigoIdentificacion }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Registro de Nacimiento Provisional (RNP):</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.registroNacimientoProvisional }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Registro de Nacimiento Definitivo (RND):</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.registroNacimientoDefinitivo }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Tatuaje:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.tatuaje }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Marca:</label>
                                <div class="col">
                                    <p class="form-control-static">
                                        <img src="assets/images/marca-ejemplo.png" height="50px"> {{ bovino?.marca }}
                                    </p>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="bovino?.identificacionVirtual">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Identificación virtual:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.identificacionVirtual }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Ubicación del bovino-->
            <hr class="mt-0">
            <div class='card-body'>
                <h4 class="card-title">Ubicación del bovino</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">País:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ pais?.nombre }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Provincia:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ provincia?.nombre }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Cantón:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ canton?.nombre }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Parroquia:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ parroquia?.nombre }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Finca:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ sitio?.nombre}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Predio:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ area?.nombre }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Datos del bovino-->
            <hr class="mt-0">
            <div class='card-body'>
                <h4 class="card-title">Datos del bovino</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Fecha de nacimiento:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.fechaNacimiento }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Sexo:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.sexo.nombre }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Pureza:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.pureza.nombre }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Raza predominante:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.raza.nombreComun }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Categoría:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.categoria.nombre }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Características adicionales:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.caracteristicas }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Datos del padre y madre-->
            <hr class="mt-0">
            <div class="card-body">
                <h4 class="card-title">Datos de la madre y padre del bovino</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Bovino madre:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovinoMadre?.codigoIdentificacion }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Bovino madre donadora:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovinoMadreDonadora?.codigoIdentificacion }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Bovino padre:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovinoPadre?.codigoIdentificacion }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Código de pajuela:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ bovino?.codigoPajuelaPadre }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-0">
            <div class="card-body">
                <h4 class="card-title">Responsable de la baja</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Número de identificación:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ usuario?.numeroIdentificacion }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label text-right col font-weight-bold">Nombres y apellidos:</label>
                                <div class="col">
                                    <p class="form-control-static"> {{ usuario?.nombres }} {{ usuario?.apellidos }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarBaja()" class="form-horizontal r-separator">
                <div class="card-body">
                    <hr class="mt-0 mb-5">
                    <h4 class="card-title">Datos de baja del bovino</h4>
                    <div class="form-group row align-items-center mb-0">
                        <!-- Motivo de muerte -->
                        <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Motivo de muerte:</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select formControlName="motivo_muerte" class="form-control">
                                <option selected disabled>Elija el motivo de la baja</option>
                                <option *ngFor="let itemTipoBaja of tiposBajas" [value]="itemTipoBaja.idTipoBaja">{{ itemTipoBaja.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.motivo_muerte === null">
                                Seleccione el motivo de baja del bovino.
                            </div>
                        </div>
                        <!-- Fecha de muerte -->
                        <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Fecha de muerte:</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="date" formControlName="fecha_muerte" class="form-control" id="inputEmail3" placeholder="Fecha de muerte">
                            <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.fecha_muerte === null">
                                Ingrese la fecha de muerte.
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.validarFechaMuerte === true">
                                La fechade muerte no puede ser posterior a la fecha actual.
                            </div>
                        </div>
                        <!-- Detalle de muerte -->
                        <label for="inputEmail3" class="col-md-3 text-right control-label col-form-label">Detalle:</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" formControlName="detalle" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="form-group mb-0 text-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Registrar baja</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>