<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0" />
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Solicitudes de Corrección Catastro Bovino
            </div>
            <div class="card-body">
                <div class="row badge-light-info p-3">
                    <div class="toolbar">
                        <form [formGroup]="formularioBusqueda" (ngSubmit)="busquedaSolicitudes()" class="form-horizontal r-separator">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <input formControlName="codigo_solicitud" class="form-control" type="text" placeholder="Código de solicitud" />
                                        <div class="input-group-append">
                                            <select formControlName="id_estado_documento" class="form-control">
                                            <option value="null" selected disabled>Estado de solicitud</option>
                                            <option *ngFor="let estadoDocumento of estadosDocumentos" [value]="estadoDocumento.idEstadoDocumento">{{ estadoDocumento.nombre }}</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button data-toggle="tooltip" title="Buscar" class="btn btn-info btn-circle waves-effect waves-light" type="submit">
                                <span class="btn-label">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                                </div>
                                <div class="col-1">
                                    <button data-toggle="tooltip" title="Reestablecer" class="btn btn-info btn-circle waves-effect waves-light" type="button" (click)="recargarSolicitudes()">
                                    <span class="btn-label">
                                        <i class="fas fa-redo"></i>
                                    </span>
                                </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div class="table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Código de solicitud</th>
                                        <th>Fecha generación</th>
                                        <th>Productor</th>
                                        <th>Técnico asignado</th>
                                        <th>Ubicación</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let solicitud of solicitudes">
                                        <th> {{ solicitud.codigoSolicitud }}</th>
                                        <th> {{ solicitud.fechaCreacion }}</th>
                                        <td>
                                            {{ solicitud.productor?.nombres }} {{ solicitud.productor?.apellidos }}
                                        </td>

                                        <td>
                                            {{ solicitud.tecnico?.nombres }} {{ solicitud.tecnico?.apellidos }}
                                        </td>
                                        <td>
                                            <p><span class="font-weight-bold">Provincia: </span> {{ solicitud.ubicacion?.nombreProvincia }}</p>
                                            <p><span class="font-weight-bold">Cantón: </span> {{ solicitud.ubicacion?.nombreCanton }}</p>
                                            <p><span class="font-weight-bold">Parroquia: </span> {{ solicitud.ubicacion?.nombreParroquia }}</p>
                                            <p><span class="font-weight-bold">Finca: </span> {{ solicitud.ubicacion?.nombreSitio }}</p>
                                            <p><span class="font-weight-bold">Predio: </span> {{ solicitud.ubicacion?.nombre }}</p>
                                        </td>
                                        <td>
                                            <span class="badge rounded-pill" [ngClass]="{'badge-dark-warning': solicitud.estadoDocumento?.codigo==='ABR', 'badge-info':solicitud.estadoDocumento?.codigo==='CERR', 'badge-danger': solicitud.estadoDocumento?.codigo==='RCHZ'}">
                                                <span
                                                    class="font-weight-bold text-white">{{ solicitud.estadoDocumento.nombre }}
                                                </span>
                                            </span>
                                            <span class="badge rounded-pill badge-info" *ngIf="solicitud?.estadoDocumento?.codigo !=='ABR'">
                                                <span
                                                    class="font-weight-bold text-white">
                                                    {{ solicitud.fechaModificacion }}
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn waves-effect waves-light btn-info" routerLink="/correccion-catastro/{{ solicitud.idCorreccionCatastro}}">
                                                <i class="fas fa-edit" [hidden]="!servicioUsuario.usuarioInterno" ></i>
                                                <i class="fas fa-eye" [hidden]="!servicioUsuario.usuarioExterno"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>