.styled-button {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    padding: 5px 20px; /* Espaciado interno del botón */
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 16px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    font-weight: bold;
  }
  
  .styled-button:hover {
    background-color: #0056b3; /* Cambiar color al pasar el cursor */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más profunda al hacer hover */
  }
  
  .styled-button:active {
    background-color: #003d80; /* Color más oscuro al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más ligera al hacer clic */
  }
  
  .styled-button:focus {
    outline: none; /* Remover el borde de enfoque por defecto */
  }

  .styled-button i {
    margin-right: 8px; /* Espaciado entre el ícono y el texto */
    font-size: 18px; /* Tamaño del ícono */
  }

  .letra {
    font-size: 14px;
    font-weight: bold;
  }
  
  