<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- Dasboard para usuarios externos -->
<ng-container *ngIf="usuarioServicio.usuarioExterno">
    <div class="row">
        
    </div>
</ng-container>

<!-- Dasboard para usuarios internos -->
<div class="row" *ngIf="usuarioServicio.usuarioInterno">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-3 align-self-center"><img width="50" src="assets/images/icon/estadistica.svg"
                            alt="Info" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">Las transacciones
                            realizadas hoy se reflejaran mañana.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" *ngFor="let estadistica of listaEstadisticas">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-3 align-self-center"><img width="50" src="assets/images/icon/estadistica.svg"
                            alt="Estadistica" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">{{estadistica.titulo}}</h6>
                        <h2>{{ estadistica.total }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>