<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">

        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                <span *ngIf="modo==='consulta'">
                    Consultar Fase de Vacunación
                </span>
                <span *ngIf="modo==='nuevo'">
                    Registrar Fase de Vacunación
                </span>
                <span *ngIf="modo==='edicion'">
                    Actualizar Fase de Vacunación
                </span>

            </div>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarFaseVacunacion()" class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Nombre de la Fase de Vacunación</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='nuevo' || modo==='edicion'">
                                <input type="text" formControlName="nombre_fase" class="form-control" placeholder="Nombre de la Fase de Vacunación">
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.nombre_fase === null">
                                    Ingrese el nombre de la fase de vacunación
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='consulta'">
                                <span class="form-control">
                                    {{ faseVacunacion?.nombre }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Descripción de la Fase de Vacunación</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='nuevo' || modo==='edicion'">
                                <input type="text" formControlName="descripcion_fase" class="form-control" placeholder="Descripción de la Fase de Vacunación">
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.descripcion_fase === null">
                                    Ingrese la descripción de la fase de vacunación
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='consulta'">
                                <span class="form-control">
                                    {{ faseVacunacion?.descripcion }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Fecha de inicio</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='nuevo'">
                                <input type="date" formControlName="fecha_inicio" class="form-control">
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.fecha_inicio === null">
                                    Ingrese la fecha en la que inicia de la fase de vacunación
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.fechaInicioMenorActual === true">
                                    La fecha de inicio no puede ser menor a la fecha actual
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='consulta' || modo==='edicion'">
                                <span class="form-control">
                                    {{ faseVacunacion?.fechaInicio }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Fecha de finalización</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='nuevo' || modo==='edicion'">
                                <input type="date" formControlName="fecha_fin" class="form-control">
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.fecha_fin === null">
                                    Ingrese la fecha en la que finaliza fase de vacunación
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.fechaFinMenorActual === true">
                                    La fecha de finalización no puede ser menor a la fecha actual
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.fechaFinMenorFechaInicio === true">
                                    La fecha de finalización no puede ser menor a la fecha de inicio
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='consulta'">
                                <span class="form-control">
                                    {{ faseVacunacion?.fechaFin }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Número inicial para los certificados</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='nuevo'">
                                <input type="number" formControlName="numero_inicial" class="form-control" min="0">
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.numero_inicial === null">
                                    Ingrese la numeración inicial
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.validarNumeracion === true">
                                    Valor incorrecto
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='consulta'  || modo==='edicion'">
                                <span class="form-control">
                                    {{ faseVacunacion?.numeroInicial }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Número final para los certificados</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='nuevo' || modo==='edicion'">
                                <input type="number" formControlName="numero_final" class="form-control" min="0">
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.numero_final === null">
                                    Ingrese la numeración final
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.valorFinalMenorInicial === true">
                                    Valor incorrecto
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.errors?.nuevoValorFinalMenor === true">
                                    Valor incorrecto
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo==='consulta'">
                                <span class="form-control">
                                    {{ faseVacunacion?.numeroFinal }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0" *ngIf="modo==='consulta'">
                            <label class="col-md-3 text-right control-label col-form-label">Estado</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <span class="form-control">
                                    {{ faseVacunacion?.nombreEstadoDocumento }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de guardado -->
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <button *ngIf="modo === 'nuevo'" type="submit" class="btn btn-info waves-effect waves-light">Registrar Fase de Vacunación</button>
                            <button *ngIf="modo == 'edicion'" type="button" class="btn btn-twitter waves-effect waves-light ml-2" (click)="actualizarFaseVacunacion()">Actualizar Fase de Vacunación</button>
                            <button *ngIf="modo == 'edicion'" type="button" class="btn btn-youtube waves-effect waves-light ml-2" (click)="finalizarFaseVacunacion()">Finalizar Fase de Vacunación</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>