<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0" />
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                <span *ngIf="modo === 'consulta'"> Consultar Rol de Usuario </span>
                <span *ngIf="modo === 'nuevo'"> Registrar Rol de Usuario </span>
            </div>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarRol()"
                    class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Nombre del rol</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'nuevo'">
                                <input type="text" formControlName="nombre_rol" class="form-control" placeholder="Nombre del rol de usuario" />
                                <div class="invalid-feedback d-block" *ngIf=" formulario.touched && formulario.value.nombre_rol === null">
                                    Ingrese el nombre del rol de usuario
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'consulta'">
                                <span class="form-control">
                                    {{ rol?.nombreRol }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Descripción del rol</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'nuevo'">
                                <input type="text" formControlName="descripcion_rol" class="form-control" placeholder="Descripción del rol de usuario" />
                                <div class="invalid-feedback d-block" *ngIf=" formulario.touched && formulario.value.descripcion_rol === null">
                                    Ingrese la descripción de la fase de vacunación
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'consulta'">
                                <span class="form-control">
                                    {{ rol?.descripcionRol }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Código del rol</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'nuevo'">
                                <input type="text" formControlName="codigo" class="form-control" placeholder="R-001" max="16" min="1" />
                                <div class="invalid-feedback d-block" *ngIf=" formulario.touched && formulario.value.codigo === null">
                                    Ingrese el código único del registro
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'consulta'">
                                <span class="form-control">
                                    {{ rol?.codigo }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Tipo de rol</label>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'nuevo'">
                                <select class="form-control" formControlName="id_tipos_roles">
                                    <option [value]="null" selected disabled>Seleccione el tipo de rol</option>
                                    <option *ngFor="let tipoRol of listaTiposRoles" [value]="tipoRol.idTiposRoles"> {{ tipoRol.nombreTipoRol }} </option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formulario.touched && formulario.value.id_tipos_roles === null">
                                    Seleccione el tipo de rol
                                </div>
                            </div>
                            <div class="col-md-9 border-left pb-2 pt-2" *ngIf="modo === 'consulta'">
                                <span class="form-control">
                                    {{ rol?.tipoRol?.nombreTipoRol }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de guardado -->
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <button *ngIf="modo === 'nuevo'" type="submit" class="btn btn-info waves-effect waves-light">
                                Registrar Rol de usuario
                            </button>
                            <button type="button" routerLink="/roles" class="btn btn-twitter waves-effect waves-light ml-1">
                                <span class="btn-label">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                                Regresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>