<hr class="mt-0">
<div class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-light-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Cambio de contraseña
            </div>
            <div class='card-body'>
                <div class="card-body">
                    <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="cambiarContrasena()" class="form-horizontal r-separator" action="index.html">
                        <h4 class="card-title">Ingrese la información de contaseña</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="password_actual" class="col-md-3 text-right control-label col-form-label">Contraseña actual</label>
                            <div class="col-md-9 border-left pb-2 pt-2 input-group">
                                <input formControlName="password_actual" name="password_actual" class="form-control" [type]="mostrarPassword1 ? 'text' : 'password'" required="required" placeholder="Contraseña"> 
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa show-password" [ngClass]="{
                                        'fa-eye-slash': !mostrarPassword1,
                                        'fa-eye': mostrarPassword1
                                      }"
                                      (click)="cambiarVisibilidadPassword(1)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="nuevo_password" class="col-md-3 text-right control-label col-form-label">Nueva contraseña</label>
                            <div class="col-md-9 border-left pb-2 pt-2 input-group">
                                <input formControlName="nuevo_password" name="nuevo_password" class="form-control" [type]="mostrarPassword2 ? 'text' : 'password'" required="required" placeholder="Nueva contraseña"> 
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa show-password" [ngClass]="{
                                        'fa-eye-slash': !mostrarPassword2,
                                        'fa-eye': mostrarPassword2
                                      }"
                                      (click)="cambiarVisibilidadPassword(2)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="confirmar_password" class="col-md-3 text-right control-label col-form-label">Confirmar contraseña</label>
                            <div class="col-md-9 border-left pb-2 pt-2 input-group">
                                <input formControlName="confirmar_password" name="confirmar_password" class="form-control" [type]="mostrarPassword3 ? 'text' : 'password'" required="required" placeholder="Confirmar contraseña"> 
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa show-password" [ngClass]="{
                                        'fa-eye-slash': !mostrarPassword3,
                                        'fa-eye': mostrarPassword3
                                      }"
                                      (click)="cambiarVisibilidadPassword(3)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="form-group mb-0 text-right ">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Guardar cambios
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
