<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Consultar datos del predio
            </div>
            <hr class="mt-0">
            <div class="card-body">
                <h4 class="card-title">Ingrese la información de búsqueda del predio</h4>
                <div class="form-group row align-items-center mb-0" *ngIf="this.usuarioInterno">
                    <label for="inputIdentificacionPropietario" class="col-md-3 text-right control-label col-form-label">Número de identificación del propietario</label>
                    <div class="col-md-9 border-left pb-2 pt-2 input-group">
                        <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" #idPropietario name="inputIdentificacionPropietario" placeholder="Ingrese la identificación del propietario">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" (click)="buscarSitios(idPropietario.value)"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0" *ngIf="this.prediosVisible">
                    <label for="inputSitio" class="col-md-3 text-right control-label col-form-label">Predio</label>
                    <div class="col-md-9 border-left pb-2 pt-2 input-group">
                        <select class="form-control" name="inputSitio" #inputSitio>
                            <option value=null selected disabled>Seleccione una opción</option>
                            <option *ngFor="let sitio of listaSitios" value="{{sitio.idSitio}}">{{sitio.nombre}} ({{sitio.codigoSitio}})</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" (click)="buscarDetallesSitio(inputSitio.value)"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-0">
                 <div class="card-body" *ngIf="this.detalleVisible">
                    <h4 class="card-title">Datos del sitio</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Nombre propietario</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.nombre_propietario}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Identificación propietario</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.tipo_identificacion}} {{sitio.numero_identificacion}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Códgio del predio</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.codigo_sitio}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Nombre</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.nombre}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Estado</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.estado}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Superficie (Ha)</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.superficie_ha}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Tipo de propiedad</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.tipo_propiedad}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Código predial</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.codigo_predial}}</label>
                        </div>
                    </div>
                </div>
                <div class="card-body" *ngIf="this.detalleVisible">
                    <h4 class="card-title">Certificaciones</h4>
                    <div class="form-group row align-items-center mb-0">
                        <table class="table">
                            <thead>
                            <tr class="d-flex">
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha fin</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let certificacion of listaCertificaciones" class="d-flex">
                                <td>{{certificacion.codigo}}</td>
                                <td>{{certificacion.nombre}}</td>
                                <td>{{certificacion.estado}}</td>
                                <td>{{certificacion.fecha_fin}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body" *ngIf="this.detalleVisible">
                    <h4 class="card-title">Ubicación del predio</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">País</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.pais}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Provincia</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.provincia}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Cantón</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.canton}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Parroquia</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.parroquia}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Calle principal</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.calle_principal}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Intersección</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.interseccion}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Numeración</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.numeracion}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Referencia</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.referencia}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Teléfono</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.telefono}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Latitud</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.latitud}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Longitud</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{sitio.longitud}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="this.mapaVisible">
                        <label for="inputMapa" class="col-md-3 text-right control-label col-form-label">Mapa</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                        <google-map 
                            height="300px"    
                            widht="50px"    
                            [zoom]="zoom"
                            [center]="centroMapa"
                            [options]="opcionesMapa"
                            >
                            <map-marker
                                [position]="posicionMarcador"
                                [label]="etiquetaMarcador"
                                [options]="opcionesMarcador"
                            >
                            </map-marker>
                        </google-map>
                        </div>
                    </div>
                </div>
            </div>
            <div class='card' *ngIf="this.detalleVisible">
                <div class="card-header bg-info text-white rounded-top">
                    Áreas
                </div>
                <div class="card-body" *ngFor="let area of listaAreas">
                    <h4 class="card-title">{{area.nombre}}</h4>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Superficie (Ha)</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.superficie_ha}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Tipo de área</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.tipo_area}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 1">
                        <label class="col-md-3 text-right control-label col-form-label">Actividad principal</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.tipo_actividad}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 2 || area.id_tipos_areas == 3">
                        <label class="col-md-3 text-right control-label col-form-label">Capacidad</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.capacidad}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 2 || area.id_tipos_areas == 3 || area.id_tipos_areas == 5">
                        <label class="col-md-3 text-right control-label col-form-label">Teléfono</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.telefono}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 2 || area.id_tipos_areas == 3 || area.id_tipos_areas == 5">
                        <label class="col-md-3 text-right control-label col-form-label">Permiso de Operación</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.permiso_operacion}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 2 || area.id_tipos_areas == 3 || area.id_tipos_areas == 5">
                        <label class="col-md-3 text-right control-label col-form-label">Fecha inicio permiso</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.fecha_vigencia}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 2 || area.id_tipos_areas == 3 || area.id_tipos_areas == 5">
                        <label class="col-md-3 text-right control-label col-form-label">Fecha expiración permiso</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.fecha_fin}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0" *ngIf="area.id_tipos_areas == 2">
                        <label class="col-md-3 text-right control-label col-form-label">Identificación del Veterinario</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <label class="col-md-3 text-right control-label col-form-label">{{area.id_veterinario}}</label>
                        </div>
                    </div>
                </div>
    </div>
</div>

