@media screen and (min-width: 600px) {
    .map-container  {
      width: 50%;
      height: 400px;
      }
  }
  
    @media screen and (max-width: 600px) {
      .map-container {
        width: 50%;
        height: 200px;
        }
    }