<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Certificados Únicos de Vacunación
            </div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Datos del certificado</th>
                                <th>Propietario</th>
                                <th>Predio</th>
                                <!--th>Catastro</th-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let certificado of listaCertificadosUnicosVacunacion">
                                <td>
                                    <h5 class="mb-0 font-weight-medium">Número de certificado <span class="text-muted font-14 ml-2">{{ certificado.secuencia}}</span></h5>
                                    <h5 class="mb-0 font-weight-medium">Fecha de vacunación <span class="text-muted font-14 ml-2">{{ certificado.fechaVacunacion}}</span></h5>
                                </td>
                                <td>{{ certificado.nombresProductor }}</td>
                                <td>
                                    <h5 class="mb-0 font-weight-medium">Provincia <span class="text-muted font-14 ml-2">{{ certificado.nombreProvinciaPredio}}</span></h5>
                                    <h5 class="mb-0 font-weight-medium">Cantón <span class="text-muted font-14 ml-2">{{ certificado.nombreCantonPredio}}</span></h5>
                                    <h5 class="mb-0 font-weight-medium">Parroquia <span class="text-muted font-14 ml-2">{{ certificado.nombreParroquiaPredio}}</span></h5>
                                    <h5 class="mb-0 font-weight-medium">Predio <span class="text-muted font-14 ml-2">{{ certificado.nombrePredio}}</span></h5>
                                    <!--h5 class="mb-0 font-weight-medium">Código predial <span class="text-muted font-14 ml-2">{{ certificado.codigoPredialSitio}}</span></h5>
                                    <h5 class="mb-0 font-weight-medium">Explotación pecuaria <span class="text-muted font-14 ml-2">{{ certificado.nombreArea}}</span></h5-->
                                </td>
                                <!--td>
                                    <h5 class="mb-0 font-weight-medium" *ngFor="let animal of certificado.animales">{{ animal.nombreComunTaxonomia }} - {{animal.nombreCategoria }}({{animal.nombreSexo }}) <span class="text-muted font-14 ml-2">{{ animal.cantidadAnimal}}</span></h5>
                                </td-->
                                <td>
                                    <button class="btn btn-warning waves-effect waves-light" type="button" (click)="descargarCertificadoVacunacion(certificado.idCertificadoVacunacion)"> <span><i class="fas fa-download"></i></span> </button>
                                    <!--div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-outline-secondary font-18" (click)="eliminarDigitador(digitador.idPersonaOficina)"><i class="mdi mdi-delete"></i></button>
                                    </div-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-visor-pdf>
</app-visor-pdf>