<div [ngClass]="{'ocultar':servicioAgregarVehiculo.visibilidad}">
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true" style="display: block; padding-left: 0px;">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-info">
                    <h4 class="modal-title text-white">Vehículo</h4>
                    <button type="button" class="close" (click)="cerrarPanel()" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form ngNativeValidate [formGroup]="formularioVehiculo" (ngSubmit)="registrarVehiculo()" class="form-horizontal r-separator">
                        <div class="form-group">
                            <label>Placa del vehículo</label>
                            <div class="input-group mb-3">
                                <input class="form-control" formControlName="placa" type="text" >
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.placa.errors?.required && formularioVehiculo.touched">
                                Ingrese la placa del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label>CI/RUC del propietario</label>
                            <input class="form-control" type="text" formControlName="ci_propietario" placeholder="CI/RUC">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.ci_propietario.errors?.required && formularioVehiculo.touched">
                                Ingrese la Cédula de Identidad o RUC del propietario del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombres y apellidos</label>
                            <input class="form-control" type="text" formControlName="nombres_propietario" placeholder="Nombres y apellidos">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.nombres_propietario.errors?.required && formularioVehiculo.touched">
                                Ingrese los nombres y apellidos del propietario del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Marca del vehículo</label>
                            <input class="form-control" type="text" formControlName="marca" placeholder="Marca del vehículo">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.marca.errors?.required && formularioVehiculo.touched">
                                Ingrese la marca del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Modelo del vehículo</label>
                            <input class="form-control" type="text" formControlName="modelo" placeholder="Modelo del vehículo">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.modelo.errors?.required && formularioVehiculo.touched">
                                Ingrese el modelo del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de vehículo</label>
                            <select class="form-control" formControlName="tipo_vehiculo">
                                <option [value]="null" selected disabled>Tipo de vehículo</option>
                                <option *ngFor="let tipo of listaTiposVehiculos" [value]="tipo.idTipoVehiculo" >{{ tipo.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.tipo_vehiculo.errors?.required && formularioVehiculo.touched">
                                Seleccione el tipo de vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Clase de vehículo</label>
                            <select class="form-control" formControlName="clase_vehiculo">
                                <option [value]="null" selected disabled>Clase de vehículo</option>
                                <option *ngFor="let clase of listaClasesVehiculos" [value]="clase.idClaseVehiculo">{{ clase.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.clase_vehiculo.errors?.required && formularioVehiculo.touched">
                                Seleccione la clase de vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Cilindraje del vehículo</label>
                            <input class="form-control" type="text" formControlName="cilindraje" placeholder="Cilindraje del vehículo">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.cilindraje.errors?.required && formularioVehiculo.touched">
                                Ingrese el cilindraje del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Color del vehículo</label>
                            <input class="form-control" type="text" formControlName="color" placeholder="Color del vehículo">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.color.errors?.required && formularioVehiculo.touched">
                                Ingrese el color del vehículo
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Año del vehículo</label>
                            <input class="form-control" type="number" formControlName="anio" placeholder="Año del vehículo" min="1900">
                            <div class="invalid-feedback d-block" *ngIf="formularioVehiculo.controls.anio.errors?.required && formularioVehiculo.touched">
                                Ingrese el año del vehículo
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" (click)="cerrarPanel()">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Agregar vehículo</button>
                        </div>
                    </form>
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Fondo negro -->
    <div class="modal-backdrop fade show">
    </div>
</div>