.contrasena-temporal
{
    font-weight: bolder !important;
    font-size: 3rem !important;
    color:black;
    font-family: "Times New Roman", Times, serif !important;
}

.btn-block-custom { width: 200px; /* Ajusta el ancho según tus necesidades */ display: inline-block; }

.separar-botones {
    margin-top: 2rem; /* Ajusta según sea necesario */
}

.badge-verde {
    background-color: #41aa44;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 7px;
    display: inline-block;
    text-align: center;
}