<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Fases de Vacunaciones
            </div>
            <div class="card-body">
                <!-- Barra de opciones -->
                <div class="row badge-light-info p-3">
                    <!--div class="toolbar"-->
                    <div class="row">
                        <div class="col">
                            <a routerLinkActive="active" routerLink="/fase-vacunacion/nuevo">
                                <button class="btn btn-success waves-effect waves-light" type="button">
                                    Nueva Fase de Vacunación
                                    <span class="btn-label">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <!--/div-->
                </div>
                <!-- Lista de resultados -->
                <div class="row p-3">
                    <div class="col">
                        <div class="table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Fecha inicial</th>
                                        <th>Fecha final</th>
                                        <th>Nombre</th>
                                        <th>Numeración inicial</th>
                                        <th>Numeración final</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fase of listaFasesVacunacion">
                                        <td>{{ fase.nombreTipoDocumento }}</td>
                                        <td>{{ fase.fechaInicio}}</td>
                                        <td>{{ fase.fechaFin }}</td>
                                        <td>{{ fase.nombre }}</td>
                                        <td>{{ fase.numeroInicial }}</td>
                                        <td>{{ fase.numeroFinal }}</td>
                                        <td>
                                            <span class="badge rounded-pill" [ngClass]="{'badge-dark-warning': fase.codigoEstadoDocumento==='FNLZ', 'badge-info':fase.codigoEstadoDocumento==='CRD'}">
                                                <span
                                                    class="font-weight-bold text-white">{{ fase.nombreEstadoDocumento  }}
                                                </span>
                                            </span>
                                            <span *ngIf="fase.codigoEstadoDocumento==='FNLZ'">
                                                {{ fase.fechaModificacion }}
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn waves-effect waves-light btn-info" routerLink="/fase-vacunacion/{{ fase.idFaseVacunacion }}">
                                                <i class="fas fa-eye" [hidden]="fase.codigoEstadoDocumento==='CRD'" ></i>
                                                <i class="fas fa-edit" [hidden]="fase.codigoEstadoDocumento==='FNLZ'"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>