<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Filtrar númeración de certificados
            </div>
            <form ngNativeValidate [formGroup]="formularioBusqueda" class="form-horizontal r-separator" (ngSubmit)="buscar()">
                    <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Fase</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select formControlName="fase_vacunacion" class="form-control" >
                                <option [value]="null" selected disabled>Seleccione la fase de vacunación</option>
                                <option *ngFor="let fase of listaFasesVacunacion" [value]="fase.idFaseVacunacion" >{{ fase.nombre }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formularioBusqueda.controls.fase_vacunacion.errors?.required && formularioBusqueda.touched">
                                Seleccione una fase de vacunación
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Oficinas</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <input type="text" formControlName="secuencia" class="form-control" placeholder="Número de certificado de vacunación">
                            <div class="invalid-feedback d-block" *ngIf="formularioBusqueda.controls.secuencia.errors?.required && formularioBusqueda.touched">
                                Ingrese el número de certificado
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group mb-0 text-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">
                            <span class="btn-label">
                                <i class="fas fa-search"></i>
                            </span>
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Certificados de Vacunación Generados
            </div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Número de certificado</th>
                                <th>Detalle</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let numeroCertificado of listaCertificados">
                                <td>
                                    {{ numeroCertificado.secuencia}}
                                </td>
                                <td>
                                    <h6 class="mb-0 font-weight-medium">CI/RUC Operadora</h6>
                                    <small class="text-muted">{{ numeroCertificado.numeroIdentificacionUsuarioOperadora }}</small>
                                    <h6 class="mb-0 font-weight-medium">CI/RUC Productor</h6>
                                    <small class="text-muted">{{ numeroCertificado.numeroIdentificacionProductor }}</small>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ti-settings"></i>
                                        </button>
                                        <div class="dropdown-menu rubberBand">
                                            <a class="dropdown-item cursor-pointer" (click)="eliminarCertificadoVacunacion(numeroCertificado)">Eliminar certificado</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>