<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<form ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarCambio()" class="form-horizontal r-separator" *ngIf="servicioUsuario.usuarioInterno">
    <!-- Título -->
    <div class="card border border-info rounded">
        <div class="card-header bg-info font-weight-bold text-white rounded-top">
            Cambio de dominio de bovinos
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="form-group mb-0 text-center">
                    <button type="submit" class="btn btn-info font-weight-bold waves-effect waves-light">Transferir</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Origen -->
        <div class="col">
            <div class="card border border-secondary rounded">
                <div class="card-header bg-secondary text-white font-weight-bold rounded-top">
                    Sitio origen
                </div>
                <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">C.C/C.I/Pasaporte</label>
                        <div class="col-md-6 border-left pb-2 pt-2 input-group">
                            <input type="text" formControlName="inputIdUsuario" (change)="borraDatosUsuario()" class="form-control border-secondary" #ciPropietario placeholder="Ingrese # de identificación">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary border-secondary" (click)="buscarUsuario(ciPropietario.value)"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Propietario</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <!--<select formControlName="propietario" class="form-control" (change)="cambioPropietario()">
                                <option [value]="null" selected disabled>Seleccione un productor origen</option>
                                <option *ngFor="let usuario of listaPropietarios" [value]="usuario.idUsuariosExternos" >{{ usuario.nombres }}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.propietario.errors?.required && formulario.touched">
                                Seleccione productor origen
                            </div>-->
                            <input type="text" class="form-control border-secondary" formControlName="inputNombres" name="inputNombres" placeholder="Ingrese Apellidos y Nombres" readonly>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Sitio</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select class="form-control border-secondary" formControlName="area_origen" (change)="cambioPredioOrigen()">
                                <option [value]="null" selected disabled>Seleccione un sitio de origen</option>
                                <option *ngFor="let area of listaAreasOrigen" [value]="area.idArea">{{ area.codigoSitio }} | {{ area.nombreProvinciaSitio.toUpperCase()}} - {{ area.nombreCantonSitio.toUpperCase()}} | {{ area.nombre.toUpperCase() }}</option>
                                <!--<option *ngFor="let area of listaAreasOrigen" [value]="area.idArea">{{ area.nombre }}-{{ area.nombreSitio }} ( {{ area.nombreParroquiaSitio }} - {{ area.nombreCantonSitio }} - {{ area.nombreProvinciaSitio }}) </option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Tipo catastro</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select class="form-control border-secondary" formControlName="tipo_catastro" (change)="cambioTipoCatastro()">
                                <option [value]="null" selected disabled>Seleccione tipo de catastro</option>
                                <option [value]="1" selected enabled>Vacunados</option>
                                <option [value]="2" selected enabled>Nacimientos</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Categoría</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <!--<select class="form-control" formControlName="area_origen" (change)="cambioPredioOrigen()">
                                <option [value]="null" selected disabled>Seleccione un predio origen</option>
                                <option *ngFor="let area of listaAreasOrigen" [value]="area.idArea">{{ area.nombre }}-{{ area.nombreSitio }} ( {{ area.nombreParroquiaSitio }} - {{ area.nombreCantonSitio }} - {{ area.nombreProvinciaSitio }}) </option>
                            </select>-->
                            <select class="form-control border-secondary" formControlName="categoria" (change)="BuscarBovinosOrigen()">
                                <option [value]="null" selected disabled>Seleccione categoría</option>
                                <option [value]="-1" selected enabled>Todas</option>
                                <option *ngFor="let categoria of categorias" [ngValue]="categoria.id_categoria" > {{ categoria.nombre }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-secondary text-white" *ngIf="listaBovinosVacunadosDisponibles.length > 0">
                    <span class="font-weight-bold">
                        Vacunados disponibles
                    </span>
                    <span class="round rounded-circle text-white d-inline-block text-center bg-warning">{{ listaBovinosVacunadosDisponibles.length }}</span>
                    <div class="btn-group ml-2" role="group" aria-label="Navegar" >
                        <button (click)="anterior()" type="button" class="btn btn-success"  *ngIf="inicio > 0"><i class="fa fa-fast-backward" ></i></button>
                        <!--button type="button" class="btn btn-success"><i class="fa fa-play"></i></button-->
                        <button (click)="siguiente()" type="button" class="btn btn-success"  *ngIf="listaBovinosVacunadosDisponibles.length > 99"><i class="fa fa-fast-forward"></i></button>
                    </div>
                </div>
                <div class="card-body p-1" *ngIf="listaBovinosVacunadosDisponibles.length > 0">
                    <div class="table-wrapper-scroll-y custom-scrollbar">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th class="badge-light-info text-left font-18">Datos del animal</th>
                                    <th class="badge-light-info text-left font-18">Ubicación</th>
                                    <th class="badge-light-info text-left font-18"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bovino of listaBovinosVacunadosDisponibles">
                                    <td>
                                        <p class="font-weight-bold"><span ></span> {{ bovino.idBovino }} [{{ bovino.nombreCategoria }}] </p>
                                        <!--<p *ngIf="bovino.idCategoria"><span class="font-weight-bold">Categoría: </span> {{ bovino.nombreCategoria }} </p>
                                        <p><span class="font-weight-bold">Sexo: </span> {{ bovino.nombreSexo }} </p>-->
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreComunTaxonomia }} {{ bovino.nombreSexo }} </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreFaseVacunacion }} </p>
                                        <!--<p *ngIf="bovino.codigoIdentificacion"><span class="font-weight-bold">Identificación oficial: </span> {{ bovino.codigoIdentificacion }} </p>
                                        <p *ngIf="bovino.registroNacimientoProvisional"><span class="font-weight-bold">RNP: </span> {{ bovino.registroNacimientoProvisional }} </p>
                                        <p *ngIf="bovino.registroNacimientoDefinitivo"><span class="font-weight-bold">RND: </span> {{ bovino.registroNacimientoDefinitivo }} </p>
                                        <p *ngIf="bovino.tatuaje"><span class="font-weight-bold">Tatuaje: </span> {{ bovino.tatuaje }} </p>
                                        <p *ngIf="bovino.marca"><span class="font-weight-bold">Marca: </span> {{ bovino.marca }} </p>-->
                                    </td>
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.nombreAreaActual }} [{{ bovino.codigoSitioActual }}] </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreProvinciaActual }} / {{ bovino.nombreCantonActual }} / {{ bovino.nombreParroquiaActual }} </p>
                                        <!--<p><span class="font-weight-bold">Cantón: </span> {{ bovino.nombreCantonActual }} </p>
                                        <p><span class="font-weight-bold">Parroquia: </span> {{ bovino.nombreParroquiaActual }} </p>-->
                                        
                                    </td>
                                    
                                    <td>
                                        <button type="button" (click)="agregarBovino(bovino.idBovino)" class="btn btn-success btn-circle" ><li class="fas fa-arrow-right"></li></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-header bg-secondary text-white" *ngIf="listaBovinosDisponibles.length > 0">
                    <span class="font-weight-bold">
                        Nacimientos disponibles
                    </span>
                    <span class="round rounded-circle text-white d-inline-block text-center bg-warning">{{ listaBovinosDisponibles.length }}</span>
                    <div class="btn-group ml-2" role="group" aria-label="Navegar" >
                        <button (click)="anterior()" type="button" class="btn btn-success"  *ngIf="inicio > 0"><i class="fa fa-fast-backward" ></i></button>
                        <!--button type="button" class="btn btn-success"><i class="fa fa-play"></i></button-->
                        <button (click)="siguiente()" type="button" class="btn btn-success"  *ngIf="listaBovinosDisponibles.length > 99"><i class="fa fa-fast-forward"></i></button>
                    </div>
                </div>
                <div class="card-body p-1" *ngIf="listaBovinosDisponibles.length > 0">
                    <div class="table-wrapper-scroll-y custom-scrollbar">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th class="badge-light-info text-left font-18">Datos del animal</th>
                                    <th class="badge-light-info text-left font-18">Ubicación</th>
                                    <th class="badge-light-info text-left font-18"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bovino of listaBovinosDisponibles">
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.idBovino }} [{{ bovino.nombreCategoria }}]</p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreComunTaxonomia }} {{ bovino.nombreSexo }} </p>
                                        <!--<p><span class="font-weight-bold">Sexo: </span> </p>
                                        <p *ngIf="bovino.idCategoria"><span class="font-weight-bold">Categoría: </span> {{ bovino.nombreCategoria }} </p>
                                        <p *ngIf="bovino.codigoIdentificacion"><span class="font-weight-bold">Identificación oficial: </span> {{ bovino.codigoIdentificacion }} </p>
                                        <p *ngIf="bovino.registroNacimientoProvisional"><span class="font-weight-bold">RNP: </span> {{ bovino.registroNacimientoProvisional }} </p>
                                        <p *ngIf="bovino.registroNacimientoDefinitivo"><span class="font-weight-bold">RND: </span> {{ bovino.registroNacimientoDefinitivo }} </p>
                                        <p *ngIf="bovino.tatuaje"><span class="font-weight-bold">Tatuaje: </span> {{ bovino.tatuaje }} </p>
                                        <p *ngIf="bovino.marca"><span class="font-weight-bold">Marca: </span> {{ bovino.marca }} </p>-->
                                    </td>
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.nombreAreaActual }} [{{ bovino.codigoSitioActual }}] </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreProvinciaActual }} / {{ bovino.nombreCantonActual }} / {{ bovino.nombreParroquiaActual }} </p>
                                        <!--<p><span class="font-weight-bold">Cantón: </span> {{ bovino.nombreCantonActual }} </p>
                                        <p><span class="font-weight-bold">Parroquia: </span> {{ bovino.nombreParroquiaActual }} </p>-->
                                    </td>
                                    
                                    <td>
                                        <button type="button" (click)="agregarBovino(bovino.idBovino)" class="btn btn-success btn-circle" ><li class="fas fa-arrow-right"></li></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Destino -->
        <div class="col">
            <div class="card border border-secondary rounded">
                <div class="card-header bg-danger font-weight-bold text-white rounded-top">
                    Sitio destino
                </div>
                <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">C.C/C.I/Pasaporte</label>
                        <div class="col-md-6 border-left pb-2 pt-2 input-group">
                            <input type="text" formControlName="inputIdUsuarioD" (change)="borraDatosUsuarioD()" class="form-control border-secondary" #ciPropietarioD placeholder="Ingrese # de identificación">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-danger border-secondary" (click)="buscarUsuarioD(ciPropietarioD.value)"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Propietario</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <input type="text" class="form-control border-secondary" formControlName="inputNombresD" name="inputNombresD" placeholder="Ingrese Apellidos y Nombres" readonly>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Sitio</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select class="form-control border-secondary" formControlName="area_destino">
                                <option [value]="null" selected disabled>Seleccione un sitio de destino</option>
                                <!--<option *ngFor="let area of listaAreasDestinos" [value]="area.idArea">{{ area.nombre }}-{{ area.nombreSitio }} ( {{ area.nombreParroquiaSitio }} - {{ area.nombreCantonSitio }} - {{ area.nombreProvinciaSitio }}) </option>-->
                                <option *ngFor="let area of listaAreasDestinos" [value]="area.idArea">{{ area.codigoSitio }} | {{ area.nombreProvinciaSitio.toUpperCase()}} - {{ area.nombreCantonSitio.toUpperCase()}} | {{ area.nombre.toUpperCase() }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Tipo catastro</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select class="form-control border-secondary" formControlName="tipo_catastroD">
                                <option [value]="-1" selected disabled>Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-md-3 text-right control-label col-form-label">Categoría</label>
                        <div class="col-md-9 border-left pb-2 pt-2 input-group">
                            <select class="form-control border-secondary" formControlName="categoriaD">
                                <option [value]="-1" selected disabled>Todas</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-danger text-white" *ngIf="listaBovinosAgregados.length > 0">
                    <span class="font-weight-bold">
                        Nacimientos seleccionados
                    </span>
                    <span class="round rounded-circle text-secondary d-inline-block text-center bg-light-success">{{ listaBovinosAgregados.length }}</span>
                </div>
                <div class="card-body p-1" *ngIf="listaBovinosAgregados.length > 0">
                    <div class="table-wrapper-scroll-y custom-scrollbar">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th class="badge-light-danger text-left font-18">Datos del animal</th>
                                    <th class="badge-light-danger text-left font-18">Ubicación</th>
                                    <th class="badge-light-danger text-left font-18"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bovino of listaBovinosAgregados">
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.idBovino }} [{{ bovino.nombreCategoria }}]</p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreComunTaxonomia }} {{ bovino.nombreSexo }} </p>
                                        <!--<p><span class="font-weight-bold">Especie: </span> {{ bovino.nombreComunTaxonomia }} </p>
                                        <p *ngIf="bovino.idCategoria"><span class="font-weight-bold">Categoría: </span> {{ bovino.nombreCategoria }} </p>
                                        <p *ngIf="bovino.codigoIdentificacion"><span class="font-weight-bold">Identificación oficial: </span> {{ bovino.codigoIdentificacion }} </p>
                                        <p *ngIf="bovino.registroNacimientoProvisional"><span class="font-weight-bold">RNP: </span> {{ bovino.registroNacimientoProvisional }} </p>
                                        <p *ngIf="bovino.registroNacimientoDefinitivo"><span class="font-weight-bold">RND: </span> {{ bovino.registroNacimientoDefinitivo }} </p>
                                        <p *ngIf="bovino.tatuaje"><span class="font-weight-bold">Tatuaje: </span> {{ bovino.tatuaje }} </p>
                                        <p *ngIf="bovino.marca"><span class="font-weight-bold">Marca: </span> {{ bovino.marca }} </p>-->
                                    </td>
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.nombreAreaActual }} [{{ bovino.codigoSitioActual }}] </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreProvinciaActual }} / {{ bovino.nombreCantonActual }} / {{ bovino.nombreParroquiaActual }} </p>
                                        <!--<p><span class="font-weight-bold">Cantón: </span> {{ bovino.nombreCantonActual }} </p>
                                        <p><span class="font-weight-bold">Parroquia: </span> {{ bovino.nombreParroquiaActual }} </p>-->
                                        
                                    </td>
                                    
                                    <td>
                                        <button type="button" (click)="quitarBovino(bovino.idBovino)" class="btn btn-danger btn-circle" ><li class="fas fa-trash"></li></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-header bg-danger text-white" *ngIf="listaBovinosVacunadosAgregados.length > 0">
                    <span class="font-weight-bold">
                        Vacunados seleccionados
                    </span>
                    <span class="round rounded-circle text-secondary d-inline-block text-center bg-light-success">{{ listaBovinosVacunadosAgregados.length }}</span>
                </div>
                <div class="card-body p-1" *ngIf="listaBovinosVacunadosAgregados.length > 0">
                    <div class="table-wrapper-scroll-y custom-scrollbar">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th class="badge-light-danger text-left font-18">Datos del animal</th>
                                    <th class="badge-light-danger text-left font-18">Ubicación</th>
                                    <th class="badge-light-danger text-left font-18"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bovino of listaBovinosVacunadosAgregados">
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.idBovino }} [{{ bovino.nombreCategoria }}] </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreComunTaxonomia }} {{ bovino.nombreSexo }} </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreFaseVacunacion }} </p>
                                        <!--<p *ngIf="bovino.idCategoria"><span class="font-weight-bold">Categoría: </span> {{ bovino.nombreCategoria }} </p>
                                        <p><span class="font-weight-bold">Especie: </span> {{ bovino.nombreComunTaxonomia }} </p>
                                        <p *ngIf="bovino.codigoIdentificacion"><span class="font-weight-bold">Identificación oficial: </span> {{ bovino.codigoIdentificacion }} </p>
                                        <p *ngIf="bovino.registroNacimientoProvisional"><span class="font-weight-bold">RNP: </span> {{ bovino.registroNacimientoProvisional }} </p>
                                        <p *ngIf="bovino.registroNacimientoDefinitivo"><span class="font-weight-bold">RND: </span> {{ bovino.registroNacimientoDefinitivo }} </p>
                                        <p *ngIf="bovino.tatuaje"><span class="font-weight-bold">Tatuaje: </span> {{ bovino.tatuaje }} </p>
                                        <p *ngIf="bovino.marca"><span class="font-weight-bold">Marca: </span> {{ bovino.marca }} </p>-->
                                    </td>
                                    <td>
                                        <p class="font-weight-bold"><span></span> {{ bovino.nombreAreaActual }} [{{ bovino.codigoSitioActual }}] </p>
                                        <p><span class="font-weight-bold"></span> {{ bovino.nombreProvinciaActual }} / {{ bovino.nombreCantonActual }} / {{ bovino.nombreParroquiaActual }}  </p>
                                        <!--<p><span class="font-weight-bold">Cantón: </span> {{ bovino.nombreCantonActual }} </p>
                                        <p><span class="font-weight-bold">Parroquia: </span> {{ bovino.nombreParroquiaActual }} </p>
                                        <p><span class="font-weight-bold">Predio: </span> {{ bovino.nombreAreaActual }} </p>-->
                                    </td>
                                    
                                    <td>
                                        <button type="button" (click)="quitarBovino(bovino.idBovino)" class="btn btn-danger btn-circle" ><li class="fas fa-trash"></li></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>