<hr class="mt-0">
<div class='row container-fluid' style="width: 100%">
    <div class="col">
        <div class="card border border-light-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Registro de usuario externo extranjero
            </div>
            <div class='card-body'>
                    <h4 class="card-title">Perfil del Usuario</h4>
                    <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="crearUsuario()" class="form-horizontal r-separator" action="index.html">
                        <div class="form-group row align-items-center mb-0" style="display:none;" >
                            <label class="col-md-3 text-right control-label col-form-label"></label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input class="form-control" id="filtroPaises" type="text" (keyup)="filtrarPaises($event)" placeholder="Buscar...">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputPais" class="col-md-3 text-right control-label col-form-label">País de origen (pasaporte)</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                
                                <select class="form-control" formControlName="inputPais" name="inputPais">
                                    <option value=null selected disabled>Seleccione una opción</option>
                                    <option *ngFor="let pais of listaPaises" value="{{pais.id_pais}}">{{pais.nombre.toUpperCase()}}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputPais.errors?.required && formulario.touched">
                                    Seleccione el país de origen (pasaporte)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Número de pasaporte</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control text-uppercase" (keyup)="mascara($event,'alfanumerico')" formControlName="inputNumeroIdentificacion" name="inputNumeroIdentificacion" placeholder="">
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputNumeroIdentificacion.errors?.required && formulario.touched">
                                    Ingrese el número de pasaporte
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Contraseña Temporal</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="col-md-7 text-left control-label col-form-label contrasena-temporal">{{this.contrasenaTemporal}}</label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputApellidos" class="col-md-3 text-right control-label col-form-label">Apellidos</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control text-uppercase" (keyup)="mascara($event,'alfanumerico')" formControlName="inputApellidos" name="inputApellidos" placeholder="">
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputApellidos.errors?.required && formulario.touched">
                                    Ingrese los apellidos del usuario
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputNombres" class="col-md-3 text-right control-label col-form-label">Nombres</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control text-uppercase" (keyup)="mascara($event,'alfanumerico')" formControlName="inputNombres" name="inputNombres" placeholder="">
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputNombres.errors?.required && formulario.touched">
                                    Ingrese los nombres del usuario
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputEmail" class="col-md-3 text-right control-label col-form-label">Correo electrónico</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="email" class="form-control text-lowercase" formControlName="inputEmail" name="inputEmail" placeholder="Ingrese el correo electrónico del usuario">
                                <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputEmail.errors?.required && formulario.touched">
                                    Ingrese el correo electrónico del usuario
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="form-group mb-0 text-right ">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Crear usuario
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>



