<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Bandeja de Solicitudes de Reareteo
            </div>
            <hr class="mt-0">
            <div class="card-body contenedor-tabla-overflow">
                <h4 class="card-title">Solicitudes activas en bandeja</h4>
                <div class="form-group row align-items-center mb-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" ></th>
                                <th scope="col" ># Solicitud</th>
                                <th scope="col">Solicitante</th>
                                <th scope="col" >Responsable</th>
                                <th scope="col" >Paso Actual</th>
                                <th scope="col" >Estado</th>
                                <th scope="col" >Identificador a rearetear</th>
                                <th scope="col" >Proveedor</th>
                                <th scope="col" >Días en espera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of listaSolicitudes">
                                <td><input type="radio" *ngIf="solicitud.id_estados_solicitudes == 1" class="form-control-lg" id='inputIdSolicitud' (change)='seleccionaSolicitud(solicitud.id_solicitudes_reareteo, solicitud.id_identificadores_bovinos, solicitud.id_paso, solicitud.observaciones)' name="inputIdSolicitud"></td>
                                <td >{{solicitud.id_solicitudes_reareteo}}</td>
                                <td >{{solicitud.solicitante}}</td>
                                <td >{{solicitud.responsable}}</td>
                                <td >{{solicitud.paso}}</td>
                                <td >{{solicitud.estado}}</td>
                                <td >{{solicitud.codigo_oficial}}</td>
                                <td >{{solicitud.proveedor}}</td>
                                <ng-template [ngIf]="solicitud.id_estados_solicitudes == 1" [ngIfElse]="noDiasPasados"><td > {{solicitud.dias_espera}} </td></ng-template>
                                <ng-template #noDiasPasados><td > - </td></ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class='card' *ngIf="this.formularioVisible">
            <div class="card-header bg-info text-white rounded-top">
                Trámite de solicitud
            </div>
            <hr class="mt-0">
            <form ngNativeValidate [formGroup]="formulario" class="form-horizontal r-separator" action="index.html">
            <div class="card-body">
                <h4 class="card-title">Tramitar solicitud</h4>
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Código de la solicitud</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label" >{{idSolicitud}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputIdentificadorReareteo" class="col-md-3 text-right control-label col-form-label">Identificador a rearetear:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label" formControlName="inputIdentificadorReareteo" id="inputIdentificadorReareteo" name="inputIdentificadorReareteo">{{bovino.codigoIdentificacion}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputRegistroBovino" class="col-md-3 text-right control-label col-form-label">Registro de Nacimiento Definitivo:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{bovino.registroNacimientoDefinitivo}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputCategoria" class="col-md-3 text-right control-label col-form-label">Categoría del bovino:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{bovino.categoria.nombre}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputEdad" class="col-md-3 text-right control-label col-form-label">Raza del bovino:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{bovino.raza.nombreComun}} ({{bovino.pureza.nombre}})</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputEdad" class="col-md-3 text-right control-label col-form-label">Fecha de nacimiento:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{bovino.fechaNacimiento}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputEdad" class="col-md-3 text-right control-label col-form-label">Contador aretes del bovino:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{bovino.contadorArete}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputObservacionesIniciales" class="col-md-3 text-right control-label col-form-label">Observaciones paso anterior:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <label class="col-md-3 text-left control-label col-form-label">{{this.observacionesAnteriores}}</label>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputObservaciones" class="col-md-3 text-right control-label col-form-label">Observaciones</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputObservaciones" name="inputObservaciones" placeholder="Observaciones">
                        <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputObservaciones.errors?.required && formulario.touched">
                            Ingrese un comentario como observación
                        </div>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0" *ngIf="this.idPaso === 5">
                    <label for="confirmacionEntrega" class="col-md-3 text-right control-label col-form-label">Confirmación de entrega:</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <input type="file" class="file" data-browse-on-zone-click="true" name="confirmacionEntrega" formControlName="confirmacionEntrega" (change)="seleccionarArchivoComprobacion($event)" />
                    </div>
                </div>
                <div class="card-body ">
                    <div class="form-group mb-0 text-center ">
                        <button name="btnRechazar" id="btnRechazar" (click)='tramitarSolicitud("rechazar")' class="btn btn-warning btn-lg  text-uppercase waves-effect waves-light" type="submit">Rechazar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button name="btnTramitar" id="btnTramitar" (click)='tramitarSolicitud("tramitar")' class="btn btn-success btn-lg  text-uppercase waves-effect waves-light" type="submit">Tramitar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


