<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Consultar predios por propietario - Registro Comercio de Identificadores
            </div>
            <hr class="mt-0">
            <div class="card-body">
                <h4 class="card-title">Ingrese la información de búsqueda del predio</h4>
                <div class="form-group row align-items-center mb-0">
                    <label for="inputIdentificacionPropietario" class="col-md-3 text-right control-label col-form-label">Número de identificación del propietario</label>
                    <div class="col-md-9 border-left pb-2 pt-2 input-group">
                        <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" #idPropietario name="inputIdentificacionPropietario" placeholder="Ingrese la identificación del propietario">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" (click)="buscarSitios(idPropietario.value)"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.detalleVisible">
                <div class="card-header bg-info text-white rounded-top">
                    Datos del comercio de identificadores
                </div>
                <hr class="mt-0">
                <form class="form-horizontal r-separator" ngNativeValidate [formGroup]="formulario" (ngSubmit)="registrarComercioIdentificadores()" class="form-horizontal r-separator" action="index.html">
                    <div class="card-body">
                        <h4 class="card-title">Sitio donde desea crear el comercio de identificadores</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputSitio" class="col-md-3 text-right control-label col-form-label">Predio</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <select class="form-control" formControlName="inputSitio" name="inputSitio">
                                    <option value=null selected disabled>Seleccione una opción</option>
                                    <option *ngFor="let sitio of listaSitios" value="{{sitio.idSitio}}">{{sitio.nombre}} - {{sitio.codigoSitio}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Información del Comercio de Identificadores</h4>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputNombre" class="col-md-3 text-right control-label col-form-label">Nombre del local</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputNombre" name="inputNombre" placeholder="Ingrese el nombre del local">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputSuperficieHa" class="col-md-3 text-right control-label col-form-label">Superficie total (Ha)</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control" (keyup)="mascara($event,'decimal')" formControlName="inputSuperficieHa" name="inputSuperficieHa" placeholder="Ingrese la superficie del comercio en hectáreas">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputPermisoOperacion" class="col-md-3 text-right control-label col-form-label">Permiso de Operación N°</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control" (keyup)="mascara($event,'alfanumerico')" formControlName="inputPermisoOperacion" name="inputPermisoOperacion" placeholder="Ingrese el código del permiso de operación">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputFechaVigencia" class="col-md-3 text-right control-label col-form-label">Fecha inicio de vigencia permiso</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="date" class="form-control" formControlName="inputFechaVigencia" name="inputFechaVigencia" placeholder="Seleccione la fecha de inicio de vigencia del permiso de operación">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputFechaFin" class="col-md-3 text-right control-label col-form-label">Fecha fin del permiso</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="date" class="form-control" formControlName="inputFechaFin" name="inputFechaFin" placeholder="Ingrese la fecha de finalización del permiso">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputTipoTelefono" class="col-md-3 text-right control-label col-form-label">Tipo de teléfono</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="radio" value="fijo" name="inputTipoTelefono" formControlName="inputTipoTelefono" (change)="cambiarMascaraTelefono()" > Fijo
                                <input type="radio" value="movil" name="inputTipoTelefono" formControlName="inputTipoTelefono" (change)="cambiarMascaraTelefono()" > Celular
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label for="inputTelefono" class="col-md-3 text-right control-label col-form-label">Teléfono de contacto</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <input type="text" class="form-control" (keyup)="mascara($event,mascaraTelefono)" formControlName="inputTelefono" name="inputTelefono" placeholder="Ingrese el teléfono de contacto">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


