<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class='row'>
    <div class='col'>
        <div class='card border border-info rounded'>
            <div class="card card-header bg-info text-white rounded-top">
                Aprobar las solicitudes de acreditación recibidas
            </div>
            <div class='card-body'>
            <!-- Solicitudes de acreditación recibidas--->
                <div class='row'>
                    <div class='col'>
                        <div class='card border border-light-info rounded'>
                            <div class="card-header">
                                Solicitudes de acreditación recibidas (Médico Veterinario)
                            </div>
                            <div class='card-body'>
                                <div class="table-wrapper-scroll-y custom-scrollbar">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Código</th>
                                                <th>Cédula de identidad o pasaporte</th>
                                                <th>Nombres completos</th>
                                                <th>Título universitario</th>
                                                <th>Tipo de acreditación</th>
                                                <th>Sub-actividad(es) requeridas</th>
                                                <th>Archivos de respaldo</th>
                                                <th>Aprobación</th>
                                                <th>Comentario</th>
<!--<div class="form-group mb-0 text-right">
                                    <button type="button" class="btn btn-info waves-effect waves-light">Confirmar</button>
                                </div>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>26-Ago-2020</td>
                                                <td>SOL-001</td>
                                                <td>1714647417</td>
                                                <td>Xavier Ricardo Salazar Quintana</td>
                                                <td>Esp. Sup. Cambio Climático</td>
                                                <td>Actividades de Producción Pecuaria (BOVINOS)</td>
                                                <td>Operación en Centros de Faenamiento<br/>Operación en Ferias de Comercilización y Exhibición</td>
                                                <td><div class="form-group mb-0 text-right">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Descargar</button>
                                                </div></td>
                                                <td><div class="form-group mb-0 text-right">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Aprobar</button>
                                                </div></td>
                                                <td>S/C</td>
                                            </tr>
                                            <tr>
                                                <td>26-Ago-2020</td>
                                                <td>SOL-002</td>
                                                <td>1271464317</td>
                                                <td>Diego Fernando Salvador Cifuentes</td>
                                                <td>Médico Veterinadio</td>
                                                <td>Actividades de Producción Pecuaria (BOVINOS)</td>
                                                <td>Sensor aprobado por AGROCALIDAD<br/>Operación en Ferias de Comercilización y Exhibición</td>
                                                <td><div class="form-group mb-0 text-right">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Descargar</button>
                                                </div></td>
                                                <td><div class="form-group mb-0 text-right">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Aprobar</button>
                                                </div></td>
                                                <td>S/C</td>
                                            </tr>
                                            <tr>
                                                <td>26-Ago-2020</td>
                                                <td>SOL-003</td>
                                                <td>0992364731</td>
                                                <td>Ana Cristina Rodríguez Checa</td>
                                                <td>Médico Veterinario</td>
                                                <td>Actividades de Producción Pecuaria (BOVINOS)</td>
                                                <td>Operación en Centros de Faenamiento</td>
                                                <td><div class="form-group mb-0 text-right">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Descargar</button>
                                                </div></td>
                                                <td><div class="form-group mb-0 text-right">
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Aprobar</button>
                                                </div></td>
                                                <td>S/C</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-0">
                <!-- Formulario de solicitud -->
                <div class='row'>
                    <div class='col'>
                        <div class="card-body">
                            <div class="form-group mb-0 text-right">
                                <button type="button" class="btn btn-info waves-effect waves-light">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>