<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top font-weight-bold">
        Buscar Certificados Zoosanitarios de Producción y Movilidad - Movilización [CZPM-M]
    </div>
    <form ngNativeValidate [formGroup]="formularioBusqueda" (ngSubmit)="buscarCertificado()" class="form-horizontal r-separator">
        <div class="card-body">
            <div class="form-group row align-items-center mb-0">
                <label class="col-md-4 text-right control-label col-form-label">Ingrese número de CZPM-M: </label>
                <div class="col-md-5 border-left pb-2 pt-2"><input type="text" formControlName="numero_certificado" class="form-control text-center" placeholder=""></div>
                <div class="col-md-3 border-left pb-2 pt-2"><button type="submit" class="btn btn-info waves-effect waves-light">Buscar</button></div>         
            </div>
        </div>
    </form>
</div>
<div class="card border border-info rounded">
    <div class="card-header bg-info text-white rounded-top">
        <span class="font-weight-bold">
            Certificados de Movilización Recibidos
        </span>
        <!-- Cantidad mostrados -->
        <span class="round rounded-circle text-white d-inline-block text-center bg-warning">{{ listaCertificadosMovilizacion.length }}</span>
        <!-- Navegación -->
        <div class="btn-group ml-2" role="group" aria-label="Navegar" >
            <button (click)="anterior()" type="button" class="btn btn-success"  *ngIf="inicio > 0"><i class="fa fa-fast-backward" ></i></button>
            <!--button type="button" class="btn btn-success"><i class="fa fa-play"></i></button-->
            <button (click)="siguiente()" type="button" class="btn btn-success"  *ngIf="listaCertificadosMovilizacion.length > 0"><i class="fa fa-fast-forward"></i></button>
        </div>
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="buscarProductores()" class="form-horizontal r-separator needs-validation">
            <h4 class="card-title" *ngIf="servicioUsuario.usuarioInterno">Productor Pecuario</h4>
            <div class="form-group row align-items-center mb-0" *ngIf="servicioUsuario.usuarioInterno">
                <label class="col-md-3 text-right control-label col-form-label">Productor Pecuario</label>
                <div class="col-md-9 border-left pb-2 pt-2 input-group">
                    <select formControlName="propietario_animales" class="form-control" (change)="cambioProductor()">
                        <option [value]="null" selected disabled>Seleccione un productor pecuario</option>
                        <option *ngFor="let productor of listaProductores" [value]="productor.idUsuariosExternos">{{ productor.nombres }} {{ productor.apellidos}} - {{ productor.razonSocial }}</option>
                    </select>
                    <input formControlName="ci" type="text" class="form-control"placeholder="CI/RUC">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success"><i class="ti-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row p-3">
            <div class="col table-wrapper-scroll-y custom-scrollbar">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="badge-danger text-center">DOCUMENTO</th>
                            <th class="badge-danger text-center">FECHAS</th>
                            <th class="badge-danger text-center">ORIGEN</th>
                            <th class="badge-danger text-center">DESTINO</th>
                            <th class="badge-danger text-center">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let certificado of listaCertificadosMovilizacion">
                            <td>
                                <p><span class="font-weight-bold">{{ certificado.codigo }} </span></p>
                                <p><span class="badge rounded-pill font-weight-bold" [ngClass]="{'badge-warning': certificado.codigoTipoPeriodoValidez==='temporal', 'badge-info':certificado.codigoTipoPeriodoValidez==='definitivo'}">
                                    {{ certificado.nombreTipoPeriodoValidez }}
                                </span></p>
                            <p><button class="btn btn-warning waves-effect waves-light" type="button" (click)="descargarCertificadoMovilizacion(certificado.idCertificadoMovilizacion)"> <span><i class="fas fa-download"></i></span> </button></p>
                            <p><span class="font-weight-bold"> {{ certificado.numeroIdentificacion }} </span></p>
                            <p><span class="font-weight-bold"></span> {{ certificado.nombresProductor }} </p>
                            <p *ngIf="certificado.placaVehiculo"><span class="font-weight-bold">Placa: </span> {{ certificado.placaVehiculo }} </p>
                            </td>
                            <td>
                                <p><span class="font-weight-bold">Emisión: </span> {{ certificado.fechaEmision }} </p>
                                <p><span class="font-weight-bold">Movilización: </span> {{ certificado.fechaHoraMovilizacion }} </p>
                                <p><span class="font-weight-bold">Válido hasta: </span> {{ certificado.fechaHoraFinMovilizacion }} </p>
                                <p *ngIf="certificado.fechaHoraAutoriza"><span class="font-weight-bold">Autorización: </span> {{ certificado.fechaHoraAutoriza }} [{{ certificado.usuarioAutoriza }}] </p>
                                <p *ngIf="certificado.fechaHoraConfirmacion"><span class="font-weight-bold">Confirmación: </span> {{ certificado.fechaHoraConfirmacion }} [{{ certificado.usuarioConfirma }}] </p>
                                <p *ngIf="certificado.fechaHoraAnula"><span class="font-weight-bold">Anulación: </span> {{ certificado.fechaHoraAnula }} [{{ certificado.usuarioAnula }}] </p>
                            </td>
                            <td>
                                <p><span class="font-weight-bold"> {{ certificado.nombreTiposAreasOrigen.toUpperCase() }} </span></p>
                                <p><span class="font-weight-bold"></span> {{ certificado.nombreAreaOrigen.toUpperCase() }} </p>
                                <p><span class="font-weight-bold">Provincia: </span> {{ certificado.nombreProvinciaOrigen }}  </p>
                                <p><span class="font-weight-bold">Cantón: </span> {{ certificado.nombreCantonOrigen }} </p>
                                <p><span class="font-weight-bold">Parroquia: </span> {{ certificado.nombreParroquiaOrigen }} </p>
                            </td>
                            <td>
                                <p><span class="font-weight-bold"> {{ certificado.nombreTiposAreasDestino.toUpperCase() }} </span></p>
                                <p><span class="font-weight-bold"></span> {{ certificado.nombreAreaDestino.toUpperCase() }} </p>
                                <p><span class="font-weight-bold">Provincia: </span> {{ certificado.nombreProvinciaDestino }}  </p>
                                <p><span class="font-weight-bold">Cantón: </span> {{ certificado.nombreCantonDestino }} </p>
                                <p><span class="font-weight-bold">Parroquia: </span> {{ certificado.nombreParroquiaDestino }} </p>
                            </td>
                            <td>
                                <p><span class="badge rounded-pill font-weight-bold" [ngClass]="{'badge-warning': certificado.codigoEstadoDocumento==='ET', 'badge-light-info':certificado.codigoEstadoDocumento==='G', 'badge-danger':certificado.codigoEstadoDocumento==='A', 'badge-info':certificado.codigoEstadoDocumento==='C', 'badge-success':certificado.codigoEstadoDocumento==='ER'}">
                                    {{ certificado.nombreEstadoDocumento }}
                                </span></p>
                                <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown" *ngIf="certificado.codigoEstadoDocumento === 'ET' && (certificado.codigoTiposAreasDestino ==='cen_faen' || certificado.codigoTiposAreasDestino ==='fer_com' || certificado.codigoTiposAreasDestino ==='fer_exp' || certificado.codigoTiposAreasDestino ==='cen_hos') ">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-edit font-18 "></i> </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
                                            <a class="dropdown-item cursor-pointer badge-info font-weight-bold" (click)="actualizarEstado(certificado.idCertificadoMovilizacion, 'Confirmar')">CONFIRMAR</a> 
                                            <!--a class="dropdown-item cursor-pointer badge-danger font-weight-bold" (click)="anularCertificado(certificado.idCertificadoMovilizacion)">Anular</a--> 
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!--td>
                                <span class="badge badge-light-info rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='R'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                                <span class="badge  rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='H'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                                <span class="badge  rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='D'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                                <span class="badge badge-danger rounded-pill" *ngIf="vehiculo.codigoEstadoVehiculo==='ER'">{{ vehiculo.nombreEstadoVehiculo }}</span>
                            </td-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Visor PDF -->
<app-visor-pdf>
</app-visor-pdf>