<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Zona de cobertura
            </div>
            <div class="card-body">
                <h4 class="card-title">Datos de la Zona de Cobertura</h4>
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Nombre</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <span class="form-control">
                            {{ zona?.nombre }}
                        </span>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Descripción</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <span class="form-control">
                            {{ zona?.descripcion }}
                        </span>
                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Fase de vacunación</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <span class="form-control">
                            {{ zona?.nombreFaseVacunacion }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Operadora y Ubicación -->
<div class="row">
    <!-- Operadora -->
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
               Operadoras
            </div>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formularioOperadora" (ngSubmit)="agregarOperadora()" class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Operadora</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="operadora" class="form-control">
                                    <option [value]="null" selected disabled>Seleccione una operadora de vacunación</option>
                                    <option *ngFor="let operadora of listaOperadorasVacunacion" [value]="operadora?.idOperadora"> {{ operadora?.razonSocial }}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioOperadora.controls.operadora.errors?.required && formularioOperadora.touched">
                                    Seleccione una operadora de vacunación
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Agregar
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <hr class="mt-0">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Identificación</th>
                                <th>Razón Social</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let zonaOperadora of listaZonaOperadoras">
                                <td>{{ zonaOperadora?.numeroIdentificacion }}</td>
                                <td>{{ zonaOperadora?.nombreComercial }}</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-outline-secondary font-18" (click)="eliminarZonaOperadora(zonaOperadora.idZonaOperadora)"><i class="mdi mdi-delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Ubicación -->
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Coberturas
            </div>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formularioCobertura" (ngSubmit)="agregarCobertura()" class="form-horizontal r-separator">
                    <div class="card-body">
                        <div class="form-group row align-items-center mb-0">
                            <label class="col-md-3 text-right control-label col-form-label">Cantones</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="canton" class="form-control" (change)="cambioCanton()">
                                    <option [value]="null" selected disabled>Seleccione un cantón</option>
                                    <option *ngFor="let canton of listaCantones" [value]="canton?.id_canton">{{ canton?.nombre }}</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="formularioCobertura.controls.canton.errors?.required && formularioCobertura.touched">
                                    Seleccione un cantón
                                </div>
                            </div>
                            <label class="col-md-3 text-right control-label col-form-label">Parroquias</label>
                            <div class="col-md-9 border-left pb-2 pt-2" >
                                <select formControlName="parroquia" class="form-control">
                                    <option [value]="null" selected disabled>Seleccione una parroquia</option>
                                    <option *ngFor="let parroquia of listaParroquias" [value]="parroquia?.id_parroquia">{{ parroquia?.nombre }}</option>
                                </select>
                                <!--div class="invalid-feedback d-block" *ngIf="formularioCobertura.controls.parroquia.errors?.required && formularioCobertura.touched">
                                    Seleccione una parroquia
                                </div-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Agregar
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <hr class="mt-0">
                <div class="table-wrapper-scroll-y custom-scrollbar">
                    <table class="table table-bordered table-hover v-middle">
                        <thead>
                            <tr>
                                <th>Provincia</th>
                                <th>Cantón</th>
                                <th>Parroquia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cobertura of listaCoberturas">
                                <td>{{ cobertura?.nombreProvincia }}</td>
                                <td>{{ cobertura?.nombreCanton }}</td>
                                <td>{{ cobertura?.nombreParroquia }}</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-outline-secondary font-18" (click)="eliminarCobertura(cobertura.idCobertura)" ><i class="mdi mdi-delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
