<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Roles de usuario
            </div>
            <div class="card-body">
                <!-- Barra de opciones -->
                <div class="row badge-light-info p-3">
                    <!--div class="toolbar"-->
                    <div class="row">
                        <div class="col">
                            <a routerLinkActive="active" routerLink="/rol/nuevo">
                                <button class="btn btn-success waves-effect waves-light" type="button">
                                    Nuevo rol
                                    <span class="btn-label">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <!--/div-->
                </div>
                <!-- Lista de resultados -->
                <div class="row p-3">
                    <div class="col">
                        <div class="table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered table-hover v-middle">
                                <thead>
                                    <tr class="d-flex">
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Tipo de rol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rol of listaRoles" class="d-flex">
                                        <td>{{ rol.codigo}}</td>
                                        <td>
                                            <a class="link cursor-pointer" routerLink='/rol/{{rol.idRoles}}'>
                                                <span class="font-weight-bold">
                                                    {{ rol.nombreRol}}
                                                </span>
                                            </a>
                                        </td>
                                        <td>{{ rol.descripcionRol}}</td>
                                        <td>
                                            <span class="badge badge-info rounded-pill">{{ rol.tipoRol.nombreTipoRol
                                                }}</span>
                                            <br />
                                            <span>
                                                {{ rol.tipoRol.descripcionTipoRol }}
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>