.styled-button {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    padding: 5px 20px; /* Espaciado interno del botón */
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 16px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    font-weight: bold;
  }
  
  .styled-button:hover {
    background-color: #0056b3; /* Cambiar color al pasar el cursor */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más profunda al hacer hover */
  }
  
  .styled-button:active {
    background-color: #003d80; /* Color más oscuro al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más ligera al hacer clic */
  }
  
  .styled-button:focus {
    outline: none; /* Remover el borde de enfoque por defecto */
  }

  .styled-button i {
    margin-right: 8px; /* Espaciado entre el ícono y el texto */
    font-size: 18px; /* Tamaño del ícono */
  }

  .letra {
    font-size: 14px;
    font-weight: bold;
  }

  .custom-table {
    background-color: #EEEEEE;
    color: black;
    font-size: small;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.badge-amarillo {
  background-color: yellow;
  color: black;
  font-weight: bold;
  /*border: 2px solid black;*/
  border-radius: 50px;
  padding: 5px 7px;
  display: inline-block;
  /*width: 60px; /* Ajusta este valor según el ancho deseado */
  text-align: center;
}

.badge-gris {
  background-color: rgb(223, 223, 222);
  color: black;
  font-weight: bold;
  /*border: 2px solid black;*/
  border-radius: 50px;
  padding: 5px 7px;
  display: inline-block;
  /*width: 60px; /* Ajusta este valor según el ancho deseado */
  text-align: center;
}

.customizer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.customizer {
  position: fixed;
  right: -450px; /* Panel oculto por defecto */
  top: 0;
  width: 450px;
  height: 100vh;
  z-index: 1000;
  overflow: hidden; /* Importante: mantén hidden aquí */
  transition: right 0.3s; /* Opcional: animación al abrir/cerrar */
}

.customizer.show-service-panel {
  right: 0; /* Panel visible */
}

/* Solo aplica overflow:visible al contenedor del botón cuando el panel esté abierto */
.customizer.show-service-panel .boton-cierre-panel {
  overflow: visible;
}

.customizer-body {
  padding: 20px;
  overflow-y: auto;       /* Scroll interno solo aquí */
  flex-grow: 1;           /* Ocupa todo el espacio restante */
  min-height: 0;          /* Permite que el contenido contraiga */
}