<hr class="mt-0">
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class="card-header bg-info text-white rounded-top">
                Asignación de trámites
            </div>
            <hr class="mt-0">
            <div class="card-body" *ngIf="this.asignadorNacional">
                <h4 class="card-title">Búsqueda del trámites</h4>
                <form class="form-horizontal r-separator" ngNativeValidate [formGroup]="formularioBusquedaFuncionarios" (ngSubmit)="buscarTramites()" class="form-horizontal r-separator" action="index.html">
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputProvincia" class="col-md-3 text-right control-label col-form-label">Provincia</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="inputProvincia" #idProvincia (change)="cargarOficinasPorProvincia(idProvincia.value)" name="inputProvincia">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let provincia of listaProvincias" value="{{provincia.id_provincia}}">{{provincia.nombre}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formularioBusquedaFuncionarios.controls.inputProvincia.errors?.required && formularioBusquedaFuncionarios.touched">
                                Seleccione una provincia
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label for="inputOficinas" class="col-md-3 text-right control-label col-form-label">Oficina</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="inputOficinas" name="inputOficinas">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let oficina of listaOficinas" value="{{oficina.id_oficina}}">{{oficina.nombre}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formularioBusquedaFuncionarios.controls.inputOficinas.errors?.required && formularioBusquedaFuncionarios.touched">
                                Seleccione una oficina
                            </div>
                            <input class="form-control" type="text" (keyup)="filtrarOficinas($event)" placeholder="Buscar..">
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <h4 class="card-title ml-4">Listado de Trámites</h4>
            <div class="card-body pb-2 pt-2 pl-5 pr-4 col-12" *ngIf="this.listadoTramitesVisible">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Filtrar</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <select class="form-control" name="filtro" #filtroTipo (change)="filtrarSolicitudesTipo(filtroTipo.value)">
                            <option value=null selected disabled>Seleccione una tipo de trámite</option>
                            <option value=0 >Todos</option>
                            <option value=1 >Solicitud de Identificadores</option>
                            <option value=2 >Solicitud de Reareteo</option>
                            <option value=3 >Solicitud Baja de identificador</option>
                        </select>

                    </div>
                </div>
                <div class="form-group row align-items-center mb-0">
                    <label class="col-md-3 text-right control-label col-form-label">Filtrar por identificación ganadero</label>
                    <div class="col-md-9 border-left pb-2 pt-2">
                        <input class="form-control" type="text" (keyup)="filtrarSolicitudesSolicitante($event)" placeholder="Buscar..">
                    </div>
                </div>
                <div class="contenedor-tabla-overflow">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"># Solicitud</th>
                            <th scope="col">Tipo de Trámite</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Id Solicitante</th>
                            <th scope="col">Creador</th>
                            <th scope="col">Fecha creación</th>
                            <th scope="col">Días en espera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let solicitud of listaSolicitudes">
                            <td><input type="radio" class="form-control-lg" id='inputIdSolicitud' (change)='seleccionaSolicitud(solicitud.id_solicitud, solicitud.id_tipo_tramite)' name="inputIdSolicitud"></td>
                            <td>{{solicitud.id_solicitud}}</td>
                            <td>{{solicitud.tipo_solicitud}}</td>
                            <td>{{solicitud.solicitante}}</td>
                            <td>{{solicitud.identificacion_solicitante}}</td>
                            <td>{{solicitud.creador}}</td>
                            <td>{{solicitud.fecha_creacion}}</td>
                            <td class="col-sm-1">{{solicitud.dias_espera}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class='card' *ngIf="this.formularioVisible">
            <div class="card-header bg-info text-white rounded-top">
                Detalle del trámite
            </div>
            <div class="card-body">
                <h4 class="card-title ml-4">Selección de técnico</h4>
                <form class="form-horizontal r-separator" ngNativeValidate [formGroup]="formulario" (ngSubmit)="asignarTramite()" class="form-horizontal r-separator" action="index.html">   
                    <div class="form-group row align-items-center mb-0">
                        <div class="form-group row align-items-center mb-0 col-12">
                            <label class="col-md-3 text-right control-label col-form-label">Número de Solicitud</label>
                            <div class="col-md-9 border-left pb-2 pt-2">
                                <label class="text-left control-label col-form-label" >{{this.idSolicitud}}</label>
                            </div>
                        </div>
                        <label for="inputFuncionario" class="col-md-3 text-right control-label col-form-label">Funcionario</label>
                        <div class="col-md-9 border-left pb-2 pt-2">
                            <select class="form-control" formControlName="inputFuncionario" name="inputFuncionario">
                                <option value=null selected disabled>Seleccione una opción</option>
                                <option *ngFor="let funcionario of listaFuncionarios" value="{{funcionario.id_usuarios_internos}}">{{funcionario.nombres}} {{funcionario.apellidos}}</option>
                            </select>
                            <div class="invalid-feedback d-block" *ngIf="formulario.controls.inputFuncionario.errors?.required && formulario.touched">
                                Seleccione un funcionario
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Asignar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


