<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<hr class="mt-0">
<div class="panel-flotante" *ngIf="panelZonaNueva">
    <div class="row m-5">
        <div class="col">
            <div class="card border border-success rounded">
                <div class="card-header bg-success text-white rounded-top">
                    Nueva zona de cobertura
                </div>
                <div class="card-body">
                    <form ngNativeValidate [formGroup]="formularioZonas" (ngSubmit)="registrarNuevaZona()" class="form-horizontal r-separator">
                        <div class="card-body">
                            <div class="card-body">
                                <div class="form-group row align-items-center mb-0">
                                    <label class="col-md-3 text-right control-label col-form-label">Nombre</label>
                                    <div class="col-md-9 border-left pb-2 pt-2">
                                        <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre de la zona de cobertura">
                                        <div class="invalid-feedback d-block" *ngIf="formularioZonas.controls.nombre.errors?.required && formularioZonas.touched">
                                            Ingrese el nombre de la zona de cobertura
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center mb-0">
                                    <label class="col-md-3 text-right control-label col-form-label">Descripción</label>
                                    <div class="col-md-9 border-left pb-2 pt-2">
                                        <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripción ">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Enviar solicitud</button>
                                <button type="button" class="btn btn-youtube waves-effect waves-light" (click)="cerrarPanel()">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Lista de zonas -->
<div class="row">
    <div class="col">
        <div class="card border border-info rounded">
            <div class="card-header bg-info text-white rounded-top">
                Zonas de Coberturas registradas
            </div>
            <div class="card-body">
                <!-- Barra de opciones -->
                <form [formGroup]="formularioFasesVacunaciones" (ngSubmit)="agregarZona()" class="form-horizontal r-separator">
                    <div class="row badge-light-info p-3">
                        <!--div class="toolbar"-->
                        <div class="row w-100">
                            <div class="border-left pb-2 pt-2 col-lg pull-left">
                                <select class="form-control" formControlName="fase_vacunacion" (change)="cambioFaseVacunacio()">
                                    <option [value]="null" selected disabled>Fase de Vacunación</option>
                                    <option *ngFor="let fase of fasesVacunaciones" [value]="fase.idFaseVacunacion">{{ fase.nombre }}</option>
                                </select>
                            </div>
                            <div class="col-sm border-left pb-2 pt-2 pull-right text-right">
                                <button class="btn btn-success waves-effect waves-light" type="submit">
                                    Zona de cobertura
                                    <span class="btn-label">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!--/div-->
                    </div>
                </form>
                <!-- Lista de resultados -->
                <div class="row p-3">
                    <div class="col">
                        <div class="table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered table-hover v-middle">
                                <thead>
                                    <tr>
                                        <th>Nombre zona</th>
                                        <th>Provincia</th>
                                        <th>Descripcion</th>
                                        <th>Fase de Vacunación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let zona of listaZonas">
                                        <td>{{ zona?.nombre }} </td>
                                        <td>{{ zona?.nombreProvincia }}</td>
                                        <td>{{ zona?.descripcion }}</td>
                                        <td>{{ zona?.nombreFaseVacunacion }}</td>
                                        <td>
                                            <button type="button" routerLink="/zona-cobertura/{{ zona.idZona }}" class="btn btn-success waves-effect waves-light"><span class="btn-label">
                                                <i class="fas fa-edit"></i></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>